<template>
    <div>
        <!-- Title -->
        <h1 class="text-2xl font-bold mb-4">Barèmes d'Honoraires</h1>

        <UCard>
            <!-- Add New Fee Schedule Button -->
            <div class="mb-4 flex justify-end">
                <UButton icon="i-heroicons-plus-20-solid" size="xs" color="primary" @click="openSlideover('add')">Ajouter un nouveau barème d'honoraires</UButton>
            </div>

            <!-- Table -->
            <UTable :columns="columns" :rows="filteredFeeSchedules" :loading="loading">
                <template #actions-data="{ row }">
                    <UDropdown :items="actionItems(row)">
                        <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                    </UDropdown>
                </template>

                <template #fee-data="{ row }">
                    <span v-if="row.fee_type === FeeType.POURCENTAGE">{{ row.fee }} %</span>
                    <span v-else>{{ $formatPrice(row.fee) }}</span>
                </template>

                <template #price_range_start-data="{ row }">
                    <span>{{ $formatPrice(row.price_range_start) }}</span>
                </template>

                <template #price_range_end-data="{ row }">
                    <span>{{ $formatPrice(row.price_range_end) }}</span>
                </template>

                <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <div class="text-gray-500 text-sm">Aucun barème trouvé.</div>
                        </div>
                    </template>
            </UTable>
        </UCard>


        <!-- Slideover for Add/Edit Fee Schedule -->
        <USlideover v-model="isSlideoverOpen">
            <UCard class="flex flex-col flex-1"
                :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
                <template #header>
                    <div class="flex items-center justify-between">
                        <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                            {{ slideoverMode === 'add' ? 'Ajouter un barème d\'honoraires' : 'Modifier le barème d\'honoraires' }}
                        </h3>
                        <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                            @click="isSlideoverOpen = false" />
                    </div>
                </template>
                <UForm :schema="schema" :state="formState" class="space-y-4" @submit="onSubmit">
                    <UFormGroup label="Début de la fourchette de prix" name="price_range_start">
                        <UInput v-model="formState.price_range_start" type="number" />
                    </UFormGroup>
                    <UFormGroup label="Fin de la fourchette de prix" name="price_range_end">
                        <UInput v-model="formState.price_range_end" type="number" />
                    </UFormGroup>
                    <UFormGroup label="Type d'honoraire" name="fee_type">
                        <USelectMenu v-model="formState.fee_type" :options="feeTypes" placeholder="Type d'honoraire" />
                    </UFormGroup>
                    <UFormGroup label="Honoraire" name="fee">
                        <UInput v-model="formState.fee" type="number" />
                    </UFormGroup>
                    <UButton type="submit">
                        {{ slideoverMode === 'add' ? 'Ajouter' : 'Modifier' }}
                    </UButton>
                </UForm>
            </UCard>
        </USlideover>

        <!-- Modal for Delete Confirmation -->
        <UModal v-model="isDeleteModalOpen">
            <UCard :ui="{ ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
                <template #header>
                    <div class="flex items-center justify-between">
                        <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                            Confirmer la suppression
                        </h3>
                        <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                            @click="isDeleteModalOpen = false" />
                    </div>
                </template>
                <div class="p-4">
                    <p>Êtes-vous sûr de vouloir supprimer ce barème d'honoraires ? Cette action est irréversible.</p>
                </div>
                <template #footer>
                    <div class="flex justify-end gap-2 p-4">
                        <UButton color="gray" @click="isDeleteModalOpen = false">Annuler</UButton>
                        <UButton color="red" @click="confirmDelete">Supprimer</UButton>
                    </div>
                </template>
            </UCard>
        </UModal>
    </div>
</template>

<script setup>
definePageMeta({
    layout: 'authenticated'
})

import { ref, reactive, computed, onMounted } from 'vue';
import { z } from 'zod';
import { FeeType } from '~/utils/enums';

const supabase = useSupabaseClient();
const user = useSupabaseUser();
const { feeSchedules, jobs, countries, contactsProperties } = useRealtimeState()

const feeTypes = Object.values(FeeType);
const columns = [
    { key: 'price_range_start', label: 'Début de la fourchette de prix' },
    { key: 'price_range_end', label: 'Fin de la fourchette de prix' },
    { key: 'fee', label: 'Honoraire' },
    { key: 'actions' }
];

const loading = ref(false);

const isSlideoverOpen = ref(false);
const slideoverMode = ref('add');
const formState = reactive({
    price_range_start: null,
    price_range_end: null,
    fee_type: '',
    fee: null
});

const schema = z.object({
    price_range_start: z.number().positive('Début de la fourchette de prix requis'),
    price_range_end: z.number().positive('Fin de la fourchette de prix requise'),
    fee_type: z.string().nonempty('Type d\'honoraire requis'),
    fee: z.number().positive('Honoraire requis')
});

const actionItems = (row) => [
    [{
        label: 'Modifier',
        icon: 'i-heroicons-pencil-square-20-solid',
        click: () => openSlideover('edit', row)
    }],
    [{
        label: 'Supprimer',
        icon: 'i-heroicons-trash-20-solid',
        click: () => openDeleteModal(row)
    }]
];

const openSlideover = (mode, feeSchedule = null) => {
    slideoverMode.value = mode;
    if (feeSchedule) {
        Object.assign(formState, feeSchedule);
    } else {
        Object.assign(formState, {
            price_range_start: null,
            price_range_end: null,
            fee_type: '',
            fee: null
        });
    }
    isSlideoverOpen.value = true;
};

const onSubmit = async (event) => {
    const data = { ...event.data, user_id: user.value.id };
    let result;
    if (slideoverMode.value === 'add') {
        result = await supabase.from('fee_schedules').insert(data).select();
        if (!result.error) {
            feeSchedules.value.push(result.data[0]);
        }
    } else {
        result = await supabase.from('fee_schedules').update(data).eq('id', formState.id);
        if (!result.error) {
            const index = feeSchedules.value.findIndex(feeSchedule => feeSchedule.id === formState.id);
            if (index !== -1) {
                feeSchedules.value[index] = { ...formState, ...data };
            }
        }
    }
    if (result.error) {
        console.error('Error:', result.error);
    } else {
        isSlideoverOpen.value = false;
    }
};

const isDeleteModalOpen = ref(false);
const feeScheduleToDelete = ref(null);

const openDeleteModal = (feeSchedule) => {
    feeScheduleToDelete.value = feeSchedule;
    isDeleteModalOpen.value = true;
};

const confirmDelete = async () => {
    if (feeScheduleToDelete.value) {
        const { error } = await supabase.from('fee_schedules').delete().eq('id', feeScheduleToDelete.value.id);
        if (error) {
            console.error('Error deleting fee schedule:', error);
        } else {
            feeSchedules.value = feeSchedules.value.filter(feeSchedule => feeSchedule.id !== feeScheduleToDelete.value.id);
            feeScheduleToDelete.value = null;
            isDeleteModalOpen.value = false;
        }
    }
};

const filteredFeeSchedules = computed(() => {
    return feeSchedules.value.filter(feeSchedule => feeSchedule.user_id === user.value.id);
});
</script>

<style scoped>
/* Ajoutez vos styles personnalisés ici */
</style>
