<template>

    <h1 class="text-2xl font-bold mb-4">Simulateur de taux d'endettement</h1>
    <UForm :state="formState" @submit="calculateDebtRatio" class="space-y-4">
        <UFormGroup label="Revenu emprunteur" name="borrower_income">
            <UInput v-model="formState.borrower_income" type="number" placeholder="Revenu emprunteur" />
        </UFormGroup>
        <UFormGroup label="Revenu co-emprunteur (facultatif)" name="co_borrower_income">
            <UInput v-model="formState.co_borrower_income" type="number" placeholder="Revenu co-emprunteur" />
        </UFormGroup>
        <UFormGroup label="Autres revenus mensuels réguliers (facultatif)" name="other_monthly_income">
            <UInput v-model="formState.other_monthly_income" type="number"
                placeholder="Autres revenus mensuels réguliers" />
        </UFormGroup>
        <UFormGroup label="Type de crédit" name="credit_type">
            <USelectMenu v-model="formState.credit_type" :options="creditTypes" placeholder="Type de crédit" />
        </UFormGroup>
        <UFormGroup label="Crédits en cours" name="current_credits">
            <UInput v-model="formState.current_credits" type="number" placeholder="Crédits en cours" />
        </UFormGroup>
        <UFormGroup label="Pension alimentaire (facultatif)" name="alimony">
            <UInput v-model="formState.alimony" type="number" placeholder="Pension alimentaire" />
        </UFormGroup>
        <UFormGroup label="Autres charges régulières (facultatif)" name="other_expenses">
            <UInput v-model="formState.other_expenses" type="number" placeholder="Autres charges régulières" />
        </UFormGroup>
        <UButton type="submit" color="primary">Calculer le taux d'endettement</UButton>
    </UForm>

    <div v-if="resultsVisible" class="mt-4">
        <h2 class="text-xl font-semibold">Taux d'endettement : {{ debtRatio.toFixed(2) }} %</h2>
    </div>

    <UModal v-model="isErrorModalOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Erreur
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isErrorModalOpen = false" />
                </div>
            </template>
            <div class="p-4">
                <p>{{ errorMessage }}</p>
            </div>
        </UCard>
    </UModal>
</template>

<script setup>
definePageMeta({
  layout: 'authenticated'
})

import { ref, reactive } from 'vue';

const formState = reactive({
    borrower_income: null,
    co_borrower_income: 0,
    other_monthly_income: 0,
    credit_type: '',
    current_credits: null,
    alimony: 0,
    other_expenses: 0
});

const creditTypes = [
    { value: 'mortgage', label: 'Prêt immobilier' },
    { value: 'consumer', label: 'Prêt à la consommation' },
    { value: 'auto', label: 'Prêt auto' },
    { value: 'other', label: 'Autre' }
];

const resultsVisible = ref(false);
const debtRatio = ref(0);
const isErrorModalOpen = ref(false);
const errorMessage = ref('');

const calculateDebtRatio = (event) => {

    if (!formState.borrower_income || !formState.credit_type || !formState.current_credits) {
        errorMessage.value = 'Veuillez remplir les champs obligatoires.';
        isErrorModalOpen.value = true;
        return;
    }

    const borrowerIncome = parseFloat(formState.borrower_income);
    const coBorrowerIncome = parseFloat(formState.co_borrower_income || 0);
    const otherMonthlyIncome = parseFloat(formState.other_monthly_income || 0);
    const currentCredits = parseFloat(formState.current_credits);
    const alimony = parseFloat(formState.alimony || 0);
    const otherExpenses = parseFloat(formState.other_expenses || 0);

    const totalIncome = borrowerIncome + coBorrowerIncome + otherMonthlyIncome;
    const totalExpenses = currentCredits + alimony + otherExpenses;

    debtRatio.value = (totalExpenses / totalIncome) * 100;

    resultsVisible.value = true;
};
</script>