<template>
    <h1 class="text-2xl font-bold mb-4">Simulateur de frais de notaire</h1>
    <UForm :state="formState" @submit="calculateNotaryFees" class="space-y-4">
        <UFormGroup label="Prix d'achat du bien" name="property_price">
            <UInput v-model="formState.property_price" type="number" placeholder="Prix d'achat du bien" />
        </UFormGroup>
        <UFormGroup label="Département" name="department">
            <USelectMenu option-attribute="label" value-attribute="value" v-model="formState.department"
                :options="departments" placeholder="Sélectionnez un département" />
        </UFormGroup>
        <UFormGroup label="Type de bien" name="property_type">
            <USelectMenu option-attribute="label" value-attribute="value" v-model="formState.property_type"
                :options="propertyTypes" placeholder="Ancien ou neuf" />
        </UFormGroup>
        <UButton type="submit" color="primary">Calculer les frais de notaire</UButton>
    </UForm>

    <div v-if="notaryFees !== null" class="mt-4">
        <h2 class="text-xl font-semibold">Montant des frais de notaire : {{ notaryFees.toFixed(2) }} €</h2>
    </div>
    <UModal v-model="isErrorModalOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Erreur
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isErrorModalOpen = false" />
                </div>
            </template>
            <div class="p-4">
                <p>{{ errorMessage }}</p>
            </div>
        </UCard>
    </UModal>
</template>

<script setup>
definePageMeta({
  layout: 'authenticated'
})

import { ref, reactive } from 'vue';

const supabase = useSupabaseClient();

const formState = reactive({
    property_price: null,
    department: '',
    property_type: ''
});

const departments = [
    { value: 'Indre', label: 'Indre' },
    { value: 'Isère', label: 'Isère' },
    { value: 'Morbihan', label: 'Morbihan' },
    { value: 'Mayotte', label: 'Mayotte' },
    { value: 'Autres départements', label: 'Autres départements' }
];

const propertyTypes = [
    { value: 'old', label: 'Ancien' },
    { value: 'new', label: 'Neuf' }
];

const notaryFees = ref(null);
const isErrorModalOpen = ref(false);
const errorMessage = ref('');

const calculateNotaryFees = async (event) => {

    if (!formState.property_price || !formState.department || !formState.property_type) {
        errorMessage.value = 'Veuillez remplir tous les champs.';
        isErrorModalOpen.value = true;
        return;
    }

    const { data, error } = await supabase
        .from('notary_fees')
        .select('*')
        .eq('department', formState.department)
        .single();

    if (error) {
        console.error('Error fetching notary fees:', error);
        errorMessage.value = 'Erreur lors de la récupération des frais de notaire.';
        isErrorModalOpen.value = true;
        return;
    }

    const rate = formState.property_type === 'old' ? data.old_property_rate : data.new_property_rate;
    notaryFees.value = formState.property_price * (rate / 100);
};

</script>
