<template>

      <h1 class="text-2xl font-bold mb-4">Simulateur de rendement locatif</h1>
      <UForm :state="formState" @submit="calculateRentalYield" class="space-y-4">
        <UFormGroup label="Prix d'achat du bien immobilier" name="property_price">
          <UInput v-model="formState.property_price" type="number" placeholder="Prix d'achat du bien immobilier" />
        </UFormGroup>
        <UFormGroup label="Type de bien" name="property_type">
          <USelectMenu v-model="formState.property_type" :options="propertyTypes" placeholder="Ancien ou neuf" />
        </UFormGroup>
        <UFormGroup label="Coût des travaux (facultatif)" name="work_cost">
          <UInput v-model="formState.work_cost" type="number" placeholder="Coût des travaux" />
        </UFormGroup>
        <UFormGroup label="Charges annuelles (facultatif)" name="annual_charges">
          <UInput v-model="formState.annual_charges" type="number" placeholder="Charges annuelles" />
        </UFormGroup>
        <UFormGroup label="Taxe foncière (facultatif)" name="property_tax">
          <UInput v-model="formState.property_tax" type="number" placeholder="Taxe foncière" />
        </UFormGroup>
        <UFormGroup label="Loyer mensuel" name="monthly_rent">
          <UInput v-model="formState.monthly_rent" type="number" placeholder="Loyer mensuel" />
        </UFormGroup>
        <UButton type="submit" color="primary">Calculer le rendement locatif</UButton>
      </UForm>
  
      <div v-if="resultsVisible" class="mt-4 space-y-4">
        <div>
          <h2 class="text-xl font-semibold">Rendement locatif brut : {{ grossYield.toFixed(2) }} %</h2>
        </div>
        <div>
          <h2 class="text-xl font-semibold">Rendement locatif net : {{ netYield.toFixed(2) }} %</h2>
        </div>
        <div>
          <h2 class="text-xl font-semibold">Cash flow immobilier : {{ cashFlow.toFixed(2) }} €</h2>
        </div>
      </div>
   
    <UModal v-model="isErrorModalOpen">
      <UCard class="flex flex-col flex-1"
        :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
        <template #header>
          <div class="flex items-center justify-between">
            <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
              Erreur
            </h3>
            <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
              @click="isErrorModalOpen = false" />
          </div>
        </template>
        <div class="p-4">
          <p>{{ errorMessage }}</p>
        </div>
      </UCard>
    </UModal>
  </template>

<script setup>
definePageMeta({
  layout: 'authenticated'
})

import { ref, reactive } from 'vue';

const formState = reactive({
  property_price: null,
  property_type: '',
  work_cost: 0,
  annual_charges: 0,
  property_tax: 0,
  monthly_rent: null
});

const propertyTypes = [
  { value: 'old', label: 'Ancien' },
  { value: 'new', label: 'Neuf' }
];

const resultsVisible = ref(false);
const grossYield = ref(0);
const netYield = ref(0);
const cashFlow = ref(0);
const isErrorModalOpen = ref(false);
const errorMessage = ref('');

const calculateRentalYield = (event) => {

  if (!formState.property_price || !formState.property_type || !formState.monthly_rent) {
    errorMessage.value = 'Veuillez remplir les champs obligatoires.';
    isErrorModalOpen.value = true;
    return;
  }

  const propertyPrice = parseFloat(formState.property_price);
  const workCost = parseFloat(formState.work_cost || 0);
  const annualCharges = parseFloat(formState.annual_charges || 0);
  const propertyTax = parseFloat(formState.property_tax || 0);
  const monthlyRent = parseFloat(formState.monthly_rent);

  const totalInvestment = propertyPrice + workCost;
  const annualRent = monthlyRent * 12;

  // Calcul du rendement locatif brut
  grossYield.value = (annualRent / totalInvestment) * 100;

  // Calcul du rendement locatif net
  netYield.value = ((annualRent - annualCharges - propertyTax) / totalInvestment) * 100;

  // Calcul du cash flow immobilier
  cashFlow.value = annualRent - annualCharges - propertyTax;

  resultsVisible.value = true;
};
</script>
