<template>
    <USlideover v-model="isOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Détails du contact
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="closeSlideover" />
                </div>
            </template>
            <div v-if="isLoading" class="flex justify-center items-center h-40">
                Chargement...
            </div>
            <div v-else-if="contact" class="flex flex-col gap-4">
                <UFormGroup label="Avatar" name="avatar">
                    <UAvatar class="mt-4" size="3xl" :src="contact?.avatar" :alt="contact?.last_name + ' ' + contact?.first_name" />
                </UFormGroup>
                <UFormGroup label="Date de création" name="created_at">
                    <UInput disabled v-model="new Date(contact.created_at).toISOString().split('T')[0]" type="date" />
                </UFormGroup>
                <UFormGroup label="Pays" name="country_id">
                    <UInput disabled v-model="contact.countries.name" />
                </UFormGroup>
                <UFormGroup label="Prénom" name="first_name">
                    <UInput disabled v-model="contact.first_name" />
                </UFormGroup>
                <UFormGroup label="Nom" name="last_name">
                    <UInput disabled v-model="contact.last_name" />
                </UFormGroup>
                <UFormGroup label="Téléphone" name="phone">
                    <UBadge color="white" variant="solid" size="xs" v-for="p in contact.phone"
                        class="inline-flex items-center gap-1">
                        <UIcon name="i-heroicons-phone-20-solid" /><a :href="`tel:${p}`">{{ p }}</a>
                    </UBadge>
                    <div v-if="!contact.phone.length" class="text-sm text-gray-400">Aucun numéro de téléphone</div>
                </UFormGroup>
                <UFormGroup label="Email" name="email">
                    <UBadge color="white" variant="solid" size="xs" v-for="e in contact.email"
                        class="inline-flex items-center gap-1">
                        <UIcon name="i-heroicons-envelope-20-solid" /><a :href="`mailto:${e}`">{{ e }}</a>
                    </UBadge>
                    <div v-if="!contact.email.length" class="text-sm text-gray-400">Aucune adresse email</div>
                </UFormGroup>
                <UFormGroup label="Type de contact" name="contact_type">
                    <UBadge color="white" variant="solid" size="xs" v-for="ct in contact.contact_type"
                        class="inline-flex items-center gap-1">{{ ct }}
                    </UBadge>
                    <div v-if="!contact.contact_type" class="text-sm text-gray-400">Aucune type de contact</div>
                </UFormGroup>
                <UFormGroup label="Date de naissance" name="birth_date">
                    <UInput disabled v-model="contact.birth_date" type="date" />
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <UInput v-if="!contact.address" disabled v-model="contact.address" />
                    <UInput v-else disabled v-model="contact.address.label" />
                </UFormGroup>
                <UFormGroup label="Nom de la société" name="company_name">
                    <UInput disabled v-model="contact.company_name" />
                </UFormGroup>
                <UFormGroup class="flex-1" label="Métier" name="jobs">
                    <UBadge color="white" variant="solid" size="xs" v-for="cj in contact.contacts_jobs"
                        class="inline-flex items-center gap-1">{{ cj.jobs.name }}
                    </UBadge>
                    <div v-if="!contact.contacts_jobs" class="text-sm text-gray-400">Aucune métier</div>
                </UFormGroup>
                <UFormGroup label="Budget Max" name="budget_max">
                    <UInput disabled v-model="contact.budget_max" type="number" />
                </UFormGroup>
                <UFormGroup label="Type de bien" name="property_type">
                    <UBadge color="white" variant="solid" size="xs" v-for="pt in contact.property_type"
                        class="inline-flex items-center gap-1">{{ pt }}
                    </UBadge>
                    <div v-if="!contact.property_type" class="text-sm text-gray-400">Aucun type de bien</div>
                </UFormGroup>
                <UFormGroup label="Nombre de chambres min." name="bedrooms">
                    <UInput disabled v-model="contact.bedrooms" type="number" />
                </UFormGroup>
                <UFormGroup label="Nombre de pièces min?" name="rooms">
                    <UInput disabled v-model="contact.rooms" type="number" />
                </UFormGroup>
                <UFormGroup label="Surface terrain en m² min." name="area_sq_m">
                    <UInput disabled v-model="contact.area_sq_m" type="number" />
                </UFormGroup>
                <UFormGroup label="Secteur de recherche" name="sector">
                    <UInput v-if="!contact.sector" disabled v-model="contact.sector" />
                    <UInput v-else disabled v-model="contact.sector.label" />
                </UFormGroup>
                <UFormGroup :label="'Rayon de recherche (' + contact.search_radius_km + 'km)'" name="search_radius_km">
                    <div class="flex items-center gap-2">
                        <div>0</div>
                        <URange disabled v-model="contact.search_radius_km" :min="0" :max="100" />
                        <div>100</div>
                    </div>
                </UFormGroup>
                <UFormGroup label="Notes" name="notes">
                    <UTextarea disabled v-model="contact.notes" />
                </UFormGroup>

                <UDivider label="Rapprochement"></UDivider>
                <div v-if="!contact.contacts_properties || !contact.contacts_properties.length"
                    class="text-sm text-gray-400 text-center">
                    Aucun résultat</div>
                <NuxtLink v-else v-for="property in contact.contacts_properties.filter(cp => cp.properties.user_id === user?.id)"
                    :to="{
        path: '/properties',
        query: {
            propertyId: property.properties.id
        }
    }"><UBadge
                    :ui="{ base: 'cursor-pointer' }"  color="primary" variant="soft" size="sm"
                    class="inline-flex items-center gap-1">
                    <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                    <span>{{ property.properties.address.label }}</span>
                </UBadge></NuxtLink>

            </div>
        </UCard>
    </USlideover>
</template>

<script setup>
import { useContactSlideover } from '~/composables/useContactSlideover'

const { isOpen, contact, isLoading, closeSlideover } = useContactSlideover()
const { $openGoogleMaps } = useNuxtApp();

const user = useSupabaseUser();
</script>