<template>
  <div class="flex h-screen overflow-hidden" @click="handleClickOutside">
    <!-- Sidebar -->
    <aside v-if="user" ref="sidebar" :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
      class="lg:border-0 border-r border-r-gray-600 fixed inset-y-0 left-0 z-50 w-72 transform bg-gray-900 transition-transform duration-300 ease-in-out dark:bg-boxdark lg:static lg:translate-x-0">
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between p-4 mb-6">
          <div class="flex items-center">
            <img class="w-12 h-auto" src="/img/logo.png" alt="Logo YB-LEADS" />
            <div class="text-white text-md font-semibold">YB-Leads</div>
          </div>
          <button @click="sidebarToggle = false" class="lg:hidden text-white">
            <UIcon class="text-3xl text-primary" dynamic name="bxs:chevron-left" />
          </button>
        </div>
        <!-- Sidebar content here -->
        <ul class="space-y-3">
          <li>
            <NuxtLink to="/"
              class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
              <div>
                <UIcon dynamic name="bxs:contact"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Contacts</span>
              </div>
              <UIcon dynamic name="ph:dot-duotone" v-if="$route.path === '/' && $route.query?.tab !== 'Partenaires'" class="text-3xl text-primary" />
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/properties"
              class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
              <div>
                <UIcon dynamic name="mdi:home-city"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Biens immobiliers</span>
              </div>
              <UIcon dynamic name="ph:dot-duotone" v-if="$route.path === '/properties'" class="text-3xl text-primary" />
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/prospect"
              class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
              <div>
                <UIcon dynamic name="mdi:home-search-outline"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Prospection</span>
              </div>
              <UIcon dynamic name="ph:dot-duotone" v-if="$route.path === '/prospect'" class="text-3xl text-primary" />
            </NuxtLink>
          </li>
          <li>
            <NuxtLink :to="{
    path: '/',
    query: {
      tab: 'Partenaires'
    }
  }" class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
              <div>
                <UIcon dynamic name="mdi:partnership-outline"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Partenaires</span>
              </div>
              <UIcon dynamic name="ph:dot-duotone" v-if="$route.path === '/' && $route.query.tab === 'Partenaires'" class="text-3xl text-primary" />
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/fee-schedule"
              class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
              <div>
                <UIcon dynamic name="material-symbols:percent"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Barème d'honoraires</span>
              </div>
              <UIcon dynamic name="ph:dot-duotone" v-if="$route.path === '/fee-schedule'"
                class="text-3xl text-primary" />
            </NuxtLink>
          </li>
          <li>
            <button
              class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50"
              @click="toggleSimulateurs">
              <div class="flex items-center">
                <UIcon dynamic name="mdi:calculator"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Simulateurs</span>
              </div>
              <UIcon dynamic :name="simulateursOpen ? 'mdi:chevron-up' : 'mdi:chevron-down'"
                class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
            </button>
            <transition name="slide-fade">
              <ul v-if="simulateursOpen" class="pl-10 space-y-2 mt-2">
                <li>
                  <NuxtLink to="/simulators/notary-fee"
                    class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
                    <span>Frais de notaire</span>
                    <UIcon dynamic name="ph:dot-duotone" v-if="$route.path.includes('notary-fee')"
                      class="text-3xl text-primary" />

                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/simulators/rental-yield"
                    class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
                    <span>Rendement locatif</span>
                    <UIcon dynamic name="ph:dot-duotone" v-if="$route.path.includes('rental-yield')"
                      class="text-3xl text-primary" />

                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/simulators/debt-ratio"
                    class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
                    <span>Taux d'endettement</span>
                    <UIcon dynamic name="ph:dot-duotone" v-if="$route.path.includes('debt-ratio')"
                      class="text-3xl text-primary" />

                  </NuxtLink>
                </li>
              </ul>
            </transition>
          </li>
          <li>
            <NuxtLink to="/feedback"
              class="group justify-between relative flex items-center gap-1.5 focus:outline-none focus-visible:outline-none dark:focus-visible:outline-none focus-visible:before:ring-inset focus-visible:before:ring-1 focus-visible:before:ring-primary-500 dark:focus-visible:before:ring-primary-400 before:absolute before:inset-px before:rounded-md disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 w-full focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 rounded-md font-medium text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50">
              <div>
                <UIcon dynamic name="material-symbols:feedback"
                  class="w-5 h-5 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-200" />
                <span class="ml-3 truncate relative">Boite à idées</span>
              </div>
              <UIcon dynamic name="ph:dot-duotone" v-if="$route.path === '/feedback'" class="text-3xl text-primary" />
            </NuxtLink>
          </li>

        </ul>

      </div>
    </aside>

    <!-- Main content -->
    <div class="relative flex flex-1 flex-col overflow-x-hidden overflow-y-auto">
      <header v-if="user" class="bg-gray-900 border-b border-b-primary sticky top-0 z-10 flex w-full">
        <div class="flex items-center justify-between w-full px-4 py-4 md:px-6 2xl:px-11">
          <div class="flex items-center gap-2 sm:gap-4 lg:hidden">
            <button @click="sidebarToggle = !sidebarToggle" class="text-gray-700">
              <UIcon class="text-3xl text-primary" dynamic name="solar:hamburger-menu-broken" />
            </button>
            <div class="flex items-center">
            <img class="w-12 h-auto" src="/img/logo.png" alt="Logo YB-LEADS" />
            <div class="text-white text-md font-semibold">YB-Leads</div>
          </div>
          </div>
          <div class="flex items-center ml-auto gap-4">
            <UDropdown :items="items" :popper="{ placement: 'bottom-start' }">
              <UAvatar :src="userProfile?.avatar" :alt="userProfile?.full_name" />
            </UDropdown>

          </div>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
          <NuxtPage />
        </div>
      </main>
    </div>
  </div>

  <ViewContactSlideover />
  <USlideover v-model="isFilesSlideoverOpen">
    <UCard class="flex flex-col flex-1"
      :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
      <template #header>
        <div class="flex items-center justify-between">
          <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
            Mes documents
          </h3>
          <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
            @click="isFilesSlideoverOpen = false" />
        </div>
      </template>

      <UForm :state="filesFormState" :schema="schema" class="space-y-4" @submit="onSubmitFilesForm">
        <UFormGroup label="Bon de visite" name="technical_sheet_url">
          <div v-if="filesFormState.visit_slip_url" class="flex items-center gap-2">
            <a :href="filesFormState.visit_slip_url" target="_blank" class="text-blue-500 underline text-sm">Voir le bon
              de
              visite</a>
            <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
              @click="removeFile('visit_slip_url')" />
          </div>
          <UInput ref="fileVisitSlip" type="file"
            accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            @change="event => handleFileUpload(event, 'visit_slip_url')" />
        </UFormGroup>
        <UFormGroup label="Offre d'achat" name="purchase_offer_url">
          <div v-if="filesFormState.purchase_offer_url" class="flex items-center gap-2">
            <a :href="filesFormState.purchase_offer_url" target="_blank" class="text-blue-500 underline text-sm">Voir
              l'offre
              d'achat</a>
            <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
              @click="removeFile('purchase_offer_url')" />
          </div>
          <UInput ref="filePurchaseOffer" type="file"
            accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            @change="event => handleFileUpload(event, 'purchase_offer_url')" />
        </UFormGroup>
        <UFormGroup label="Fiche technique" name="technical_sheet_url">
          <div v-if="filesFormState.technical_sheet_url" class="flex items-center gap-2">
            <a :href="filesFormState.technical_sheet_url" target="_blank" class="text-blue-500 underline text-sm">Voir
              la
              fiche technique</a>
            <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
              @click="removeFile('technical_sheet_url')" />
          </div>
          <UInput ref="fileTechnicalSheet" type="file"
            accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            @change="event => handleFileUpload(event, 'technical_sheet_url')" />
        </UFormGroup>
        <UFormGroup label="Documents divers" name="miscellaneous_docs_url">
          <div v-if="filesFormState.miscellaneous_docs_url && filesFormState.miscellaneous_docs_url.length">
            <div v-for="(url, index) in filesFormState.miscellaneous_docs_url" :key="index"
              class="flex items-center mb-2">
              <a :href="url" target="_blank" class="text-blue-500 underline">Document {{ index + 1 }}</a>
              <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
                @click="removeFile('miscellaneous_docs_url', index)" />
            </div>
          </div>
          <UInput ref="fileMisc" type="file"
            accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            multiple @change="event => handleFileUpload(event, 'miscellaneous_docs_url', true)" />
        </UFormGroup>
        <UButton type="submit" :loading="loading">
          Modifier
        </UButton>
      </UForm>
    </UCard>
  </USlideover>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue';
import { useRouter } from 'vue-router';
import { useContactSlideoverProvider } from '~/composables/useContactSlideover'
import { z } from 'zod';
const { fetchData, setupRealtimeListeners, cleanup, userDetails } = useRealtimeState()

useContactSlideoverProvider();

const loading = ref(false);
const router = useRouter();
const supabase = useSupabaseClient();
const sidebarToggle = ref(false);
const sidebar = ref(null);
const simulateursOpen = ref(false);
const isFilesSlideoverOpen = ref(false);
const user = useSupabaseUser();
const userProfile = ref(null);

const fileVisitSlip = ref(null);
const filePurchaseOffer = ref(null);
const fileTechnicalSheet = ref(null);
const fileMisc = ref(null);

const filesFormState = reactive({
  'visit_slip_url': '',
  'purchase_offer_url': '',
  'technical_sheet_url': '',
  'miscellaneous_docs_url': []
})


const schema = z.object({
  visit_slip_url: z.string().optional().nullable(),
  purchase_offer_url: z.string().optional().nullable(),
  technical_sheet_url: z.string().optional().nullable(),
  miscellaneous_docs_url: z.array(z.string().url()).max(10, 'Pas plus de six documents divers').optional().nullable(),
});

const handleFileUpload = async (event, key, multiple = false) => {
  if (loading.value) return;
  loading.value = true;
  let files = null;

  if (key === 'visit_slip_url') {
    files = fileVisitSlip.value.$el.querySelector('input[type="file"]').files
  } else if (key === 'purchase_offer_url') {
    files = filePurchaseOffer.value.$el.querySelector('input[type="file"]').files
  } else if (key === 'technical_sheet_url') {
    files = fileTechnicalSheet.value.$el.querySelector('input[type="file"]').files
  } else if (key === 'miscellaneous_docs_url') {
    files = fileMisc.value.$el.querySelector('input[type="file"]').files
  } else {
    loading.value = false;
    return;
  }

  const urls = [];
  const acceptedDocumentFormats = ['application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'];

  for (const file of files) {
    if (!acceptedDocumentFormats.includes(file.type)) {
      console.error(`Invalid file type for documents: ${file.type}`);
      continue;
    }
    const path = await uploadFile(file);
    if (path) {
      urls.push(`${supabase.storageUrl}/object/public/${path}`);
    }
  }

  if (multiple) {
    filesFormState[key] = filesFormState[key] ? filesFormState[key].concat(urls) : filesFormState[key] = [...urls];
  } else {
    filesFormState[key] = urls[0];
  }
  loading.value = false;
};


// Upload files to Supabase Storage
async function uploadFile(file) {
  const fileName = generateUniqueFileName(file.name); // Generate unique file name
  const { data, error } = await supabase.storage.from('uploads').upload(`public/${fileName}`, file);
  if (error) {
    console.error('Error uploading file:', error);
    return null;
  }
  return data.fullPath;
}

// Function to normalize file names by replacing spaces, accents, and special characters
function normalizeFileName(fileName) {
  return fileName
    .replace(/\s+/g, '-') // Replace spaces with hyphens
    .normalize('NFD') // Normalize the file name
    .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
    .replace(/[^a-zA-Z0-9.-]/g, ''); // Remove special characters
}

// Function to generate a unique file name
function generateUniqueFileName(fileName) {
  const timestamp = Date.now();
  const normalizedFileName = normalizeFileName(fileName);
  const extension = normalizedFileName.split('.').pop();
  const nameWithoutExtension = normalizedFileName.replace(`.${extension}`, '');
  return `${nameWithoutExtension}-${timestamp}.${extension}`;
}

const removeFile = (key, index = null) => {
  if (index !== null) {
    filesFormState[key].splice(index, 1);
  } else {
    filesFormState[key] = null;
  }
};

async function onSubmitFilesForm() {
  loading.value = true;
  const { data, error } = await supabase.from("user_details").update(filesFormState).eq('user_id', user.value.id).select().single();

  if (error) {
    console.log('Erreur lors de la soumission des documents: ', error)
  } else {
    userProfile.value = data;
    Object.assign(filesFormState, data);
  }
  loading.value = false;
  isFilesSlideoverOpen.value = false;
}


const handleClickOutside = (event) => {
  if (sidebar.value && !sidebar.value.contains(event.target) && !event.target.closest('button')) {
    sidebarToggle.value = false;
  }
};

const toggleSimulateurs = () => {
  simulateursOpen.value = !simulateursOpen.value;
};

const logout = () => {
  supabase.auth.signOut();
  router.push('/login');
}

const items = [
  [{
    label: 'Mon profil',
    icon: 'i-heroicons-user-circle',
    click: () => {
      router.push('/profile')
    }
  }, {
    label: 'Mes documents',
    icon: 'i-heroicons-paper-clip',
    click: () => {
      filesFormState.miscellaneous_docs_url = userProfile.value.miscellaneous_docs_url
      filesFormState.purchase_offer_url = userProfile.value.purchase_offer_url
      filesFormState.technical_sheet_url = userProfile.value.technical_sheet_url
      filesFormState.visit_slip_url = userProfile.value.visit_slip_url
      isFilesSlideoverOpen.value = true;
    }
  }, {
    label: 'Mon équipe',
    icon: 'i-heroicons-user-group',
    click: () => {
      router.push('/team')
    }
  }, 
  // {
  //   label: 'Paramètres',
  //   icon: 'i-heroicons-cog',
  //   click: () => {
  //     console.log('Mon profil')
  //   }
  // }
  ], [{
    label: 'Déconnexion',
    icon: 'i-heroicons-arrow-left-on-rectangle',
    click: () => {
      logout();
    }
  }]
];

watch(userDetails, (newVal) => {
  userProfile.value = newVal;
})

onMounted(async () => {
  await fetchData();
  setupRealtimeListeners()
  userProfile.value = userDetails.value;
  document.addEventListener('click', handleClickOutside);

  router.afterEach(() => {
    sidebarToggle.value = false;
  });

});

onBeforeUnmount(() => {
  document.removeEventListener('click', handleClickOutside);
});

onUnmounted(() => {
  cleanup()
})
</script>

<style>
/* TailwindCSS animation for the submenu */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

/* Classe pour le lien actif */
.nuxt-link-active {
  /* @apply bg-primary text-black font-semibold ml-4 hover:bg-primary-500 hover:text-black */
}
</style>
