<template>
    <div class="flex h-screen overflow-hidden">
        <div class="relative flex flex-1 flex-col overflow-x-hidden overflow-y-auto">
            <main>
                <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                    <NuxtPage />
                </div>
            </main>
        </div>
    </div>
</template>