<template>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            YB Leads
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Changer le mot de passe
                </h1>
                <UAlert v-if="globalError" icon="i-heroicons-exclamation-circle" color="red" variant="soft"
                    title="Une erreur est survenue" :description="globalError" />
                <UForm :schema="changeSchema" :state="changeState" @submit="handleChangePassword"
                    class="space-y-4 md:space-y-6">
                    <UFormGroup label="Nouveau mot de passe" name="newPassword">
                        <UInput v-model="changeState.newPassword" type="password" placeholder="••••••••" />
                        <p v-if="changeErrors.newPassword" class="text-red-600">{{ changeErrors.newPassword }}</p>
                    </UFormGroup>
                    <UFormGroup label="Confirmer le mot de passe" name="confirmPassword">
                        <UInput v-model="changeState.confirmPassword" type="password" placeholder="••••••••" />
                        <p v-if="changeErrors.confirmPassword" class="text-red-600">{{ changeErrors.confirmPassword }}
                        </p>
                    </UFormGroup>
                    <UButton type="submit" block :loading="loading">Changer le mot de passe</UButton>
                </UForm>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, reactive } from 'vue';
import { z } from 'zod';
import { useRouter } from 'vue-router';

// Initialiser l'état du formulaire
const changeState = reactive({
    newPassword: '',
    confirmPassword: ''
});

const changeErrors = reactive({
    newPassword: '',
    confirmPassword: ''
});

const router = useRouter();
const globalError = ref('');
const loading = ref(false);
const supabase = useSupabaseClient();

const changeSchema = z.object({
    newPassword: z.string().min(6, "Le mot de passe doit contenir au moins 6 caractères."),
    confirmPassword: z.string().min(6, "Le mot de passe doit contenir au moins 6 caractères.")
}).refine(data => data.newPassword === data.confirmPassword, {
    message: "Les mots de passe ne correspondent pas.",
    path: ["confirmPassword"]
});

const validateChangeForm = () => {
    const result = changeSchema.safeParse(changeState);

    if (!result.success) {
        result.error.errors.forEach(err => {
            changeErrors[err.path[0]] = err.message;
        });
        return false;
    } else {
        // Réinitialiser les erreurs
        Object.keys(changeErrors).forEach(key => {
            changeErrors[key] = '';
        });
        return true;
    }
};

const handleChangePassword = async () => {
    globalError.value = ''; // Réinitialiser l'erreur globale
    loading.value = true;

    if (!validateChangeForm()) {
        globalError.value = "Veuillez corriger les erreurs du formulaire.";
        loading.value = false;
        return;
    }

    // Récupérer l'access token depuis l'URL ou le stockage local
    const accessToken = new URLSearchParams(window.location.search).get('access_token') || supabase.auth.session()?.access_token;

    if (!accessToken) {
        globalError.value = "Access token manquant.";
        loading.value = false;
        return;
    }

    // Essayer de changer le mot de passe
    const { error } = await supabase.auth.api.updateUser(accessToken, {
        password: changeState.newPassword
    });

    loading.value = false;

    if (error) {
        console.error('Error changing password:', error.message);
        globalError.value = "Une erreur est survenue. Veuillez réessayer.";
    } else {
        globalError.value = "Le mot de passe a été changé avec succès.";
        router.push('/login');
    }
};
</script>

<style scoped>
/* Ajoutez ici vos styles personnalisés si nécessaire */
</style>