<template>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Compléter votre profil
        </h1>
        <UAlert v-if="globalError" icon="i-heroicons-exclamation-circle" color="red" variant="soft"
          title="Une erreur est survenue" :description="globalError" />
        <UForm :schema="profileSchema" :state="profileState" @submit="handleCompleteProfile"
          class="space-y-4 md:space-y-6">
          <UFormGroup label="Numéro de téléphone" name="phone">
            <UInput v-model="profileState.phone" type="text" placeholder="Numéro de téléphone" />
            <p v-if="profileErrors.phone" class="text-red-600">{{ profileErrors.phone }}</p>
          </UFormGroup>
          <UFormGroup label="Date de naissance" name="birthdate">
            <UInput v-model="profileState.birthdate" type="date" placeholder="Date de naissance" />
            <p v-if="profileErrors.birthdate" class="text-red-600">{{ profileErrors.birthdate }}</p>
          </UFormGroup>
          <UFormGroup label="Adresse" name="address">
            <USelectMenu v-model="profileState.address" placeholder="Chercher une adresse" :loading="addressLoading"
              :searchable="onAddressSearch" />
            <p v-if="profileErrors.address" class="text-red-600">{{ profileErrors.address }}</p>
          </UFormGroup>
          <UFormGroup label="Pays" name="country_id">
            <USelectMenu value-attribute="id" option-attribute="name" v-model="profileState.country_id"
              :options="countryOptions" placeholder="Sélectionner un pays" searchable />
            <p v-if="profileErrors.country_id" class="text-red-600">{{ profileErrors.country_id }}</p>
          </UFormGroup>
          <UButton type="submit" block>Valider</UButton>
          <UButton type="button" block @click="skipProfile">Passer</UButton>
        </UForm>
      </div>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'authenticated'
})

import { ref, reactive } from 'vue';
import { z } from 'zod';
import { useRouter } from 'vue-router';
const { countries } = useRealtimeState()

const user = useSupabaseUser();
const supabase = useSupabaseClient();
const countryOptions = ref([]);
const france = ref(null);
const profileState = reactive({
  phone: '',
  birthdate: '',
  address: '',
  country_id: ''
});

const profileErrors = reactive({
  phone: '',
  birthdate: '',
  address: '',
  country_id: ''
});

const router = useRouter();
const globalError = ref('');
const addressLoading = ref(false);

const profileSchema = z.object({
  phone: z.string().optional(),
  birthdate: z.string().optional(),
  address: z.any().optional(),
  country_id: z.number().optional()
});

const validateProfileForm = () => {
  const result = profileSchema.safeParse(profileState);

  if (!result.success) {
    result.error.errors.forEach(err => {
      profileErrors[err.path[0]] = err.message;
    });
    return false;
  } else {
    // Réinitialiser les erreurs
    Object.keys(profileErrors).forEach(key => {
      profileErrors[key] = '';
    });
    return true;
  }
};

const handleCompleteProfile = async () => {
  globalError.value = ''; // Réinitialiser l'erreur globale

  if (!validateProfileForm()) {
    globalError.value = "Veuillez corriger les erreurs du formulaire.";
    return;
  }

  // Mettre à jour les informations de l'utilisateur dans Supabase
  const { error } = await supabase
    .from('user_details')
    .update({
      phone: profileState.phone,
      birth_date: profileState.birthdate,
      address: profileState.address,
      country_id: profileState.country_id
    })
    .eq('user_id', user.value.id);

  if (error) {
    console.error('Error updating profile:', error.message);
    globalError.value = error.message;
  } else {
    console.log('Profile updated successfully');
    router.push('/');
  }
};

const skipProfile = () => {
  router.push('/');
};

const fetchCountries = async () => {
  countryOptions.value = countries.value.map(c => { return { id: c.id, name: c.name } });
  // Définir la France comme pays par défaut
  france.value = countryOptions.value.find(country => country.name === 'France');
  if (france) {
    profileState.country_id = france.value?.id;
  }
};

const onAddressSearch = async (query) => {
  addressLoading.value = true;
  try {
    const { $placekit } = useNuxtApp();
    const searchQuery = await $placekit.search(query, { types: ['street'] });
    return searchQuery.results.map(result => ({ value: result, label: result.name + ', ' + result.zipcode + ' ' + result.city }));
  } catch (error) {
    console.error('Error fetching address options:', error);
    return [];
  } finally {
    addressLoading.value = false;
  }
};

watch(countries, async (newVal) => {
  await fetchCountries();
})

onMounted(async () => {
  await fetchCountries();
})
</script>


<style scoped>
/* Ajoutez ici vos styles personnalisés si nécessaire */
</style>
