<template>
    <h1 class="text-2xl font-bold mb-4">Boite à idées</h1>

    <div class="flex flex-wrap justify-between items-center mb-4">
        <div class="flex items-center gap-2">
            <USelectMenu v-model="selectedCategory"
                :options="[{ label: 'Toutes les catégories', value: null }, ...categories.map(category => ({ label: category, value: category }))]"
                placeholder="Filtrer par catégorie" />
            <USelectMenu value-attribute="value" option-attribute="label" v-model="selectedDateFilter"
                :options="dateFilterOptions" placeholder="Filtrer par date" />

        </div>

        <UButton class="self-start" icon="i-heroicons-plus" @click="isAddModalOpen = true"><span
                class="hidden md:inline">Ajouter une suggestion</span></UButton>
    </div>
    <div v-if="!filteredSuggestions.length" class="flex justify-center mt-10 text-sm text-gray-400">Aucune suggestion
    </div>

    <UCard v-else v-for="suggestion in filteredSuggestions" :key="suggestion.id" class="mb-4">
        <template #header>
            <div class="flex justify-between">
                <div class="flex items-center gap-2 min-w-0">
                    <UBadge :color="getCategoryColor(suggestion.category)">
                        {{ suggestion.category }}
                    </UBadge>
                    <h3 class="text-base font-semibold truncate">{{ suggestion.title }}</h3>
                </div>
                <UButton v-if="suggestion.user_id === user.id" size="2xs" color="red" variant="ghost"
                    icon="i-heroicons-trash" @click="deleteSuggestion(suggestion.id)" :loading="loading">

                </UButton>
            </div>
        </template>
        <p class="mb-4 text-sm">{{ suggestion.description }}</p>
        <div class="my-4" v-if="suggestion.medias">
            <div class="mb-2 text-xs font-semibold text-gray-400">
                <UIcon dynamic name="entypo:attachment"></UIcon> Pièce(s) jointe(s)
            </div>
            <div class="flex gap-2">
                <a class="inline-flex" v-for="media in suggestion.medias" :href="media" target="_blank"><img
                        class="h-auto w-16 rounded-lg" :src="media">
                </a>
            </div>


        </div>
        <div class="flex items-center justify-between">
            <div class="text-gray-500 text-xs">par <span class="font-semibold">{{ suggestion.user_details.full_name
                    }}</span> le
                <span>{{ format(new Date(suggestion.created_at), 'dd/MM/yyyy à hh:mm') }}</span>
            </div>
            <div class="flex items-center">
                <UButton :loading="loading" size="2xs" :disabled="hasVoted(suggestion.id)"
                    :icon="hasVoted(suggestion.id) ? 'i-heroicons-star-solid' : 'i-heroicons-star'"
                    :color="hasVoted(suggestion.id) ? 'yellow' : 'gray'" @click="toggleVote(suggestion.id)" />
                <span class="ml-2 text-xs font-semibold">{{ suggestion.votes.length }} votes</span>
            </div>
        </div>
    </UCard>

    <UModal v-model="isAddModalOpen">
        <UCard>
            <template #header>
                <h3 class="text-xl font-semibold">Ajouter une suggestion</h3>
            </template>
            <UForm class="space-y-4" :state="newSuggestion" :schema="suggestionSchema" @submit="addSuggestion">
                <UFormGroup label="Titre" name="title">
                    <UInput v-model="newSuggestion.title" />
                </UFormGroup>
                <UFormGroup label="Description" name="description">
                    <UTextarea v-model="newSuggestion.description" />
                </UFormGroup>
                <UFormGroup label="Catégorie" name="category">
                    <USelectMenu v-model="newSuggestion.category" :options="categories" />
                </UFormGroup>
                <UFormGroup label="Pièce(s) jointe(s)" name="medias">
                    <div v-if="newSuggestion.medias.length">
                        <div v-for="(url, index) in newSuggestion.medias" :key="index" class="mb-2 flex items-center">
                            <a :href="url" target="_blank" class="text-blue-500 underline">PJ {{ index + 1 }}</a>
                            <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
                                @click="removeFile('medias', index)" />
                        </div>
                    </div>
                    <UInput ref="suggestionFile" type="file" accept="image/jpeg, image/png, image/gif" multiple
                        @change="event => handleFileUpload(event, 'medias', true)" />
                </UFormGroup>
                <UButton :loading="loading" type="submit" color="primary" class="mt-4">
                    Soumettre
                </UButton>
            </UForm>
        </UCard>
    </UModal>

    <UNotifications />
</template>

<script setup>
definePageMeta({
    layout: 'authenticated'
})
import { format, subDays, startOfToday } from 'date-fns'; // Importation de subDays et startOfToday pour le filtrage par date
import { ref, reactive } from 'vue'
import { SuggestionCategory } from '~/utils/enums';
import { z } from 'zod'

const toast = useToast()
const supabase = useSupabaseClient()
const user = useSupabaseUser();
const suggestions = ref([])
const loading = ref(true)
const selectedCategory = ref({ label: 'Toutes les catégories', value: null })
const selectedDateFilter = ref('Tous') // Nouvel état pour le filtre de date

const dateFilterOptions = [
    { label: 'Tous', value: 'Tous' },
    { label: 'Hier', value: 'Hier' },
    { label: '7 derniers jours', value: '7 jours' },
    { label: '30 derniers jours', value: '30 jours' }
];

const filteredSuggestions = computed(() => {
    let filtered = suggestions.value;

    // Filtrage par catégorie
    if (selectedCategory.value.value !== null) {
        filtered = filtered.filter(suggestion => suggestion.category === selectedCategory.value.value);
    }

    // Filtrage par date
    if (selectedDateFilter.value !== 'Tous') {
        const today = startOfToday();
        let startDate;

        switch (selectedDateFilter.value) {
            case 'Hier':
                startDate = subDays(today, 1);
                break;
            case '7 jours':
                startDate = subDays(today, 7);
                break;
            case '30 jours':
                startDate = subDays(today, 30);
                break;
        }

        if (startDate) {
            filtered = filtered.filter(suggestion => new Date(suggestion.created_at) >= startDate);
        }
    }

    return filtered.sort((a, b) => b.votes.length - a.votes.length);
});

const isAddModalOpen = ref(false)

const suggestionFile = ref(null);


const newSuggestion = reactive({
    title: '',
    description: '',
    category: '',
    medias: []
})

const userVotes = ref(new Set())

const categories = Object.values(SuggestionCategory)

const suggestionSchema = z.object({
    title: z.string().min(1, { message: 'Le titre est requis' }),
    description: z.string().min(1, { message: 'La description est requise' }),
    category: z.nativeEnum(SuggestionCategory, { errorMap: () => ({ message: 'Catégorie invalide' }) }),
    medias: z.array(z.string().url()).max(2, 'Pas plus de deux pièces jointes').optional(),
})

const getCategoryColor = (category) => {
    switch (category) {
        case SuggestionCategory.BUG: return 'red'
        case SuggestionCategory.AMELIORATION: return 'blue'
        case SuggestionCategory.NOUVELLE_FONCTIONNALITE: return 'green'
        default: return 'gray'
    }
}

const hasVoted = (suggestionId) => {
    const suggestion = suggestions.value.find(s => s.id === suggestionId);
    if (suggestion.user_id === user.value.id) {
        return true; // L'utilisateur ne peut pas voter pour sa propre suggestion
    }
    return suggestion.votes.some(vote => vote.user_id === user.value.id);
}

const toggleVote = async (suggestionId) => {
    const suggestion = suggestions.value.find(s => s.id === suggestionId);
    if (suggestion.user_id === user.value.id) {
        toast.add({ title: 'Vous ne pouvez pas voter pour votre propre suggestion', color: 'red' });
        return;
    }

    loading.value = true;
    try {
        if (hasVoted(suggestionId)) {
            suggestion.votes = suggestion.votes.filter(vote => vote.user_id !== user.value.id);
            await supabase.from('votes').delete().eq('suggestion_id', suggestionId).eq('user_id', user.value.id);
            toast.add({ title: 'Vote retiré avec succès', color: 'green' });
        } else {
            const { data, error } = await supabase.from('votes').insert({ suggestion_id: suggestionId, user_id: user.value.id }).select().single();
            if (!error && data) {
                suggestion.votes.push(data);
                toast.add({ title: 'Vote ajouté avec succès', color: 'green' });
            }
        }
    } catch (error) {
        console.error(error);
        toast.add({ title: 'Une erreur est survenue lors du vote', color: 'red' });
    } finally {
        loading.value = false;
    }
}

const addSuggestion = async () => {
    loading.value = true
    try {
        const { data, error } = await supabase.from('suggestions').insert({
            title: newSuggestion.title,
            description: newSuggestion.description,
            category: newSuggestion.category,
            user_id: user.value.id,
            medias: newSuggestion.medias
        }).select('*, votes(*), user_details(full_name)').single()

        if (!error) {
            suggestions.value.push({
                ...data,
                votes: []
            })
            isAddModalOpen.value = false
            Object.keys(newSuggestion).forEach(key => newSuggestion[key] = '')
            toast.add({ title: 'Suggestion ajoutée avec succès', color: 'green' })
        } else {
            throw error
        }
    } catch (error) {
        console.error(error)
        toast.add({ title: 'Une erreur est survenue lors de l\'ajout de la suggestion', color: 'red' })
    } finally {
        loading.value = false
    }
}

const deleteSuggestion = async (suggestionId) => {
    loading.value = true
    try {
        const { error } = await supabase
            .from('suggestions')
            .delete()
            .eq('id', suggestionId)
            .eq('user_id', user.value.id)

        if (error) {
            throw error
        } else {
            suggestions.value = suggestions.value.filter(s => s.id !== suggestionId)
            toast.add({ title: 'Suggestion supprimée avec succès', color: 'green' })
        }
    } catch (error) {
        console.error('Erreur lors de la suppression :', error)
        toast.add({ title: 'Une erreur est survenue lors de la suppression de la suggestion', color: 'red' })
    } finally {
        loading.value = false
    }
}

const fetchSuggestions = async () => {
    const { data, error } = await supabase.from('suggestions').select('*, votes(*), user_details(full_name)').order('created_at')
    if (!error) {
        suggestions.value = data;
    } else {
        console.error(error)
    }
    loading.value = false
}

const handleFileUpload = async (event, key, multiple = false) => {
    if (loading.value) return;
    loading.value = true;
    let files = null;

    if (key === 'medias') {
        files = suggestionFile.value.$el.querySelector('input[type="file"]').files
    } else {
        loading.value = false;
        return;
    }

    const urls = [];

    for (const file of files) {
        const path = await uploadFile(file);
        if (path) {
            urls.push(`${supabase.storageUrl}/object/public/${path}`);
        }
    }

    if (multiple) {
        newSuggestion[key] = newSuggestion[key] ? newSuggestion[key].concat(urls) : newSuggestion[key] = [...urls];
    } else {
        newSuggestion[key] = urls[0];
    }
    loading.value = false;
};

const removeFile = (key, index = null) => {
    if (index !== null) {
        newSuggestion[key].splice(index, 1);
    } else {
        newSuggestion[key] = null;
    }
};

async function uploadFile(file) {
    const fileName = generateUniqueFileName(file.name); // Generate unique file name
    const { data, error } = await supabase.storage.from('uploads').upload(`public/${fileName}`, file);
    if (error) {
        console.error('Error uploading file:', error);
        return null;
    }
    return data.fullPath;
}

// Function to generate a unique file name
function generateUniqueFileName(fileName) {
    const timestamp = Date.now();
    const normalizedFileName = normalizeFileName(fileName);
    const extension = normalizedFileName.split('.').pop();
    const nameWithoutExtension = normalizedFileName.replace(`.${extension}`, '');
    return `${nameWithoutExtension}-${timestamp}.${extension}`;
}


// Function to normalize file names by replacing spaces, accents, and special characters
function normalizeFileName(fileName) {
    return fileName
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .normalize('NFD') // Normalize the file name
        .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
        .replace(/[^a-zA-Z0-9.-]/g, ''); // Remove special characters
}

onMounted(async () => {
    await fetchSuggestions()
})
</script>
