<template>
    <!-- Title -->
    <h1 class="text-2xl font-bold mb-4">Contacts</h1>
    <UTabs v-model="selectedTab" :items="items" class="w-full" :orientation="tabOrientation">
        <template #all="{ item }">
            <UCard>
                <template #header>
                    <UInput v-model="searchQuery" placeholder="Rechercher..."
                        icon="i-heroicons-magnifying-glass-20-solid" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>
                <div class="mb-4 flex gap-4">
                    <UButton class="ml-auto" color="primary" icon="i-heroicons-plus-20-solid"
                        @click="openSlideover('add')">
                        Ajouter un nouveau contact</UButton>
                </div>
                <UTable :loading="loading" :rows="filteredContacts(item.contacts)" :columns="columnsAll">
                    <template #avatar-data="{ row }">
                        <UAvatar :src="row.avatar" :alt="row?.full_name" />
                    </template>
                    <template #contact_type-data="{ row }">
                        <div class="inline-flex flex-col gap-1">
                            <UBadge v-for="ct in row.contact_type" variant="soft">{{ ct }}</UBadge>
                        </div>
                    </template>
                    <template #full_name-data="{ row }">
                        <UButton @click="openViewContactSlideover(row.id)" variant="link">{{ row.full_name }}</UButton>
                    </template>
                    <template #phone-data="{ row }">
                        <div class="flex flex-col items-start gap-1">
                            <UBadge color="white" variant="solid" size="xs" v-for="p in row.phone"
                                class="inline-flex items-center gap-1">
                                <UIcon name="i-heroicons-phone-20-solid" /><a :href="`tel:${p}`">{{ p }}</a>
                            </UBadge>
                        </div>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun contact trouvé.</div>
                        </div>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #Prospect="{ item }">
            <UCard>
                <template #header>
                    <UInput v-model="searchQuery" placeholder="Rechercher..."
                        icon="i-heroicons-magnifying-glass-20-solid" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>
                <div class="mb-4 flex gap-4">
                    <UButton class="ml-auto" color="primary" icon="i-heroicons-plus-20-solid"
                        @click="openSlideover('add')">
                        Ajouter un nouveau contact</UButton>
                </div>
                <UTable :loading="loading" :rows="filteredContacts(item.contacts)" :columns="columnsProspect">
                    <template #avatar-data="{ row }">
                        <UAvatar :src="row.avatar" :alt="row?.full_name" />
                    </template>
                    <template #full_name-data="{ row }">

                        <UButton @click="openViewContactSlideover(row.id)" variant="link">{{ row.full_name }}</UButton>
                    </template>
                    <template #created_at-data="{ row }">
                        <span>{{ format(new Date(row.created_at), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun prospect trouvé.</div>
                        </div>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #Acquéreur="{ item }">
            <UCard>
                <template #header>
                    <UInput v-model="searchQuery" placeholder="Rechercher..."
                        icon="i-heroicons-magnifying-glass-20-solid" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>
                <div class="mb-4 flex gap-4">
                    <UButton class="ml-auto" color="primary" icon="i-heroicons-plus-20-solid"
                        @click="openSlideover('add')">
                        Ajouter un nouveau contact</UButton>
                </div>
                <UTable :loading="loading" :rows="filteredContacts(item.contacts)" :columns="columnsAcquereur">
                    <template #avatar-data="{ row }">
                        <UAvatar :src="row.avatar" :alt="row?.full_name" />
                    </template>
                    <template #full_name-data="{ row }">
                        <UButton @click="openViewContactSlideover(row.id)" variant="link">{{ row.full_name }}</UButton>
                    </template>
                    <template #created_at-data="{ row }">
                        <span>{{ format(new Date(row.created_at), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #phone-data="{ row }">
                        <div class="flex flex-col items-start gap-1">
                            <UBadge color="white" variant="solid" size="xs" v-for="p in row.phone"
                                class="inline-flex items-center gap-1">
                                <UIcon name="i-heroicons-phone-20-solid" /><a :href="`tel:${p}`">{{ p }}</a>
                            </UBadge>
                        </div>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun acquéreur trouvé.</div>
                        </div>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #Vendeur="{ item }">
            <UCard>
                <template #header>
                    <UInput v-model="searchQuery" placeholder="Rechercher..."
                        icon="i-heroicons-magnifying-glass-20-solid" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>
                <div class="mb-4 flex gap-4">
                    <UButton class="ml-auto" color="primary" icon="i-heroicons-plus-20-solid"
                        @click="openSlideover('add')">
                        Ajouter un nouveau contact</UButton>
                </div>
                <UTable :loading="loading" :rows="filteredContacts(item.contacts)" :columns="columnsVendeur">
                    <template #avatar-data="{ row }">
                        <UAvatar :src="row.avatar" :alt="row?.full_name" />
                    </template>
                    <template #full_name-data="{ row }">
                        <UButton @click="openViewContactSlideover(row.id)" variant="link">{{ row.full_name }}</UButton>
                    </template>
                    <template #created_at-data="{ row }">
                        <span>{{ format(new Date(row.created_at), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #phone-data="{ row }">
                        <div class="flex flex-col items-start gap-1">
                            <UBadge color="white" variant="solid" size="xs" v-for="p in row.phone"
                                class="inline-flex items-center gap-1">
                                <UIcon name="i-heroicons-phone-20-solid" /><a :href="`tel:${p}`">{{ p }}</a>
                            </UBadge>
                        </div>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun vendeur trouvé.</div>
                        </div>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #Partenaire="{ item }">
            <UCard>
                <template #header>
                    <div class="flex items-center gap-2">
                        <UInput class="flex-1" v-model="searchQuery" placeholder="Rechercher..."
                            icon="i-heroicons-magnifying-glass-20-solid" :ui="{ icon: { trailing: { pointer: '' } } }">
                        </UInput>
                        <USelectMenu searchable multiple v-model="jobsSelected" :options="partnersJobOptions"
                            value-attribute="id" option-attribute="name" placeholder="Selectionner un métier">
                        </USelectMenu>
                    </div>
                    <div class="flex items-center gap-1 mt-4" v-if="jobsSelected.length">
                        <div class="text-sm font-semibold mr-1">Filtres: </div>
                        <UBadge v-for="j in jobsSelected" variant="soft">
                            <div class="flex items-center gap-1">
                                <div> {{ jobOptions.find(opt => j === opt.id).name }}</div>
                                <UIcon name="i-heroicons-x-mark-20-solid"></UIcon>
                            </div>
                        </UBadge>
                    </div>
                </template>
                <UTable :loading="loading" :rows="filteredContacts(item.contacts)" :columns="columnsPartenaires">
                    <template #avatar-data="{ row }">
                        <UAvatar :src="row.avatar" :alt="row?.full_name" />
                    </template>
                    <template #company_name-data="{ row }">
                        <UButton @click="openViewContactSlideover(row.id)" variant="link">{{ row.company_name }}
                        </UButton>
                    </template>
                    <template #jobs-data="{ row }">
                        <div class="inline-flex flex-col gap-1">
                            <UBadge v-for="j in row.jobs" variant="soft">
                                <span>{{ j.name }}</span>

                            </UBadge>
                        </div>
                    </template>
                    <template #phone-data="{ row }">
                        <div class="flex flex-col items-start gap-1">
                            <UBadge color="white" variant="solid" size="xs" v-for="p in row.phone"
                                class="inline-flex items-center gap-1">
                                <UIcon name="i-heroicons-phone-20-solid" /><a :href="`tel:${p}`">{{ p }}</a>
                            </UBadge>
                        </div>
                    </template>
                    <template #address-data="{ row }">
                        <UBadge v-if="row.address" @click="$openGoogleMaps(row.address?.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm">
                            <UIcon name="i-heroicons-map-pin-20-solid mr-1"></UIcon>
                            <span class="truncate">{{ row.address?.label }}</span>
                        </UBadge>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                </UTable>
            </UCard>
        </template>
    </UTabs>


    <!-- Slideover for Add/Edit Contact -->
    <USlideover v-model="isSlideoverOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        {{ slideoverMode === 'add' ? 'Ajouter un contact' : 'Modifier le contact' }}
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isSlideoverOpen = false" />
                </div>
            </template>
            <UForm :schema="schema" :state="formState" class="space-y-4" @submit="onSubmit">
                <UFormGroup label="Avatar" name="avatar">
                    <div class="flex items-center gap-4 mt-4">
                        <UAvatar size="3xl" v-if="formState.avatar" :src="formState.avatar"
                            :alt="formState.first_name + ' ' + formState.last_name" />
                        <UInput class="flex-grow" type="file" ref="avatarFile" accept="image/jpeg, image/png, image/gif"
                            @change="event => handleFileUpload(event, 'avatar')">
                        </UInput>
                    </div>
                </UFormGroup>
                <UFormGroup required label="Date de création" name="created_at">
                    <UInput v-model="formState.created_at" type="date" />
                </UFormGroup>
                <UFormGroup required label="Pays" name="country_id">
                    <USelectMenu value-attribute="id" option-attribute="name" v-model="formState.country_id"
                        :options="countryOptions" placeholder="Sélectionner un pays" searchable />
                </UFormGroup>
                <UFormGroup required label="Prénom" name="first_name">
                    <UInput v-model="formState.first_name" />
                </UFormGroup>
                <UFormGroup required label="Nom" name="last_name">
                    <UInput v-model="formState.last_name" />
                </UFormGroup>
                <UFormGroup label="Téléphone" name="phone">
                    <UInput @blur="addPhone" :ui="{ icon: { trailing: { pointer: '' } } }" v-model="newPhone">
                        <template #trailing>
                            <UButton icon="i-heroicons-plus" size="2xs" color="primary" square variant="ghost"
                                @click="addPhone" />
                        </template>
                    </UInput>
                </UFormGroup>

                <div v-if="formState.phone.length > 0" class="space-y-2">
                    <div v-for="(phone, index) in formState.phone" :key="index" class="flex items-center space-x-2">
                        <span class="text-sm">{{ phone }}</span>
                        <UButton icon="i-heroicons-trash" size="xs" color="red" variant="ghost"
                            @click="removePhone(index)" />
                    </div>
                </div>

                <UFormGroup label="Email" name="email">
                    <UInput @blur="addEmail" :ui="{ icon: { trailing: { pointer: '' } } }" v-model="newEmail">
                        <template #trailing>
                            <UButton icon="i-heroicons-plus" size="2xs" color="primary" square variant="ghost"
                                @click="addEmail" />
                        </template>
                    </UInput>
                </UFormGroup>
                <div v-if="formState.email.length > 0" class="space-y-2">
                    <div v-for="(email, index) in formState.email" :key="index" class="flex items-center space-x-2">
                        <span class="text-sm">{{ email }}</span>
                        <UButton icon="i-heroicons-trash" size="xs" color="red" variant="ghost"
                            @click="removeEmail(index)" />
                    </div>
                </div>
                <UFormGroup required label="Type de contact" name="contact_type">
                    <USelectMenu multiple v-model="formState.contact_type" :options="contactTypes"
                        placeholder="Type de contact">
                        <template #label>
                            <div v-if="formState.contact_type.length" class="truncate">
                                <UBadge variant="soft" class="mr-1" v-for="ct in formState.contact_type">{{ ct }}
                                </UBadge>
                            </div>
                            <span v-else>Séléctionner un type de contact</span>
                        </template>
                    </USelectMenu>
                </UFormGroup>
                <UFormGroup label="Date de naissance" name="birth_date">
                    <UInput v-model="formState.birth_date" type="date" />
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <USelectMenu v-model="formState.address" placeholder="Chercher une adresse" :loading="sectorLoading"
                        :searchable="onFormAddressSearch" />
                </UFormGroup>
                <UFormGroup label="Nom de la société" name="company_name">
                    <UInput v-model="formState.company_name" />
                </UFormGroup>
                <UFormGroup class="flex-1" label="Métier" name="jobs">
                    <USelectMenu multiple option-attribute="name" value-attribute="id" v-model="formState.jobs"
                        v-model:query="jobQuery" :options="jobOptions" placeholder="Sélectionner un ou plusieurs métier"
                        searchable>
                        <template #option-empty="{ query }">
                            <UButton :label="'Ajouter ' + query" icon="i-heroicons-plus" size="xs" color="primary"
                                variant="ghost" @click="addJob(query)" />
                        </template>
                        <template #label>
                            <div v-if="formState.jobs.length" class="truncate">
                                <UBadge variant="soft" class="mr-1" v-for="j in formState.jobs">{{
        jobOptions.find(opt => opt.id === j)?.name }}</UBadge>
                            </div>
                            <span v-else>Séléctionner un métier</span>
                        </template>
                    </USelectMenu>
                </UFormGroup>
                <UFormGroup required label="Budget max" name="budget_max">
                    <UInput v-model="formState.budget_max" type="number" />
                </UFormGroup>
                <UFormGroup required label="Type de bien" name="property_type">
                    <USelectMenu multiple v-model="formState.property_type" :options="propertyTypes"
                        placeholder="Type de bien">
                        <template #label>
                            <div v-if="formState.property_type.length" class="truncate">
                                <UBadge variant="soft" class="mr-1" v-for="pt in formState.property_type">{{ pt }}
                                </UBadge>
                            </div>
                            <span v-else>Séléctionner un type de bien</span>
                        </template>
                    </USelectMenu>
                </UFormGroup>
                <UFormGroup label="Nombre de chambres min." name="bedrooms">
                    <UInput v-model="formState.bedrooms" type="number" />
                </UFormGroup>
                <UFormGroup label="Nombre de pièces min." name="rooms">
                    <UInput v-model="formState.rooms" type="number" />
                </UFormGroup>
                <UFormGroup label="Surface terrain en m² min." name="area_sq_m">
                    <UInput v-model="formState.area_sq_m" type="number" />
                </UFormGroup>
                <UFormGroup label="Secteur de recherche" name="sector">
                    <USelectMenu v-model="formState.sector" placeholder="Chercher une ville" :loading="sectorLoading"
                        :searchable="onFormSectorSearch" />
                </UFormGroup>
                <UFormGroup :label="'Rayon de recherche (' + formState.search_radius_km + 'km)'"
                    name="search_radius_km">
                    <div class="flex items-center gap-2 mt-4">
                        <div class="text-xs">0</div>
                        <URange v-model="formState.search_radius_km" :min="0" :max="100" />
                        <div class="text-xs">100</div>
                    </div>
                </UFormGroup>
                <UFormGroup label="Notes" name="notes">
                    <UTextarea v-model="formState.notes" />
                </UFormGroup>
                <UButton type="submit" :loading="loading">
                    {{ slideoverMode === 'add' ? 'Ajouter' : 'Modifier' }}
                </UButton>
            </UForm>
        </UCard>
    </USlideover>

    <USlideover v-model="isFiltersSlideoverOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Filtres
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isFiltersSlideoverOpen = false" />
                </div>
            </template>
            <div class="flex flex-col gap-4 mb-4">
                <UFormGroup label="Type de contact">
                    <USelectMenu multiple v-model="filters.contact_type" :options="contactTypes"
                        placeholder="Type de contact" />
                </UFormGroup>

                <UFormGroup label="Budget Max">
                    <UInput v-model="filters.budget_max" type="number" placeholder="Budget Max" />
                </UFormGroup>

                <UFormGroup label="Type de bien">
                    <USelectMenu multiple v-model="filters.property_type" :options="propertyTypes"
                        placeholder="Type de bien" />
                </UFormGroup>

                <UFormGroup label="Secteur de recherche">
                    <UInput v-model="filters.sector" placeholder="Secteur" />
                </UFormGroup>
            </div>
            <UButton color="gray" @click="resetFilters">Réinitialiser les filtres</UButton>
        </UCard>
    </USlideover>
    <!-- Modal for Delete Confirmation -->
    <UModal v-model="isDeleteModalOpen">
        <UCard :ui="{ ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Confirmer la suppression
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isDeleteModalOpen = false" />
                </div>
            </template>
            <div class="p-4">
                <p>Êtes-vous sûr de vouloir supprimer ce contact ? Cette action est irréversible.</p>
            </div>
            <template #footer>
                <div class="flex justify-end gap-2 p-4">
                    <UButton color="gray" :disabled="loading" @click="isDeleteModalOpen = false">Annuler</UButton>
                    <UButton color="red" :loading="loading" @click="confirmDelete">Supprimer</UButton>
                </div>
            </template>
        </UCard>
    </UModal>

</template>

<script setup>
definePageMeta({
    layout: 'authenticated'
})
import { format } from 'date-fns'; // Importation de la fonction format de date-fns pour le formatage des dates
import { ref, computed, reactive } from 'vue';
import { z } from 'zod';
import { ContactType, PropertyType } from '~/utils/enums';
import useMatching from '~/composables/useMatching';
import { prepareSMS } from '~/utils/smsUtils';

const { jobs, countries, userDetails } = useRealtimeState()

const route = useRoute();
const router = useRouter();

const isMobile = useMediaQuery('(max-width: 767px)')

const tabOrientation = computed(() => isMobile.value ? 'vertical' : 'horizontal')

const { openSlideover: openViewContactSlideover } = useContactSlideover()

const { initializeMatching } = useMatching();

const { $placekit } = useNuxtApp()

const user = useSupabaseUser();
const supabase = useSupabaseClient();
const searchQuery = ref('');
const filters = ref({
    contact_type: [],
    budget_max: null,
    property_type: [],
    sector: ''
});

const contacts = ref([]);
const loading = ref(false);
const countryOptions = ref([]);
const france = ref(null);
const jobOptions = ref([]);
const partnersJobOptions = ref([])
const jobsSelected = ref([]);
const jobQuery = ref('');

const avatarFile = ref(null);

const formState = reactive({
    created_at: new Date().toISOString().split('T')[0],
    first_name: '',
    last_name: '',
    phone: [],
    email: [],
    contact_type: [ContactType.PROSPECT],
    birth_date: null,
    address: null,
    company_name: '',
    jobs: [],
    budget_max: 0,
    property_type: [PropertyType.MAISON],
    sector: null,
    search_radius_km: 0,
    notes: '',
    country_id: france.value?.id,
    bedrooms: null,
    rooms: null,
    area_sq_m: null,
    avatar: null
});

const contactTypes = Object.values(ContactType)
const propertyTypes = Object.values(PropertyType);

const sectorLoading = ref(false);

// Définition des colonnes pour chaque type de table
const columnsAll = [
    { key: 'avatar' },
    { key: 'contact_type', label: 'Type de contact' },
    {
        key: 'full_name', label: 'Nom',
        sortable: true
    },
    { key: 'phone', label: 'Téléphone' }, { key: 'actions' }

];

const columnsProspect = [
    { key: 'avatar' },
    {
        key: 'created_at', label: 'Date de création',
        sortable: true
    },
    {
        key: 'full_name', label: 'Nom',
        sortable: true
    },
    {
        key: 'notes', label: 'Notes',
        sortable: true
    }, { key: 'actions' }

];

const columnsVendeur = [
    { key: 'avatar' },
    {
        key: 'full_name', label: 'Nom',
        sortable: true
    },
    { key: 'phone', label: 'Téléphone' }, { key: 'actions' }

];

const columnsAcquereur = [
    { key: 'avatar' },
    {
        key: 'full_name', label: 'Nom',
        sortable: true
    },
    { key: 'phone', label: 'Téléphone' }, { key: 'actions' }

];

const columnsPartenaires = [
    { key: 'avatar' },
    { 'key': 'jobs', 'label': 'Métiers' },
    {
        "key": 'company_name', 'label': 'Nom de la société',
        sortable: true
    },
    { 'key': 'phone', 'label': 'Numéro de téléphone' },
    { 'key': 'address', 'label': 'Adresse' },
    { key: 'actions' }

];

// Définition des items pour les onglets
const items = computed(() => [
    {
        slot: "all",
        label: 'Tous les contacts',
        contacts: contacts.value,
    },
    {
        slot: ContactType.PROSPECT,
        label: 'Prospects',
        contacts: contacts.value?.filter(contact => contact.contact_type.includes(ContactType.PROSPECT)),
    },
    {
        slot: ContactType.VENDEUR,
        label: 'Vendeurs',
        contacts: contacts.value?.filter(contact => contact.contact_type.includes(ContactType.VENDEUR)),
    },
    {
        slot: ContactType.ACQUEREUR,
        label: 'Acquéreurs',
        contacts: contacts.value?.filter(contact => contact.contact_type.includes(ContactType.ACQUEREUR)),
    },
    {
        slot: ContactType.PARTENAIRE,
        label: 'Partenaires',
        contacts: contacts.value?.filter(contact => contact.contact_type.includes(ContactType.PARTENAIRE)),
    }
]);

const selectedTab = computed({
    get() {
        const index = items.value.findIndex((item) => item.label === route.query.tab)
        if (index === -1) {
            return 0
        }

        return index
    },
    set(value) {
        resetFilters();
        // Hash is specified here to prevent the page from scrolling to the top
        router.replace({ query: { tab: items.value[value].label } })
    }
})



function applyFilters(contact) {
    // Filtrer par type de contact
    if (filters.value.contact_type.length > 0 && !filters.value.contact_type.includes(contact.contact_type)) {
        return false;
    }

    // Filtrer par budget
    if ((filters.value.budget_max !== null && filters.value.budget_max !== '' && contact.budget_max > filters.value.budget_max)) {
        return false;
    }

    // Filtrer par type de bien
    if (filters.value.property_type.length > 0 && !filters.value.property_type.includes(contact.property_type)) {
        return false;
    }

    // Filtrer par secteur
    if (filters.value.sector !== '' && contact.sector !== filters.value.sector) {
        return false;
    }

    return true;
}

function filteredContacts(contacts) {
    let filtered = contacts;

    // Filtrage par jobs sélectionnés
    if (jobsSelected.value.length > 0 && route.query.tab === 'Partenaires') {
        filtered = filtered.filter(partner => {
            return partner.jobs.some(job => jobsSelected.value.includes(job.id));
        });
    }

    filtered = filtered.filter(contact => applyFilters(contact));

    if (searchQuery.value) {
        const searchTerm = searchQuery.value.toLowerCase();
        filtered = filtered.filter(contact => {
            return Object.values(contact).some(value => {
                if (Array.isArray(value)) {
                    return value.some(v => v && v.toString().toLowerCase().includes(searchTerm));
                }
                if (typeof value === 'object' && value !== null) {
                    return Object.values(value).some(v => v && v.toString().toLowerCase().includes(searchTerm));
                }
                return value && value.toString().toLowerCase().includes(searchTerm);
            });
        });
    }

    return filtered.map(c => { return { ...c, 'full_name': c.last_name + ' ' + c.first_name } });
}

// Fetch contacts from Supabase
const fetchContacts = async () => {
    loading.value = true;
    const { data, error } = await supabase.from('contacts')
        .select('*, jobs(*)')
        .eq('user_id', user.value?.id)
        .order('created_at', { ascending: false });
    if (error) {
        console.error('Error fetching contacts:', error);
    } else {
        contacts.value = data;
        checkContactIdInRoute(); // Vérifiez le contactId après la récupération des contacts
    }
    loading.value = false;
};

const checkContactIdInRoute = () => {
    const contactId = route.query.contactId;
    if (contactId) {
        openViewContactSlideover(contactId);
    }
};


const fetchCountries = async () => {
    countryOptions.value = countries.value.map(c => { return { id: c.id, name: c.name } });
    // Définir la France comme pays par défaut
    france.value = countryOptions.value.find(country => country.name === 'France');
    if (france) {
        formState.country_id = france.value?.id;
    }
};


const fetchJobs = async () => {
    jobOptions.value = jobs.value.map(j => {
        return { id: j.id, name: j.name }
    });

    partnersJobOptions.value = contacts.value?.filter(c => c.contact_type.includes(ContactType.PARTENAIRE))
        .map(c => c.jobs)
        .flatMap(x => x)
};


const fetchContactJobs = async (contactId) => {
    const { data, error } = await supabase
        .from('contacts_jobs')
        .select('job_id')
        .eq('contact_id', contactId);
    if (error) {
        console.error('Error fetching contact jobs:', error);
    } else {
        const jobIds = data.map(job => job.job_id);
        formState.jobs = jobIds;
    }
};

const actionItems = (row) => {
    const items = [
        [{
            label: 'Consulter',
            icon: 'i-heroicons-eye-20-solid',
            click: () => openViewContactSlideover(row.id)
        }],
        [{
            label: 'Modifier',
            icon: 'i-heroicons-pencil-square-20-solid',
            click: () => openSlideover('edit', row)
        }],
        [{
            label: 'Supprimer',
            icon: 'i-heroicons-trash-20-solid',
            click: () => openDeleteModal(row)
        }]
    ];

    // Ajouter conditionnellement l'option d'envoi d'avis
    if (userDetails.value?.sms_template) {
        items.push([{
            label: 'Envoyer un avis',
            icon: 'i-heroicons-star-20-solid',
            click: () => prepareSMS(row, userDetails.value.sms_template)
        }]);
    }

    return items;
};


const isSlideoverOpen = ref(false);
const isFiltersSlideoverOpen = ref(false);
const slideoverMode = ref('add');

const phoneRegex = /^(\+33|0|0033)[1-9](\d{2}){4}$/;

const newPhone = ref('');
const newEmail = ref('');

const addPhone = () => {
    const phoneRegex = /^(\+33|0|0033)[1-9](\d{2}){4}$/;
    if (phoneRegex.test(newPhone.value) && formState.phone.length < 4) {
        formState.phone.push(newPhone.value);
        newPhone.value = '';
    }
};

const removePhone = (index) => {
    formState.phone.splice(index, 1);
};

const addEmail = () => {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (emailRegex.test(newEmail.value) && formState.email.length < 4) {
        formState.email.push(newEmail.value);
        newEmail.value = '';
    }
};

const removeEmail = (index) => {
    formState.email.splice(index, 1);
};

const addJob = async (query) => {
    loading.value = true;
    const { data, error } = await supabase
        .from('jobs')
        .insert({ name: query })
        .select('id, name').single();

    if (error) {
        console.error('Erreur dans l\'ajout du métier:', error);
        loading.value = false;
        return;
    }

    jobOptions.value.push(data);
    formState.jobs.push(data.id)
    jobQuery.value = '';
    loading.value = false;
}

const schema = z.object({
    created_at: z.string().nonempty("Date du contact requise"),
    first_name: z.string().nonempty('Prénom requis').transform(value => value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()),
    last_name: z.string().nonempty('Nom requis').transform(value => value.toUpperCase()),
    phone: z.array(z.string().nonempty('Téléphone requis').regex(phoneRegex, 'Numéro de téléphone invalide'))
        .max(4, 'Pas plus de quatre numéros de téléphone'),
    email: z.array(z.string().email('Email invalide').nonempty('Email requis'))
        .max(4, 'Pas plus de quatre emails'),
    contact_type: z.array(z.string()).nonempty('Type de contact requis'),
    birth_date: z.string().nullable(),
    address: z.any().optional(),
    company_name: z.string(),
    jobs: z.array(z.number()).max(4, 'Pas plus de quatre jobs'),
    budget_max: z.number(),
    property_type: z.array(z.string()).nonempty('Type de bien requis'),
    sector: z.any().optional(),
    search_radius_km: z.number(),
    notes: z.string(),
    country_id: z.number(),
    bedrooms: z.number().nullable(),
    rooms: z.number().nullable(),
    area_sq_m: z.number().nullable(),
    avatar: z.string().nullable()
}).refine(data => !(data.contact_type.includes(ContactType.PARTENAIRE) && !data.company_name), {
    message: "Nom de la société requis pour les partenaires",
    path: ['company_name'], // path indique où l'erreur doit être ajoutée dans l'objet de validation
});

const resetFilters = () => {
    searchQuery.value = '';
    filters.value = {
        contact_type: [],
        budget_max: null,
        property_type: [],
        sector: ''
    };
    jobsSelected.value = [];
};

function formatNameFields(contact) {
    return {
        ...contact,
        first_name: contact.first_name ? contact.first_name.charAt(0).toUpperCase() + contact.first_name.slice(1).toLowerCase() : '',
        last_name: contact.last_name ? contact.last_name.toUpperCase() : ''
    };
}

function openSlideover(mode, contact = null) {
    slideoverMode.value = mode;
    if (contact) {
        Object.assign(formState, { ...contact, created_at: new Date(contact.created_at).toISOString().split('T')[0] });
        if (contact.id) {
            fetchContactJobs(contact.id);
        }
    } else {
        Object.assign(formState, {
            created_at: new Date().toISOString().split('T')[0],
            first_name: '',
            last_name: '',
            phone: [],
            email: [],
            contact_type: [ContactType.PROSPECT],
            birth_date: null,
            address: null,
            company_name: '',
            jobs: [],
            budget_max: 0,
            property_type: [PropertyType.MAISON],
            sector: null,
            search_radius_km: 0,
            notes: '',
            country_id: france.value?.id,
            bedrooms: null,
            rooms: null,
            area_sq_m: null
        });

        newPhone.value = '';
        newEmail.value = '';
    }
    isSlideoverOpen.value = true;
}

function formatDate(dateString) {
    return format(new Date(dateString), 'MM/dd/yyyy');
}

// Add or update contact
async function onSubmit(event) {
    loading.value = true;
    const jobs = [...event.data.jobs];
    const data = formatNameFields(event.data);
    delete data.jobs;
    delete data.full_name;
    let result;
    if (slideoverMode.value === 'add') {
        result = await supabase.from('contacts').insert(data).select().single();
        if (!result.error) {
            await saveContactJobs(result.data.id, jobs);
        }
    } else {
        result = await supabase.from('contacts').update(data).eq('id', formState.id);
        if (!result.error) {
            await saveContactJobs(formState.id, jobs);
        }
    }
    if (result.error) {
        console.error('Error:', result.error);
    } else {
        isSlideoverOpen.value = false;
        await initializeMatching();
        fetchContacts();
    }
    loading.value = false;
}

// Save contact jobs
const saveContactJobs = async (contactId, jobs) => {
    await supabase.from('contacts_jobs').delete().eq('contact_id', contactId);
    const jobInserts = jobs.map(job => ({ contact_id: contactId, job_id: job }));
    await supabase.from('contacts_jobs').insert(jobInserts);
};


const isDeleteModalOpen = ref(false);
const contactToDelete = ref(null);

function openDeleteModal(contact) {
    contactToDelete.value = contact;
    isDeleteModalOpen.value = true;
}

async function confirmDelete() {
    loading.value = true;
    if (contactToDelete.value) {
        const { error } = await supabase.from('contacts').delete().eq('id', contactToDelete.value.id);
        if (error) {
            console.error('Error deleting contact:', error);
        } else {
            await initializeMatching();
            await fetchContacts();
            contactToDelete.value = null;
            isDeleteModalOpen.value = false;
        }
    }
}

const onFormSectorSearch = async (query) => {
    sectorLoading.value = true;
    try {
        const searchQuery = await $placekit.search(query, { types: ['city'] });
        return searchQuery.results.map(result => ({ value: result, label: result.city + ' (' + result.zipcode + ')' }));
    } catch (error) {
        console.error('Error fetching sector options:', error);
        return [];
    } finally {
        sectorLoading.value = false;
    }
};

const onFormAddressSearch = async (query) => {
    sectorLoading.value = true;
    try {
        const searchQuery = await $placekit.search(query, { types: ['street'] });
        return searchQuery.results.map(result => ({ value: result, label: result.name + ', ' + result.zipcode + ' ' + result.city }));
    } catch (error) {
        console.error('Error fetching address options:', error);
        return [];
    } finally {
        sectorLoading.value = false;
    }
};

// Function to normalize file names by replacing spaces, accents, and special characters
function normalizeFileName(fileName) {
    return fileName
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .normalize('NFD') // Normalize the file name
        .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
        .replace(/[^a-zA-Z0-9.-]/g, ''); // Remove special characters
}

// Function to generate a unique file name
function generateUniqueFileName(fileName) {
    const timestamp = Date.now();
    const normalizedFileName = normalizeFileName(fileName);
    const extension = normalizedFileName.split('.').pop();
    const nameWithoutExtension = normalizedFileName.replace(`.${extension}`, '');
    return `${nameWithoutExtension}-${timestamp}.${extension}`;
}

// Upload files to Supabase Storage
async function uploadFile(file) {
    const fileName = generateUniqueFileName(file.name); // Generate unique file name
    const { data, error } = await supabase.storage.from('uploads').upload(`public/${fileName}`, file);
    if (error) {
        console.error('Error uploading file:', error);
        return null;
    }
    return data.fullPath;
}

const handleFileUpload = async (event, key, multiple = false) => {
    if (loading.value) return;
    loading.value = true;
    let files = null;

    if (key === 'avatar') {
        files = avatarFile.value.$el.querySelector('input[type="file"]').files
    } else {
        loading.value = false;
        return;
    }

    const urls = [];
    const acceptedImageFormats = ['image/jpeg', 'image/png', 'image/gif'];

    for (const file of files) {
        if (key === 'avatar' && !acceptedImageFormats.includes(file.type)) {
            console.error(`Invalid file type for images: ${file.type}`);
            continue;
        }

        const path = await uploadFile(file);
        if (path) {
            urls.push(`${supabase.storageUrl}/object/public/${path}`);
        }
    }

    if (multiple) {
        formState[key] = formState[key].concat(urls);
    } else {
        formState[key] = urls[0];
    }
    loading.value = false;
};

const removeFile = (key, index = null) => {
    if (index !== null) {
        formState[key].splice(index, 1);
    } else {
        formState[key] = null;
    }
};


watch(() => formState.first_name, (newValue) => {
    if (newValue) {
        formState.first_name = newValue.charAt(0).toUpperCase() + newValue.slice(1).toLowerCase();
    }
});

watch(() => formState.last_name, (newValue) => {
    if (newValue) {
        formState.last_name = newValue.toUpperCase();
    }
});

watch(countries, (newCountries) => {
    if (newCountries) {
        fetchCountries();
    }
})

watch(jobs, (newJobs) => {
    if (newJobs) {
        fetchJobs();
    }
})

watch(route, () => {
    if (contacts.value.length > 0) {
        checkContactIdInRoute();
    }
});

onMounted(async () => {
    await fetchContacts();
    await fetchCountries();
    await fetchJobs();
})

</script>

<style scoped>
/* Ajoutez vos styles personnalisés ici */
</style>