<template>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="flex items-center mb-4">
            <img class="w-12 h-auto" src="/img/logo.png" alt="Logo YB-LEADS" />
            <div class="text-white text-md font-semibold">YB-Leads</div>
          </div>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Bienvenue !
        </h1>
        <UAlert v-if="globalError" icon="i-heroicons-exclamation-circle" color="red" variant="soft" title="Une erreur est survenue"
          :description="globalError" />
        <UForm :schema="loginSchema" :state="loginState" @submit="handleAuth" class="space-y-4 md:space-y-6">
          <UFormGroup label="Email" name="email">
            <UInput v-model="loginState.email" type="email" placeholder="name@company.com" />
            <p v-if="loginErrors.email" class="text-red-600">{{ loginErrors.email }}</p>
          </UFormGroup>
          <UFormGroup label="Mot de passe" name="password">
            <UInput v-model="loginState.password" type="password" placeholder="••••••••" />
            <p v-if="loginErrors.password" class="text-red-600">{{ loginErrors.password }}</p>
          </UFormGroup>
          <div class="flex items-center justify-between">
            <NuxtLink to="reset-password" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Mot de passe oublié?</NuxtLink>
          </div>
          <UButton type="submit" block :loading="loading">Se connecter</UButton>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Pas encore inscrit? <NuxtLink to="/register"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500">S'inscrire</NuxtLink>
          </p>
        </UForm>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, reactive } from 'vue';
import { z } from 'zod';
import { useRouter } from 'vue-router';

// Initialiser l'état du formulaire
const loginState = reactive({
  email: '',
  password: ''
});

const loginErrors = reactive({
  email: '',
  password: ''
});

const router = useRouter();
const globalError = ref('');
const loading = ref(false);
const supabase = useSupabaseClient();

const loginSchema = z.object({
  email: z.string().email("Email invalide"),
  password: z.string().min(6, "Le mot de passe doit contenir au moins 6 caractères.")
});

const validateLoginForm = () => {
  const result = loginSchema.safeParse(loginState);

  if (!result.success) {
    result.error.errors.forEach(err => {
      loginErrors[err.path[0]] = err.message;
    });
    return false;
  } else {
    // Réinitialiser les erreurs
    Object.keys(loginErrors).forEach(key => {
      loginErrors[key] = '';
    });
    return true;
  }
};

const handleAuth = async () => {
  globalError.value = ''; // Réinitialiser l'erreur globale
  loading.value = true;

  if (!validateLoginForm()) {
    globalError.value = "Veuillez corriger les erreurs du formulaire.";
    loading.value = false;
    return;
  }

  // Essayer de se connecter
  const { error } = await supabase.auth.signInWithPassword({
    email: loginState.email,
    password: loginState.password,
  });

  loading.value = false;

  if (error) {
    console.error('Error signing in:', error.message);
    globalError.value = "Veuillez vérifier votre email ou votre mot de passe.";
  } else {
    router.push('/');
  }
};
</script>

<style scoped>
/* Ajoutez ici vos styles personnalisés si nécessaire */
</style>
