<template>
    <UContainer>
        <UAlert color="orange" variant="subtle" title="Oups, vous êtes hors ligne !"
        description="Veuillez vérifier votre connexion Internet." />
    </UContainer>
</template>