<template>
  <div>
    <h1 class="text-2xl font-bold mb-4">Mon profil</h1>

    <UCard>
      <div class="flex flex-col gap-2">
        <div class="flex justify-end">
          <UButton @click="toggleEditMode" variant="link" icon="i-heroicons-pencil-square-20-solid">Modifier</UButton>
        </div>
        <div class="flex flex-col items-center">
          <UAvatar :src="userProfile?.avatar" :alt="userProfile?.full_name" size="3xl" />
        </div>
        <div v-if="!isEditMode" class="flex flex-col gap-4">
          <UFormGroup label="Nom & Prénom" name="full_name">
            <UInput disabled v-model="userProfile.full_name" />
          </UFormGroup>
          <UFormGroup label="Pays" name="countries">
            <UInput disabled v-model="userProfile.countries.name" />
          </UFormGroup>
          <UFormGroup label="Date de naissance" name="birth_date" >
            <UInput disabled v-model="userProfile.birth_date" type="date" />
          </UFormGroup>
          <UFormGroup label="Téléphone" name="phone">
            <UInput disabled v-model="userProfile.phone" />
          </UFormGroup>
          <UFormGroup label="Adresse" name="address">
            <UInput disabled v-model="userProfile.address.label" />
          </UFormGroup>
          <UButton color="red" variant="link" block @click="confirmDeleteAccount" class="mt-4">Supprimer le compte
          </UButton>
        </div>
      </div>

    </UCard>


    <UModal v-model="isEditMode" :prevent-close="loading">
      <UCard>
        <template #header>
          <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
            Modifier le profil
          </h2>
        </template>
        <UForm :schema="profileSchema" :state="profileState" @submit="handleUpdateProfile"
          class="space-y-4 md:space-y-6 flex flex-col">
          <UAvatar class="mx-auto" :src="userProfile?.avatar" :alt="userProfile?.full_name" size="3xl" />

          <UFormGroup label="Nom & Prénom" name="full_name" required>
            <div class="relative">
              <UInput v-model="profileState.full_name" type="text" placeholder="Nom" />
              <UIcon name="i-heroicons-user" class="absolute right-3 top-1/2 transform -translate-y-1/2" />
            </div>
            <p v-if="profileErrors.full_name" class="text-red-600">{{ profileErrors.full_name }}</p>
          </UFormGroup>
          <UFormGroup label="Pays" name="country_id">
            <USelectMenu value-attribute="id" option-attribute="name" v-model="profileState.country_id"
              :options="countryOptions" placeholder="Sélectionner un pays" searchable />
            <p v-if="profileErrors.country_id" class="text-red-600">{{ profileErrors.country_id }}</p>
          </UFormGroup>
          <UFormGroup label="Date de naissance" name="birth_date">
            <div class="relative">
              <UInput v-model="profileState.birth_date" type="date" placeholder="Date de naissance" />
              <UIcon name="i-heroicons-calendar" class="absolute right-3 top-1/2 transform -translate-y-1/2" />
            </div>
            <p v-if="profileErrors.birth_date" class="text-red-600">{{ profileErrors.birth_date }}</p>
          </UFormGroup>
          <UFormGroup label="Téléphone" name="phone">
            <div class="relative">
              <UInput v-model="profileState.phone" type="text" placeholder="Téléphone" />
              <UIcon name="i-heroicons-phone" class="absolute right-3 top-1/2 transform -translate-y-1/2" />
            </div>
            <p v-if="profileErrors.phone" class="text-red-600">{{ profileErrors.phone }}</p>
          </UFormGroup>
          <UFormGroup label="Adresse" name="address">
            <USelectMenu v-model="profileState.address" placeholder="Chercher une adresse" :loading="addressLoading"
              :searchable="onAddressSearch" />
            <p v-if="profileErrors.address" class="text-red-600">{{ profileErrors.address }}</p>
          </UFormGroup>
          <UFormGroup label="Template SMS" name="sms_template">
            <div class="relative">
              <UTextarea v-model="profileState.sms_template" type="text"
                placeholder="Le SMS d'avis à envoyer au contact" />
              <UIcon name="material-symbols:sms" dynamic class="absolute right-3 top-1/2 transform -translate-y-1/2" />
            </div>
            <p v-if="profileErrors.phone" class="text-red-600">{{ profileErrors.phone }}</p>
          </UFormGroup>
          <UFormGroup label="Avatar" name="avatar">
            <input accept="image/jpeg, image/png, image/gif" type="file" @change="handleAvatarUpload" />
            <p v-if="profileErrors.avatar" class="text-red-600">{{ profileErrors.avatar }}</p>
          </UFormGroup>
          <UButton type="submit" :loading="loading" block>Enregistrer</UButton>
          <UButton type="button" :loading="loading" block @click="toggleEditMode">Annuler</UButton>
        </UForm>
      </UCard>
    </UModal>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'authenticated'
})

import { ref, reactive } from 'vue';
import { z } from 'zod';
import { useRouter } from 'vue-router';
const { userDetails, countries } = useRealtimeState()

const loading = ref(false);
const countryOptions = ref([]);
const user = useSupabaseUser();
const supabase = useSupabaseClient();
const router = useRouter();

const isEditMode = ref(false);
const userProfile = reactive({
  full_name: '',
  country_id: '',
  countries: { name: ''},
  birth_date: '',
  phone: '',
  address: { label: '' },
  sms_template: '',
  avatar: ''
});

const profileState = reactive({
  full_name: '',
  country_id: '',
  countries: { name: ''},
  birth_date: '',
  phone: '',
  address: null,
  sms_template: '',
  avatar: ''
});

const profileErrors = reactive({
  full_name: '',
  country_id: '',
  birth_date: '',
  phone: '',
  address: '',
  sms_template: '',
  avatar: ''
});

const globalError = ref('');
const addressLoading = ref(false);

const profileSchema = z.object({
  full_name: z.string().nonempty("Le nom est requis"),
  country_id: z.number().optional(),
  birth_date: z.string().optional(),
  phone: z.string().optional(),
  address: z.any().optional(),
  sms_template: z.string().optional(),
  avatar: z.any().optional()
});

const resetProfileErrors = () => {
  Object.keys(profileErrors).forEach(key => {
    profileErrors[key] = '';
  });
};

const validateProfileForm = () => {
  const result = profileSchema.safeParse(profileState);

  if (!result.success) {
    result.error.errors.forEach(err => {
      profileErrors[err.path[0]] = err.message;
    });
    return false;
  } else {
    resetProfileErrors();
    return true;
  }
};

const handleAvatarUpload = async (event) => {
  loading.value = true;
  const files = event.target?.files;
  if (files) {
    const file = event.target.files[0];
    const timestamp = Date.now();
    const sanitizedFileName = file.name.replace(/[^a-zA-Z0-9]/g, '_');
    const fileName = `${timestamp}-${sanitizedFileName}`;
    const { data, error } = await supabase.storage
      .from('avatars')
      .upload(`public/${user.value.id}/${fileName}`, file);

    if (error) {
      console.error('Error uploading avatar:', error.message);
      profileErrors.avatar = error.message;
    } else {
      profileState.avatar = `${supabase.storageUrl}/object/public/${data.fullPath}`;
      userProfile.avatarUrl = `${supabase.storageUrl}/object/public/${data.fullPath}`;
    }
  }
  loading.value = false;
};

const handleUpdateProfile = async () => {
  loading.value = true;
  globalError.value = ''; // Réinitialiser l'erreur globale

  if (!validateProfileForm()) {
    globalError.value = "Veuillez corriger les erreurs du formulaire.";
    loading.value = false;
    return;
  }

  try {
    const { error } = await supabase
      .from('user_details')
      .update({
        full_name: profileState.full_name,
        country_id: profileState.country_id,
        birth_date: profileState.birth_date,
        phone: profileState.phone,
        address: profileState.address,
        sms_template: profileState.sms_template,
        avatar: profileState.avatar
      })
      .eq('user_id', user.value.id);

    if (error) {
      console.error('Error updating profile:', error.message);
      globalError.value = error.message;
    } else {
      console.log('Profile updated successfully');
      Object.assign(userProfile, profileState);
      toggleEditMode();
    }
  } catch (err) {
    console.error('Unexpected error:', err);
    globalError.value = 'Une erreur inattendue est survenue.';
  } finally {
    loading.value = false;
  }
};

const toggleEditMode = () => {
  isEditMode.value = !isEditMode.value;
};

const confirmDeleteAccount = async () => {
  if (confirm("Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.")) {
    try {
      const { data, error } = await supabase.rpc('deleteUser')

      if (error) {
        console.error('Error deleting account:', error.message);
        globalError.value = error.message;
      } else {
        console.log('Account deleted successfully');
        router.push('/login');
      }
    } catch (err) {
      console.error('Unexpected error:', err);
      globalError.value = 'Une erreur inattendue est survenue.';
    }
  }
};

const onAddressSearch = async (query) => {
  addressLoading.value = true;
  try {
    const { $placekit } = useNuxtApp();
    const searchQuery = await $placekit.search(query, { types: ['street'] });
    return searchQuery.results.map(result => ({
      value: result,
      label: result.name + ', ' + result.zipcode + ' ' + result.city
    }));
  } catch (error) {
    console.error('Error fetching address options:', error);
    return [];
  } finally {
    addressLoading.value = false;
  }
};


const fetchCountries = async () => {
  countryOptions.value = countries.value.map(c => { return { id: c.id, name: c.name } });
};

watch(userDetails, (newVal) => {
  Object.assign(userProfile, newVal);
  Object.assign(profileState, newVal);
})
watch(countries, async (newVal) => {
  await fetchCountries();
})
onMounted(async () => {
  await fetchCountries();
  Object.assign(userProfile, userDetails.value);
  Object.assign(profileState, userDetails.value);
})
</script>