<template>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="flex items-center mb-4">
            <img class="w-12 h-auto" src="/img/logo.png" alt="Logo YB-LEADS" />
            <div class="text-white text-md font-semibold">YB-Leads</div>
          </div>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Créer un compte
        </h1>
        <UForm :schema="schema" :state="formState" @submit="handleRegister" class="space-y-4 md:space-y-6">
          <UFormGroup label="Nom & Prénom" name="full_name" required>
            <UInput v-model="formState.full_name" type="text" placeholder="Nom" />
            <p v-if="errors.full_name" class="text-red-600">{{ errors.full_name }}</p>
          </UFormGroup>
          <UFormGroup label="Email" name="email" required>
            <UInput v-model="formState.email" type="email" placeholder="name@company.com" />
            <p v-if="errors.email" class="text-red-600">{{ errors.email }}</p>
          </UFormGroup>
          <UFormGroup label="Mot de passe" name="password" required>
            <UInput v-model="formState.password" type="password" placeholder="••••••••" />
            <p v-if="errors.password" class="text-red-600">{{ errors.password }}</p>
          </UFormGroup>
          <UFormGroup label="Confirmer le mot de passe" name="confirm_password" required>
            <UInput v-model="formState.confirm_password" type="password" placeholder="••••••••" />
            <p v-if="errors.confirm_password" class="text-red-600">{{ errors.confirm_password }}</p>
          </UFormGroup>
          <UButton type="submit" block>Créer un compte</UButton>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Déjà inscrit? <NuxtLink to="/login"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500">Se connecter</NuxtLink>
          </p>
          <p v-if="globalError" class="text-red-600">{{ globalError }}</p>
        </UForm>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, reactive } from 'vue';
import { z } from 'zod';
import { useRouter } from 'vue-router';

const formState = reactive({
  full_name: '',
  email: '',
  password: '',
  confirm_password: '',
});

const errors = reactive({
  full_name: '',
  email: '',
  password: '',
  confirm_password: '',
});

const supabase = useSupabaseClient();
const router = useRouter();
const globalError = ref('');

const schema = z.object({
  full_name: z.string().nonempty("Le nom est requis"),
  email: z.string().email("Email invalide").nonempty("L'email est requis"),
  password: z.string().min(6, "Le mot de passe doit contenir au moins 6 caractères"),
  confirm_password: z.string().min(6, "Le mot de passe de confirmation doit contenir au moins 6 caractères"),
});

const validateForm = () => {
  const result = schema.safeParse(formState);

  if (!result.success) {
    result.error.errors.forEach(err => {
      errors[err.path[0]] = err.message;
    });
    return false;
  } else {
    // Vérifier la correspondance des mots de passe
    if (formState.password !== formState.confirm_password) {
      errors.confirm_password = "Les mots de passe ne correspondent pas";
      return false;
    }
    // Réinitialiser les erreurs
    Object.keys(errors).forEach(key => {
      errors[key] = '';
    });
    return true;
  }
};

const handleRegister = async () => {
  globalError.value = ''; // Réinitialiser l'erreur globale

  if (!validateForm()) {
    globalError.value = "Veuillez corriger les erreurs du formulaire.";
    return;
  }

  const { data, error } = await supabase.auth.signUp({
    email: formState.email,
    password: formState.password,
    options: {
      data: {
        full_name: formState.full_name,
      }
    }
  });

  if (error) {
    console.error('Error signing up:', error.message);
    globalError.value = error.message;
  } else {
    console.log('Successfully signed up');

    // Créer une ligne dans la table user_details avec l'id de l'utilisateur
    const { error: userDetailsError } = await supabase
      .from('user_details')
      .insert({
        user_id: data.user.id,
        full_name: formState.full_name,
        email: formState.email,
        miscellaneous_docs_url: []
      });

    if (userDetailsError) {
      console.error('Error creating user details:', userDetailsError.message);
      globalError.value = userDetailsError.message;
    } else {
      // Redirection vers la page de complétion du profil

      const { error: feeScheduleError } = await supabase.from('fee_schedules').insert(
        [
          {
            "price_range_start": 1,
            "price_range_end": 19999,
            "fee": 3000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 20000,
            "price_range_end": 39999,
            "fee": 4000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 40000,
            "price_range_end": 59999,
            "fee": 4800,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 60000,
            "price_range_end": 79999,
            "fee": 5500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 80000,
            "price_range_end": 99999,
            "fee": 6500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 100000,
            "price_range_end": 119999,
            "fee": 7000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 120000,
            "price_range_end": 139999,
            "fee": 7500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 140000,
            "price_range_end": 159999,
            "fee": 8500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 160000,
            "price_range_end": 179999,
            "fee": 9000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 180000,
            "price_range_end": 199999,
            "fee": 9500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 200000,
            "price_range_end": 229999,
            "fee": 11000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 230000,
            "price_range_end": 259999,
            "fee": 12000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 260000,
            "price_range_end": 289999,
            "fee": 13000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 290000,
            "price_range_end": 319999,
            "fee": 14000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 320000,
            "price_range_end": 349999,
            "fee": 15500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 350000,
            "price_range_end": 379999,
            "fee": 16500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 380000,
            "price_range_end": 409999,
            "fee": 18000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 410000,
            "price_range_end": 439999,
            "fee": 19500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 410000,
            "price_range_end": 439999,
            "fee": 19500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 440000,
            "price_range_end": 469999,
            "fee": 21000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 470000,
            "price_range_end": 499999,
            "fee": 22500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 500000,
            "price_range_end": 549999,
            "fee": 24000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 550000,
            "price_range_end": 599999,
            "fee": 25000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 600000,
            "price_range_end": 649999,
            "fee": 25500,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 650000,
            "price_range_end": 699999,
            "fee": 26000,
            "fee_type": "Fixe",
            "user_id": data.user.id
          },
          {
            "price_range_start": 700000,
            "price_range_end": 899999,
            "fee": 4,
            "fee_type": "Pourcentage",
            "user_id": data.user.id
          },
          {
            "price_range_start": 900000,
            "price_range_end": 1199999,
            "fee": 4,
            "fee_type": "Pourcentage",
            "user_id": data.user.id
          },
          {
            "price_range_start": 1200000,
            "price_range_end": 1499999,
            "fee": 4,
            "fee_type": "Pourcentage",
            "user_id": data.user.id
          },
          {
            "price_range_start": 1500000,
            "price_range_end": 2000000,
            "fee": 4,
            "fee_type": "Pourcentage",
            "user_id": data.user.id
          }
        ]
      )
      router.push('/complete-profile');
    }
  }
};
</script>