<template>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      YB Leads
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Réinitialiser le mot de passe
        </h1>
        <UAlert v-if="globalError" icon="i-heroicons-exclamation-circle" color="red" variant="soft" title="Une erreur est survenue"
          :description="globalError" />
        <UAlert v-if="successMessage" icon="i-heroicons-check-circle" color="green" variant="soft" title="Succès"
          :description="successMessage" />
        <UForm :schema="resetSchema" :state="resetState" @submit="handlePasswordReset" class="space-y-4 md:space-y-6">
          <UFormGroup label="Email" name="email">
            <UInput v-model="resetState.email" type="email" placeholder="name@company.com" />
            <p v-if="resetErrors.email" class="text-red-600">{{ resetErrors.email }}</p>
          </UFormGroup>
          <UButton type="submit" block :loading="loading">Réinitialiser</UButton>
        </UForm>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, reactive } from 'vue';
import { z } from 'zod';
import { useRouter } from 'vue-router';

// Initialiser l'état du formulaire
const resetState = reactive({
  email: ''
});

const resetErrors = reactive({
  email: ''
});

const router = useRouter();
const globalError = ref('');
const successMessage = ref('');
const loading = ref(false);
const supabase = useSupabaseClient();

const resetSchema = z.object({
  email: z.string().email("Email invalide")
});

const validateResetForm = () => {
  const result = resetSchema.safeParse(resetState);

  if (!result.success) {
    result.error.errors.forEach(err => {
      resetErrors[err.path[0]] = err.message;
    });
    return false;
  } else {
    // Réinitialiser les erreurs
    Object.keys(resetErrors).forEach(key => {
      resetErrors[key] = '';
    });
    return true;
  }
};

const handlePasswordReset = async () => {
  globalError.value = ''; // Réinitialiser l'erreur globale
  successMessage.value = '';
  loading.value = true;

  if (!validateResetForm()) {
    globalError.value = "Veuillez corriger les erreurs du formulaire.";
    loading.value = false;
    return;
  }

  // Essayer de réinitialiser le mot de passe
  const { error } = await supabase.auth.resetPasswordForEmail(resetState.email, {
    redirectTo: 'https://your-redirect-url.com'
  });

  loading.value = false;

  if (error) {
    console.error('Error resetting password:', error.message);
    globalError.value = "Une erreur est survenue. Veuillez réessayer.";
  } else {
    successMessage.value = "Un email de réinitialisation a été envoyé.";
  }
};
</script>

<style scoped>
/* Ajoutez ici vos styles personnalisés si nécessaire */
</style>
