<template>
    <h1 class="text-2xl font-bold mb-4">Mon équipe</h1>
    <UCard>
        <template #header>
            <div class="flex justify-between" v-if="userDetails?.team?.length">
                <UInput :ui="{ icon: { trailing: { pointer: '' } } }" size="md" color="primary" variant="none"
                    v-model="teamName" icon="i-heroicons-pencil-square-20-solid" trailing>
                    <template #trailing>
                        <UButton @click="updateTeamName" :disabled="!teamName" icon="i-heroicons-pencil-square-20-solid"
                            size="sm" color="primary" variant="ghost" trailing />
                    </template>
                </UInput>
                <UButton icon="i-heroicons-plus-20-solid" class="ml-auto" @click="showAddMemberModal = true"><span
                        class="hidden md:inline">Ajouter un membre</span></UButton>
            </div>
        </template>
        <div>
            <div v-if="userDetails?.team?.length && !loading">
                <UTable :columns="teamsColumns" :rows="filteredMembers">
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun membre trouvé.</div>
                        </div>
                    </template>
                    <template #avatar-data="{ row }">
                        <UAvatar :src="row.avatar" :alt="row?.last_name + ' ' + row?.first_name" />
                    </template>
                    <template #full_name-data="{ row }">
                        <div class="flex items-center gap-2">
                            <UIcon name="noto-v1:birthday-cake" class="text-lg" dynamic
                                v-if="row.birth_date && format(new Date(row.birth_date), 'dd/MM') == format(new Date(), 'dd/MM')" />
                            <UButton @click="openViewModal(row)"
                                v-if="row.status === UserTeamStatus.PENDING || row.status === UserTeamStatus.TODO"
                                variant="link" color="orange">{{ row?.last_name + ' ' + row?.first_name }}</UButton>
                            <UButton @click="openViewModal(row)" v-if="row.status === UserTeamStatus.DONE"
                                variant="link">{{ row?.last_name + ' ' + row?.first_name }}
                            </UButton>
                        </div>
                    </template>
                    <template #country_id-data="{ row }">
                        <span>{{ countries.find(c => c.id === row.country_id)?.name }}</span>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                    <template #building_session-data="{ row }">
                        <div class="flex items-center gap-2">
                            <UIcon name="i-heroicons-exclamation-circle-20-solid" class="text-red-500"
                                v-if="row.building_session && new Date(row.building_session) < subMonths(new Date(), 6)" />
                            <span v-if="row.building_session">{{ format(new Date(row.building_session), 'dd/MM/yyyy')
                                }}</span>
                            <span v-if="!row.building_session">Non défini</span>
                        </div>
                    </template>
                </UTable>

            </div>
            <div v-else-if="!userDetails?.team?.length && !loading">
                <UForm :state="createTeamFormState" @submit="handleCreateTeam" class="flex flex-col">
                    <UFormGroup required label="Nom de l'équipe" name="name">
                        <UInput v-model="createTeamFormState.name"></UInput>
                    </UFormGroup>
                    <UButton :disabled="!createTeamFormState.name" :loading="loading" class="mt-4 ml-auto" type="submit"
                        label="Créer mon équipe"></UButton>
                </UForm>
            </div>
        </div>
        <template #footer>
            <h2 class="text-xl font-semibold mb-4">Organigramme</h2>
            <div id="tree" ref="tree"></div>
        </template>

    </UCard>

    <UModal v-model="showAddMemberModal">
        <UCard>
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Ajouter un membre </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="showAddMemberModal = false" />
                </div>
            </template>
            <UForm :schema="addMemberFormStateSchema" :state="addMemberFormState" @submit="handleAddMember"
                class="flex flex-col space-y-4">
                <UFormGroup label="Avatar" name="avatar">
                    <div class="flex items-center gap-4 mt-4">
                        <UAvatar size="3xl" v-if="addMemberFormState.avatar" :src="addMemberFormState.avatar"
                            :alt="addMemberFormState.last_name + ' ' + + addMemberFormState.first_name" />
                        <UInput class="flex-grow" type="file" ref="avatarFile" accept="image/jpeg, image/png, image/gif"
                            @change="event => handleFileUpload(event, addMemberFormState, 'avatar')">
                        </UInput>
                    </div>
                </UFormGroup>
                <UFormGroup required label="Niveau hiérarchique" name="hierarchy_level">
                    <UInput type="number" v-model="addMemberFormState.hierarchy_level"></UInput>
                </UFormGroup>
                <UFormGroup label="Identifiant" name="identifier">
                    <UInput v-model="addMemberFormState.identifier"></UInput>
                </UFormGroup>
                <UFormGroup label="Position" name="position">
                    <UInput v-model="addMemberFormState.position"></UInput>
                </UFormGroup>
                <UFormGroup label="Pays" name="country_id" required>
                    <USelectMenu :options="countries" value-attribute="id" option-attribute="name"
                        v-model="addMemberFormState.country_id"></USelectMenu>
                </UFormGroup>
                <UFormGroup label="Nom" name="last_name" required>
                    <UInput v-model="addMemberFormState.last_name"></UInput>
                </UFormGroup>
                <UFormGroup label="Prénom" name="first_name" required>
                    <UInput v-model="addMemberFormState.first_name"></UInput>
                </UFormGroup>
                <UFormGroup label="Date de naissance" name="birth_date">
                    <UInput type="date" v-model="new Date(addMemberFormState.birth_date).toISOString().split('T')[0]">
                    </UInput>
                </UFormGroup>
                <UFormGroup label="Numéro de téléphone" name="phone">
                    <UInput v-model="addMemberFormState.phone"></UInput>
                </UFormGroup>
                <UFormGroup label="Email" name="email">
                    <UInput v-model="addMemberFormState.email"></UInput>
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <USelectMenu v-model="addMemberFormState.address" placeholder="Chercher une adresse"
                        :loading="loading" :searchable="onFormAddressSearch" />
                </UFormGroup>
                <UFormGroup required label="Profil" name="profile">
                    <USelectMenu :options="userTeamProfiles" v-model="addMemberFormState.profile"></USelectMenu>
                </UFormGroup>
                <UFormGroup required label="Entrée" name="created_at">
                    <UInput v-model="new Date(addMemberFormState.created_at).toISOString().split('T')[0]" type="date" />
                </UFormGroup>
                <UFormGroup required label="Intégration du filleul" name="status">
                    <USelectMenu :options="userTeamStatuses" v-model="addMemberFormState.status"></USelectMenu>
                </UFormGroup>
                <UFormGroup label="Building session" name="building_session">
                    <UInput type="date" v-model="addMemberFormState.building_session"></UInput>
                </UFormGroup>
                <UFormGroup label="Observation" name="notes">
                    <UTextarea v-model="addMemberFormState.notes"></UTextarea>
                </UFormGroup>
                <UButton :loading="loading" class="mt-4 ml-auto" type="submit" label="Ajouter le membre"></UButton>
            </UForm>
        </UCard>
    </UModal>

    <UModal v-model="showEditMemberModal">
        <UCard>
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Editer un membre </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="showEditMemberModal = false" />
                </div>
            </template>
            <UForm :schema="editMemberFormStateSchema" :state="editMemberFormState" @submit="handleEditMember"
                class="flex flex-col space-y-4">
                <UFormGroup label="Avatar" name="avatar">
                    <div class="flex items-center gap-4 mt-4">
                        <UAvatar size="3xl" v-if="editMemberFormState.avatar" :src="editMemberFormState.avatar"
                            :alt="editMemberFormState.last_name + ' ' + editMemberFormState.first_name" />
                        <UInput class="flex-grow" type="file" ref="avatarFile" accept="image/jpeg, image/png, image/gif"
                            @change="event => handleFileUpload(event, editMemberFormState, 'avatar')">
                        </UInput>
                    </div>
                </UFormGroup>
                <UFormGroup required label="Niveau hiérarchique" name="hierarchy_level">
                    <UInput type="number" v-model="editMemberFormState.hierarchy_level"></UInput>
                </UFormGroup>
                <UFormGroup label="Identifiant" name="identifier">
                    <UInput v-model="editMemberFormState.identifier"></UInput>
                </UFormGroup>
                <UFormGroup label="Position" name="position">
                    <UInput v-model="editMemberFormState.position"></UInput>
                </UFormGroup>
                <UFormGroup label="Pays" name="country_id" required>
                    <USelectMenu :options="countries" value-attribute="id" option-attribute="name"
                        v-model="editMemberFormState.country_id"></USelectMenu>
                </UFormGroup>
                <UFormGroup label="Nom" name="last_name" required>
                    <UInput v-model="editMemberFormState.last_name"></UInput>
                </UFormGroup>
                <UFormGroup label="Prénom" name="first_name" required>
                    <UInput v-model="editMemberFormState.first_name"></UInput>
                </UFormGroup>
                <UFormGroup label="Date de naissance" name="birth_date">
                    <UInput type="date" v-model="new Date(editMemberFormState.birth_date).toISOString().split('T')[0]">
                    </UInput>
                </UFormGroup>
                <UFormGroup label="Numéro de téléphone" name="phone">
                    <UInput v-model="editMemberFormState.phone"></UInput>
                </UFormGroup>
                <UFormGroup label="Email" name="email">
                    <UInput v-model="editMemberFormState.email"></UInput>
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <USelectMenu v-model="editMemberFormState.address" placeholder="Chercher une adresse"
                        :loading="loading" :searchable="onFormAddressSearch" />
                </UFormGroup>
                <UFormGroup required label="Profil" name="profile">
                    <USelectMenu :options="userTeamProfiles" v-model="editMemberFormState.profile"></USelectMenu>
                </UFormGroup>
                <UFormGroup required label="Entrée" name="created_at">
                    <UInput v-model="new Date(editMemberFormState.created_at).toISOString().split('T')[0]"
                        type="date" />
                </UFormGroup>
                <UFormGroup required label="Intégration du filleul" name="status">
                    <USelectMenu :options="userTeamStatuses" v-model="editMemberFormState.status"></USelectMenu>
                </UFormGroup>
                <UFormGroup label="Building session" name="building_session">
                    <UInput type="date" v-model="editMemberFormState.building_session"></UInput>
                </UFormGroup>
                <UFormGroup label="Observation" name="notes">
                    <UTextarea v-model="editMemberFormState.notes"></UTextarea>
                </UFormGroup>
                <UButton :loading="loading" class="mt-4 ml-auto" type="submit" label="Enregistrer"></UButton>
            </UForm>
        </UCard>
    </UModal>

    <UModal v-model="showViewMemberModal">
        <UCard>
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Détails du membre </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="showViewMemberModal = false" />
                </div>
            </template>
            <div class="flex flex-col space-y-4">
                <UFormGroup label="Avatar" name="avatar">
                    <UAvatar class="mt-4" size="3xl" :src="viewMemberFormState?.avatar" :alt="viewMemberFormState?.last_name + ' ' + viewMemberFormState?.first_name" />
                </UFormGroup>
                <UFormGroup label="Niveau hiérarchique" name="hierarchy_level">
                    <UInput disabled type="number" v-model="viewMemberFormState.hierarchy_level"></UInput>
                </UFormGroup>
                <UFormGroup label="Identifiant" name="identifier">
                    <UInput disabled v-model="viewMemberFormState.identifier"></UInput>
                </UFormGroup>
                <UFormGroup label="Position" name="position">
                    <UInput disabled v-model="viewMemberFormState.position"></UInput>
                </UFormGroup>
                <UFormGroup label="Pays" name="country_id" required>
                    <USelectMenu disabled :options="countries" value-attribute="id" option-attribute="name"
                        v-model="viewMemberFormState.country_id"></USelectMenu>
                </UFormGroup>
                <UFormGroup label="Nom" name="last_name">
                    <UInput disabled v-model="viewMemberFormState.last_name"></UInput>
                </UFormGroup>
                <UFormGroup label="Prénom" name="first_name">
                    <UInput disabled v-model="viewMemberFormState.first_name"></UInput>
                </UFormGroup>
                <UFormGroup label="Date de naissance" name="birth_date">
                    <UInput disabled type="date" v-model="viewMemberFormState.birth_date"></UInput>
                </UFormGroup>
                <UFormGroup label="Numéro de téléphone" name="phone">
                    <UBadge v-if="viewMemberFormState.phone" color="white" variant="solid" size="xs"
                        class="inline-flex items-center gap-1">
                        <UIcon name="i-heroicons-phone-20-solid" /><a :href="`tel:${viewMemberFormState.phone}`">{{ viewMemberFormState.phone }}</a>
                    </UBadge>
                    <div v-if="!viewMemberFormState.phone" class="text-sm text-gray-400">Aucun numéro de téléphone</div>
                </UFormGroup>
                <UFormGroup label="Email" name="email">
                    <UBadge v-if="viewMemberFormState.email" color="white" variant="solid" size="xs"
                        class="inline-flex items-center gap-1">
                        <UIcon name="i-heroicons-envelope-20-solid" /><a :href="`mailto:${viewMemberFormState.email}`">{{ viewMemberFormState.email }}</a>
                    </UBadge>
                    <div v-if="!viewMemberFormState.email" class="text-sm text-gray-400">Aucune adresse email</div>
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <USelectMenu disabled v-model="viewMemberFormState.address" placeholder="Chercher une adresse"
                        :loading="loading" :searchable="onFormAddressSearch" />
                </UFormGroup>
                <UFormGroup label="Profil" name="profile">
                    <USelectMenu disabled :options="userTeamProfiles" v-model="viewMemberFormState.profile">
                    </USelectMenu>
                </UFormGroup>
                <UFormGroup label="Entrée" name="created_at">
                    <UInput disabled v-model="new Date(viewMemberFormState.created_at).toISOString().split('T')[0]"
                        type="date" />
                </UFormGroup>
                <UFormGroup label="Intégration du filleul" name="status">
                    <UInput disabled v-model="viewMemberFormState.status"></UInput>
                </UFormGroup>
                <UFormGroup label="Building session" name="building_session">
                    <UInput disabled type="date" v-model="viewMemberFormState.building_session"></UInput>
                </UFormGroup>
                <UFormGroup label="Observation" name="notes">
                    <UTextarea disabled v-model="viewMemberFormState.notes"></UTextarea>
                </UFormGroup>
                <UButton @click="showViewMemberModal = false" class="mt-4 ml-auto" label="Fermer"></UButton>
            </div>
        </UCard>
    </UModal>

    <UNotifications />
</template>

<script setup>
definePageMeta({
    layout: 'authenticated'
})
import { ref, onMounted, reactive } from 'vue';
import OrgChart from '@balkangraph/orgchart.js';
import { UserTeamProfile, UserTeamStatus } from '~/utils/enums';
import { z } from 'zod';
import { format, subMonths } from 'date-fns';

const { countries } = useRealtimeState()
const { $placekit } = useNuxtApp()

const userTeamProfiles = Object.values(UserTeamProfile);
const userTeamStatuses = Object.values(UserTeamStatus);
const colorMode = useColorMode()
const isDark = computed(() => colorMode.value === 'dark')

const loading = ref(false);
const user = useSupabaseUser();
const supabase = useSupabaseClient();
const userDetails = ref(null);
const teamMembers = ref([]);
const showAddMemberModal = ref(false);
const showEditMemberModal = ref(false);
const showViewMemberModal = ref(false);
const toast = useToast();
const teamName = ref(null);
const tree = ref(null);
const phoneRegex = /^(\+33|0|0033)[1-9](\d{2}){4}$/;
const avatarFile = ref(null);

const addMemberFormStateSchema = z.object({
    hierarchy_level: z.number().min(0, "Niveau hiérarchique est requis"),
    building_session: z.string().nullable(),
    position: z.string().nullable(),
    profile: z.string("Un profil est requis."),
    status: z.string("Une choix d'intégration de filleul est requis"),
    phone: z.string().regex(phoneRegex, 'Numéro de téléphone invalide').nullable(),
    first_name: z.string().nonempty('Prénom requis'),
    last_name: z.string().nonempty('Nom requis'),
    birth_date: z.string().nullable(),
    address: z.any().optional(),
    country_id: z.number(),
    email: z.string().email('Email invalide').nullable(),
    notes: z.string().nullable(),
    created_at: z.preprocess((arg) => {
        if (typeof arg == "string" || arg instanceof Date) return new Date(arg);
    }, z.date()),
    avatar: z.string().nullable(),
    identifier: z.string().nullable()
});

const editMemberFormStateSchema = z.object({
    hierarchy_level: z.number().min(0, "Niveau hiérarchique est requis"),
    building_session: z.string().nullable(),
    position: z.string().nullable(),
    profile: z.string("Un profil est requis."),
    status: z.string("Une choix d'intégration de filleul est requis"),
    phone: z.string().regex(phoneRegex, 'Numéro de téléphone invalide').nullable(),
    first_name: z.string().nonempty('Prénom requis'),
    last_name: z.string().nonempty('Nom requis'),
    birth_date: z.string().nullable(),
    address: z.any().optional(),
    country_id: z.number(),
    email: z.string().email('Email invalide').nullable(),
    notes: z.string().nullable(),
    created_at: z.preprocess((arg) => {
        if (typeof arg == "string" || arg instanceof Date) return new Date(arg);
    }, z.date()),
    avatar: z.string().nullable(),
    identifier: z.string().nullable()
});

const createTeamFormState = reactive({
    name: null
});

const addMemberFormState = reactive({
    team_id: null,
    hierarchy_level: 1,
    building_session: null,
    position: null,
    profile: userTeamProfiles[0],
    status: userTeamStatuses[0],
    notes: null,
    first_name: '',
    last_name: '',
    birth_date: new Date().toISOString().split('T')[0],
    phone: null,
    email: null,
    address: null,
    country_id: null,
    avatar: null,
    identifier: null,
    created_at: new Date().toISOString().split('T')[0]
});

const editMemberFormState = reactive({
    id: null,
    team_id: null,
    hierarchy_level: null,
    building_session: null,
    position: null,
    profile: null,
    status: null,
    notes: null,
    first_name: '',
    last_name: '',
    birth_date: null,
    phone: null,
    email: null,
    address: null,
    country_id: null,
    avatar: null,
    identifier: null,
    created_at: null
});

const viewMemberFormState = reactive({
    id: null,
    team_id: null,
    hierarchy_level: null,
    building_session: null,
    position: null,
    profile: null,
    status: null,
    notes: null,
    first_name: '',
    last_name: '',
    birth_date: null,
    phone: null,
    email: null,
    address: null,
    country_id: null,
    avatar: null,
    identifier: null,
    created_at: null
});

const teamsColumns = [
    { key: "avatar" },
    { key: "hierarchy_level", label: "Niveau", sortable: true },
    { key: "country_id", label: "Pays", sortable: true },
    { key: "full_name", label: "Nom", sortable: true },
    { key: "building_session", label: "Building session", sortable: true },
    { key: "actions" }
];

const actionItems = (row) => {
    return [
        [{
            label: 'Modifier',
            icon: 'i-heroicons-pencil-square-20-solid',
            click: () => openEditModal(row)
        }],
        [{
            label: 'Supprimer',
            icon: 'i-heroicons-trash-20-solid',
            click: () => handleDeleteMember(row)
        }]
    ]
};

async function fetchUserDetails() {
    loading.value = true;
    try {
        const { data, error } = await supabase
            .from('user_details')
            .select(`
    *,
    team:teams!teams_manager_id_fkey (
      id,
      name,
      country,
      members:user_teams (
        id,
        team_id,
        building_session,
        hierarchy_level,
        position,
        notes,
        profile,
        status,
        first_name,
        last_name,
        birth_date,
        phone,
        email,
        address,
        country_id,
        avatar,
        identifier,
        created_at
      )
    )
  `)
            .eq('user_id', user.value.id)
            .single();

        if (error) throw error;

        userDetails.value = data;

        teamName.value = data.team[0]?.name;

        teamMembers.value = data.team[0].members || [];

        if (data.team && data.team.length) {
            addMemberFormState.team_id = data.team[0].id
        }

    } catch (error) {
        console.error('Error fetching user profile:', error.message);
    } finally {
        loading.value = false;
    }
}

function openEditModal(member) {
    Object.assign(editMemberFormState, member);
    showEditMemberModal.value = true;
}

function openViewModal(member) {
    Object.assign(viewMemberFormState, member);
    showViewMemberModal.value = true;
}

async function handleCreateTeam() {
    if (!createTeamFormState.name.trim()) {
        toast.add({ title: 'Le nom de l\'équipe est requis', color: 'red' })
        return;
    }

    loading.value = true;
    try {
        const { data: teamData, error: teamError } = await supabase
            .from('teams')
            .insert({
                name: createTeamFormState.name,
                manager_id: user.value.id,
            }).select().single();

        if (teamError) throw teamError;

        const { data: userTeamsData, error: userTeamError } = await supabase
            .from('user_teams')
            .insert({
                team_id: teamData.id,
                hierarchy_level: 0,
                first_name: userDetails.value.split(' ')[0],
                last_name: userDetails.value.split(' ')[1],
                country_id: userDetails.value.country_id,
                phone: userDetails.value.phone,
                address: userDetails.value.address,
                birth_date: userDetails.value.birth_date,
                email: userDetails.value.email,
                profile: userTeamProfiles[0],
                status: userTeamStatuses[0]
            }).select().single();

        if (userTeamError) throw userTeamError;

        toast.add({ title: 'Équipe créée avec succès !' })
        fetchUserDetails();
    } catch (error) {
        console.error('Erreur lors de la création de l’équipe :', error.message);
        toast.add({ title: 'Échec de la création de l’équipe.', color: 'red' })

    } finally {
        loading.value = false;
    }
}

async function handleAddMember() {
    loading.value = true;
    try {
        const { data: newUserTeam, error } = await supabase
            .from('user_teams')
            .insert({
                avatar: addMemberFormState.avatar,
                identifier: addMemberFormState.identifier,
                team_id: addMemberFormState.team_id,
                hierarchy_level: addMemberFormState.hierarchy_level,
                building_session: addMemberFormState.building_session,
                position: addMemberFormState.position,
                notes: addMemberFormState.notes,
                first_name: addMemberFormState.first_name,
                last_name: addMemberFormState.last_name,
                birth_date: addMemberFormState.birth_date,
                phone: addMemberFormState.phone,
                email: addMemberFormState.email,
                address: addMemberFormState.address,
                country_id: addMemberFormState.country_id,
                profile: addMemberFormState.profile,
                status: addMemberFormState.status,
                created_at: addMemberFormState.created_at
            }).select().single();

        if (error) throw error;

        toast.add({ title: 'Membre ajouté avec succès !' });
        await fetchUserDetails();
        // renderOrgChart();

        showAddMemberModal.value = false;
    } catch (error) {
        console.error('Erreur lors de l\'ajout du membre :', error.message);
        toast.add({ title: 'Échec de l\'ajout du membre.', color: 'red' });
    } finally {
        loading.value = false;
    }
}

async function handleEditMember() {
    loading.value = true;
    try {
        const { data: updatedUserTeam, error } = await supabase
            .from('user_teams')
            .update({
                avatar: editMemberFormState.avatar,
                identifier: editMemberFormState.identifier,
                hierarchy_level: editMemberFormState.hierarchy_level,
                building_session: editMemberFormState.building_session,
                position: editMemberFormState.position,
                notes: editMemberFormState.notes,
                first_name: editMemberFormState.first_name,
                last_name: editMemberFormState.last_name,
                birth_date: editMemberFormState.birth_date,
                phone: editMemberFormState.phone,
                email: editMemberFormState.email,
                address: editMemberFormState.address,
                country_id: editMemberFormState.country_id,
                profile: editMemberFormState.profile,
                status: editMemberFormState.status,
                created_at: editMemberFormState.created_at
            })
            .eq('id', editMemberFormState.id)
            .select().single();

        if (error) throw error;

        toast.add({ title: 'Membre mis à jour avec succès !' });
        await fetchUserDetails();
        // renderOrgChart();

        showEditMemberModal.value = false;
    } catch (error) {
        console.error('Erreur lors de la mise à jour du membre :', error.message);
        toast.add({ title: 'Échec de la mise à jour du membre.', color: 'red' });
    } finally {
        loading.value = false;
    }
}

async function handleDeleteMember(member) {
    loading.value = true;
    try {
        const { error } = await supabase
            .from('user_teams')
            .delete()
            .eq('id', member.id);

        if (error) throw error;

        toast.add({ title: 'Membre supprimé avec succès !' });
        await fetchUserDetails();
        // renderOrgChart();

    } catch (error) {
        console.error('Erreur lors de la suppression du membre :', error.message);
        toast.add({ title: 'Échec de la suppression du membre.', color: 'red' });
    } finally {
        loading.value = false;
    }
}

async function updateTeamName() {
    loading.value = true;
    try {
        const { data: updatedTeam, error } = await supabase
            .from('teams')
            .update({
                name: teamName.value,
            })
            .eq('id', userDetails.value.team[0].id)
            .select().single();

        if (error) throw error;


        toast.add({ title: 'Nom d\'équipe mis à jour avec succès !' });
        await fetchUserDetails();
        // renderOrgChart();

        showEditMemberModal.value = false;
    } catch (error) {
        console.error('Erreur lors de la mise à jour du nom d\'équipe :', error.message);
        toast.add({ title: 'Échec de la mise à jour du nom d\'équipe.', color: 'red' });
    } finally {
        loading.value = false;
    }
}

const onFormAddressSearch = async (query) => {
    loading.value = true;
    try {
        const searchQuery = await $placekit.search(query, { types: ['street'] });
        return searchQuery.results.map(result => ({ value: result, label: result.name + ', ' + result.zipcode + ' ' + result.city }));
    } catch (error) {
        console.error('Error fetching address options:', error);
        return [];
    } finally {
        loading.value = false;
    }
};

// Function to normalize file names by replacing spaces, accents, and special characters
function normalizeFileName(fileName) {
    return fileName
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .normalize('NFD') // Normalize the file name
        .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
        .replace(/[^a-zA-Z0-9.-]/g, ''); // Remove special characters
}

// Function to generate a unique file name
function generateUniqueFileName(fileName) {
    const timestamp = Date.now();
    const normalizedFileName = normalizeFileName(fileName);
    const extension = normalizedFileName.split('.').pop();
    const nameWithoutExtension = normalizedFileName.replace(`.${extension}`, '');
    return `${nameWithoutExtension}-${timestamp}.${extension}`;
}

// Upload files to Supabase Storage
async function uploadFile(file) {
    const fileName = generateUniqueFileName(file.name); // Generate unique file name
    const { data, error } = await supabase.storage.from('uploads').upload(`public/${fileName}`, file);
    if (error) {
        console.error('Error uploading file:', error);
        return null;
    }
    return data.fullPath;
}

const handleFileUpload = async (event, form, key, multiple = false) => {
    if (loading.value) return;
    loading.value = true;
    let files = null;

    if (key === 'avatar') {
        files = avatarFile.value.$el.querySelector('input[type="file"]').files
    } else {
        loading.value = false;
        return;
    }

    const urls = [];
    const acceptedImageFormats = ['image/jpeg', 'image/png', 'image/gif'];

    for (const file of files) {
        if (key === 'avatar' && !acceptedImageFormats.includes(file.type)) {
            console.error(`Invalid file type for images: ${file.type}`);
            continue;
        }

        const path = await uploadFile(file);
        if (path) {
            urls.push(`${supabase.storageUrl}/object/public/${path}`);
        }
    }

    if (multiple) {
        form[key] = form[key].concat(urls);
    } else {
        form[key] = urls[0];
    }
    loading.value = false;
};

const filteredMembers = computed(() => {
    return teamMembers.value.map(m => { return { ...m, 'full_name': m.last_name + ' ' + m.first_name } });
});

watch(countries, (newCountries) => {
    if (newCountries && newCountries.length) {
        addMemberFormState.country_id = newCountries.find(c => c.name === 'France').id;
    }
})

watch(() => addMemberFormState.first_name, (newValue) => {
    if (newValue) {
        addMemberFormState.first_name = newValue.charAt(0).toUpperCase() + newValue.slice(1).toLowerCase();
    }
});

watch(() => addMemberFormState.last_name, (newValue) => {
    if (newValue) {
        addMemberFormState.last_name = newValue.toUpperCase();
    }
});

watch(() => editMemberFormState.first_name, (newValue) => {
    if (newValue) {
        editMemberFormState.first_name = newValue.charAt(0).toUpperCase() + newValue.slice(1).toLowerCase();
    }
});

watch(() => editMemberFormState.last_name, (newValue) => {
    if (newValue) {
        editMemberFormState.last_name = newValue.toUpperCase();
    }
});

onMounted(async () => {
    await fetchUserDetails();

    renderOrgChart();
});

OrgChart.templates.customTemplate = Object.assign({}, OrgChart.templates.ana);
OrgChart.templates.customTemplate.size = [250, 100];
OrgChart.templates.customTemplate.node = `
    <rect x="0" y="0" width="250" height="100" fill="transparent" stroke-width="1" stroke="${isDark ? '#fff' : '#000'}" rx="10" ry="10"></rect>
`;
OrgChart.templates.customTemplate.field_0 = `
    <text style="font-size: 14px;" fill="${isDark ? '#fff' : '#000'}" x="30" y="30" text-anchor="start">{val}</text>
`;
OrgChart.templates.customTemplate.field_1 = `
    <text style="font-size: 14px;" fill="${isDark ? '#fff' : '#000'}" x="30" y="75" text-anchor="start">{val}</text>
`;
function renderOrgChart() {
    const orgData = teamMembers.value.map(member => ({
        id: member.id,
        pid: member.hierarchy_level === 0 ? null : teamMembers.value.find(m => m.hierarchy_level === member.hierarchy_level - 1)?.id,
        name: member.first_name + ' ' + member.last_name,
        title: `Niveau ${member.hierarchy_level}`,
        tags: ["custom"]
    }));

    new OrgChart(tree.value, {
        nodes: orgData,
        nodeBinding: {
            field_0: "name",
            field_1: "title",
        },
        layout: OrgChart.mixed,
        enableSearch: false,
        nodeMenu: null,
        nodeMouseClick: OrgChart.action.none,
        scaleInitial: 0.75,
        tags: {
            "custom": {
                template: "customTemplate"
            }
        }
    });
}
</script>

<style scoped>
#tree {
    width: 100%;
    height: 600px;
    background-color: transparent;
}
</style>
