<template>
    <!-- Title -->
    <div class="flex justify-between">
        <h1 class="text-2xl font-bold mb-4">Prospection</h1>
    </div>

    <UTabs :items="items" class="w-full">
        <template #item="{ item }">
            <UCard>
                <template #header>
                    <p class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        {{ item.label }}
                    </p>
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
                        {{ item.description }}
                    </p>
                </template>

                <div class="flex items-center mb-4">
                    <div class="gap-2 flex items-center" v-if="userProfile && userProfile.address">
                        <div class="text-sm hidden lg:block">Départ au </div>
                        <UBadge v-if="userProfile" @click="$openGoogleMaps(userProfile.address.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm"
                            class="flex items-center min-w-0 gap-1">
                            <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                            <span class="truncate">{{ userProfile.address.label }}</span>
                        </UBadge>
                    </div>
                    <UButton :loading="loading" class="ml-auto" icon="i-heroicons-plus-20-solid" size="2xs"
                        @click="isAddProspectionSlideoverOpen = true" :disabled="!userProfile || !userProfile.address">
                        <span class="hidden lg:block">Ajouter une prospection</span>
                    </UButton>
                </div>


                <UInput v-if="item.key === 'done'" class="py-2 inline-flex" type="date" v-model="selectedDate"></UInput>


                <div v-if="userProfile && userProfile.address">
                    <div v-if="item.key === 'todo'" class="space-y-3">
                        <UCard v-for="prospection in sortedTodoProspectionsWithDistances" :key="prospection.id"
                            class="mb-2">
                            <template #header>
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <UBadge color="primary" variant="subtle" class="inline-flex items-center gap-1"
                                            size="sm">
                                            <UIcon dynamic name="teenyicons:search-property-outline"></UIcon>
                                            <span>{{ prospection.property_type }}</span>
                                        </UBadge>
                                        <UBadge color="white" variant="solid" class="inline-flex items-center gap-1"
                                            size="sm">
                                            <UIcon name="i-heroicons-calendar-20-solid"></UIcon>
                                            <span>{{ format(new Date(prospection.prospect_date), 'dd/MM/yyyy') }}</span>
                                        </UBadge>
                                        <UBadge color="gray" variant="solid" class="inline-flex items-center gap-1"
                                            size="sm">
                                            <UIcon name="i-heroicons-map-20-solid"></UIcon>
                                            <span>+{{ prospection.distance.toFixed(1) }} <span
                                                    class="hidden md:inline">km</span></span>
                                        </UBadge>
                                    </div>
                                    <UButton :loading="loading" variant="ghost" color="red"
                                        icon="i-heroicons-trash-20-solid" size="2xs"
                                        @click="deleteProspection(prospection.id)">
                                        <span class="hidden lg:block">Supprimer</span>
                                    </UButton>
                                </div>
                            </template>

                            <img v-if="prospection.image" :src="prospection.image"
                                class="object-cover rounded-lg h-48 w-full sm:hidden mb-4" />
                            <div class="flex justify-between gap-2">

                                <div class="items-center flex gap-4">
                                    <img v-if="prospection.image" :src="prospection.image"
                                        class="rounded-lg object-cover w-36 hidden sm:block" />
                                    <UBadge @click="$openGoogleMaps(prospection.address.value.coordinates)" color="blue"
                                        variant="soft" size="sm" class="flex items-center min-w-0 gap-1">
                                        <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                                        <span class="truncate">{{ prospection.address.label }}</span>
                                    </UBadge>
                                </div>

                                <div class="flex gap-2">
                                    <UButton :loading="loading" size="xs" class="hidden lg:flex self-center"
                                        color="gray" @click="$openGoogleMaps(prospection.address.value.coordinates)">
                                        <span class="hidden lg:block">Y aller</span>
                                        <template #trailing>
                                            <UIcon dynamic name="hugeicons:route-02" class="w-5 h-5" />
                                        </template>
                                    </UButton>
                                    <UButton class="self-center" :loading="loading" size="xs" color="primary"
                                        variant="solid" @click="completeProspection(prospection.id)">
                                        <span class="hidden lg:block">Terminer</span>
                                        <template #trailing>
                                            <UIcon dynamic name="iconamoon:check-circle-1" class="w-5 h-5" />
                                        </template>
                                    </UButton>
                                </div>

                            </div>
                        </UCard>
                    </div>
                    <div v-else-if="item.key === 'done'" class="space-y-3">
                        <UCard v-for="prospection in doneProspectionsFiltered" :key="prospection.id" class="mb-2">
                            <template #header>
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <UBadge color="primary" variant="subtle" class="inline-flex items-center gap-1"
                                            size="sm">
                                            <UIcon dynamic name="teenyicons:search-property-outline"></UIcon>
                                            <span>{{ prospection.property_type }}</span>
                                        </UBadge>
                                        <UBadge color="white" variant="solid" class="inline-flex items-center gap-1"
                                            size="sm">
                                            <UIcon name="i-heroicons-calendar-20-solid"></UIcon>
                                            <span>{{ format(new Date(prospection.prospect_date), 'dd/MM/yyyy') }}</span>
                                        </UBadge>
                                    </div>
                                    <UButton :loading="loading" variant="ghost" color="white" size="2xs">
                                        <span class="hidden lg:block">Complétée le {{ format(new
        Date(prospection.terminated_at), 'dd/MM/yyyy') }}</span>
                                    </UButton>
                                </div>
                                <div class="mt-4 space-y-2">
                                    <UBadge v-if="prospection.status" color="gray" variant="solid" class="gap-1"
                                        size="sm">
                                        <UIcon dynamic name="grommet-icons:status-info"></UIcon>
                                        <span>{{ (prospection.status) }}</span>
                                    </UBadge>
                                    <p v-if="prospection.notes" class="mt-4 text-xs"><span
                                            class="font-semibold">Notes</span>: {{ prospection.notes
                                        }}
                                    </p>
                                </div>

                            </template>

                            <img v-if="prospection.image" :src="prospection.image"
                                class="object-cover rounded-lg h-48 w-full sm:hidden mb-4" />

                            <div class="flex justify-between gap-2">
                                <div class="flex items-center gap-4">
                                    <img v-if="prospection.image" :src="prospection.image"
                                        class="rounded-lg object-cover w-36 hidden sm:block" />
                                    <UBadge @click="$openGoogleMaps(prospection.address.value.coordinates)" color="blue"
                                        variant="soft" size="sm" class="gap-1 flex items-center min-w-0">
                                        <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                                        <span class="truncate">{{ prospection.address.label }}</span>
                                    </UBadge>
                                </div>


                                <div class="flex gap-2">
                                    <UButton :loading="loading" size="xs" class="hidden lg:flex self-center" color="gray"
                                        @click="$openGoogleMaps(prospection.address.value.coordinates)">
                                        <span class="hidden lg:block">Y aller</span>
                                        <template #trailing>
                                            <UIcon dynamic name="hugeicons:route-02" class="w-5 h-5" />
                                        </template>
                                    </UButton>
                                    <UButton class="self-center" :loading="loading" size="xs" color="gray" variant="solid"
                                        @click="openEditProspectionSlideover(prospection)">
                                        <span class="hidden lg:block">Modifier</span>
                                        <template #trailing>
                                            <UIcon dynamic name="i-heroicons-pencil-square-20-solid" class="w-5 h-5" />
                                        </template>
                                    </UButton>
                                </div>
                            </div>
                        </UCard>
                        <div v-if="!doneProspectionsFiltered.length"
                            class="py-4 text-sm text-gray-400 flex items-center justify-center">Veuillez choisir une
                            autre date</div>
                    </div>
                </div>
                <div v-else>
                    <UAlert color="red" variant="subtle" title="Attention"
                        description="Vous devez ajouter une adresse à votre profil pour accéder aux prospections." />
                </div>

            </UCard>
        </template>
    </UTabs>

    <USlideover v-model="isAddProspectionSlideoverOpen">
        <UCard>
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">Ajouter une prospection
                    </h3>
                    <UButton :loading="loading" color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid"
                        class="-my-1" @click="isAddProspectionSlideoverOpen = false" />
                </div>
            </template>
            <UForm :schema="schema" :state="addProspectionFormState" @submit="onSubmit" class="space-y-4">
                <UFormGroup label="Image" name="image">
                    <div class="flex items-center gap-4 mt-4">
                        <img v-if="addProspectionFormState.image" class="rounded-lg object-cover w-36"
                            :src="addProspectionFormState.image" />
                        <UInput class="flex-grow" type="file" ref="imageFile" accept="image/jpeg, image/png, image/gif"
                            @change="event => handleFileUpload(event, addProspectionFormState, 'image')">
                        </UInput>
                    </div>
                </UFormGroup>
                <UFormGroup label="Date de prospection" name="prospect_date">
                    <UInput type="date" v-model="addProspectionFormState.prospect_date" :min="today" />
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <USelectMenu v-model="addProspectionFormState.address" placeholder="Chercher une adresse"
                        :loading="loading" :searchable="onFormAddressSearch" />
                </UFormGroup>
                <UFormGroup label="Type de bien" name="property_type">
                    <USelectMenu v-model="addProspectionFormState.property_type" :options="propertyTypes"
                        placeholder="Type de bien" />
                </UFormGroup>
                <UButton :loading="loading" type="submit" color="primary" class="mt-4">Ajouter</UButton>
            </UForm>
        </UCard>
    </USlideover>

    <USlideover v-model="isEditProspectionSlideoverOpen">
        <UCard>
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">Modifier une prospection
                    </h3>
                    <UButton :loading="loading" color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid"
                        class="-my-1" @click="isEditProspectionSlideoverOpen = false" />
                </div>
            </template>
            <UForm :schema="editSchema" :state="editProspectionFormState" @submit="onEditSubmit" class="space-y-4">
                <UFormGroup label="Image" name="image">
                    <div class="flex items-center gap-4 mt-4">
                        <img v-if="editProspectionFormState.image" class="rounded-lg object-cover w-36"
                            :src="editProspectionFormState.image" />
                        <UInput class="flex-grow" type="file" ref="imageFile" accept="image/jpeg, image/png, image/gif"
                            @change="event => handleFileUpload(event, editProspectionFormState, 'image')">
                        </UInput>
                    </div>
                </UFormGroup>
                <UFormGroup label="Date de prospection" name="prospect_date">
                    <UInput type="date" v-model="editProspectionFormState.prospect_date" :min="new Date()" disabled />
                </UFormGroup>
                <UFormGroup label="Adresse" name="address">
                    <USelectMenu v-model="editProspectionFormState.address" placeholder="Chercher une adresse"
                        :loading="loading" :searchable="onFormAddressSearch" disabled />
                </UFormGroup>
                <UFormGroup label="Type de bien" name="property_type">
                    <USelectMenu v-model="editProspectionFormState.property_type" :options="propertyTypes"
                        placeholder="Type de bien" disabled />
                </UFormGroup>
                <UFormGroup label="Notes" name="notes">
                    <UTextarea v-model="editProspectionFormState.notes" placeholder="Ajouter des notes" />
                </UFormGroup>
                <UFormGroup label="Statut" name="status">
                    <USelectMenu v-model="editProspectionFormState.status" :options="Object.values(ProspectionStatus)"
                        placeholder="Sélectionner un statut" />
                </UFormGroup>
                <UButton :loading="loading" type="submit" color="primary" class="mt-4">Modifier</UButton>
            </UForm>
        </UCard>
    </USlideover>

    <UNotifications />
</template>

<script setup>
import { onMounted, ref, computed } from 'vue';
import { z } from 'zod';
import { PropertyType, ProspectionStatus } from '../../utils/enums';
import { format } from 'date-fns';

definePageMeta({
    layout: 'authenticated'
});

const { userDetails: userProfile } = useRealtimeState()
const today = new Date().toISOString().split('T')[0];
const supabase = useSupabaseClient();
const user = useSupabaseUser();
const { $placekit } = useNuxtApp();
const { $openGoogleMaps } = useNuxtApp();
const toast = useToast();
const selectedDate = ref(today);
const imageFile = ref(null);

const loading = ref(false);

const items = reactive([
    { key: 'todo', label: 'A faire', description: 'Retrouvez votre itinéraire de prospection optimisé.' },
    { key: 'done', label: 'Terminée', description: 'Consultez et complétez vos anciennes adresses prospectées.' }
]);

const todoProspections = ref([]);
const doneProspections = ref([]);
const doneProspectionsFiltered = computed(() => {
    if (selectedDate.value) {
        return doneProspections.value.filter(prospection =>
            prospection.prospect_date === selectedDate.value
        );
    }
    return doneProspections.value;
});
const isEditProspectionSlideoverOpen = ref(false);
const isAddProspectionSlideoverOpen = ref(false);
const propertyTypes = Object.values(PropertyType);

const addProspectionFormState = reactive({
    image: null,
    prospect_date: new Date().toISOString().split('T')[0],
    address: null,
    property_type: PropertyType.MAISON
});

const editProspectionFormState = reactive({
    id: null,
    prospect_date: '',
    address: null,
    property_type: '',
    notes: '',
    status: '',
    image: null
});

function openEditProspectionSlideover(prospection) {
    editProspectionFormState.id = prospection.id;
    editProspectionFormState.prospect_date = prospection.prospect_date;
    editProspectionFormState.address = prospection.address;
    editProspectionFormState.property_type = prospection.property_type;
    editProspectionFormState.notes = prospection.notes || '';
    editProspectionFormState.status = prospection.status || '';
    editProspectionFormState.image = prospection.image || null;
    isEditProspectionSlideoverOpen.value = true;
}

const schema = z.object({
    prospect_date: z.string().nonempty('La date doit être aujourd\'hui ou ultérieure'),
    address: z.any().refine(addr => addr !== null, { message: 'Une adresse est requise' }),
    property_type: z.string().nonempty('Type de propriété requis'),
    image: z.string().nullable()
});

const editSchema = z.object({
    prospect_date: z.string().nonempty('La date doit être aujourd\'hui ou ultérieure'),
    address: z.any().refine(addr => addr !== null, { message: 'Une adresse est requise' }),
    property_type: z.string().nonempty('Type de propriété requis'),
    notes: z.string().optional(),
    status: z.string().optional(),
    image: z.string().nullable()

});

const sortedTodoProspections = computed(() => {
    if (userProfile.value && userProfile.value.address) {
        const userPosition = userProfile.value.address.value;
        const locations = [userPosition, ...todoProspections.value.map(p => p.address.value)];
        const n = locations.length;
        const distMatrix = Array.from({ length: n }, () => Array(n).fill(0));

        for (let i = 0; i < n; i++) {
            for (let j = 0; j < n; j++) {
                if (i !== j) {
                    distMatrix[i][j] = haversineDistance(locations[i], locations[j]);
                }
            }
        }

        const tspPath = solveTSP(distMatrix);
        const prospectionPath = tspPath.slice(1);

        return prospectionPath.map(index => todoProspections.value[index - 1]);
    }
    return todoProspections.value;
});

const sortedTodoProspectionsWithDistances = computed(() => {
    const sortedProspections = sortedTodoProspections.value;
    const userCoords = userProfile.value ? userProfile.value.address.value : null;

    if (userCoords) {
        return sortedProspections.map((prospection, index) => {
            if (index === 0) {
                prospection.distance = haversineDistance(userCoords, prospection.address.value);
            } else {
                const previousProspection = sortedProspections[index - 1];
                prospection.distance = haversineDistance(previousProspection.address.value, prospection.address.value);
            }
            return prospection;
        });
    }

    return sortedProspections.map(prospection => {
        prospection.distance = 0;
        return prospection;
    });
});

async function fetchProspections() {
    const { data: todoData, error: todoError } = await supabase
        .from('prospections')
        .select('*')
        .eq('user_id', user.value.id)
        .is('terminated_at', null);

    if (todoError) {
        console.error('Erreur lors de la récupération des prospections à faire:', todoError);
        toast.add({ title: 'Erreur lors de la récupération des prospections à faire', color: 'red' });
    } else {
        todoProspections.value = todoData;
    }

    const { data: doneData, error: doneError } = await supabase
        .from('prospections')
        .select('*')
        .eq('user_id', user.value.id)
        .not('terminated_at', 'is', null)
        .order('terminated_at', { ascending: false });


    if (doneError) {
        console.error('Erreur lors de la récupération des prospections terminées:', doneError);
        toast.add({ title: 'Erreur lors de la récupération des prospections terminées', color: 'red' });
    } else {
        doneProspections.value = doneData;
    }
}

async function onSubmit() {
    loading.value = true;
    const { data, error } = await supabase
        .from('prospections')
        .insert([{
            image: addProspectionFormState.image,
            prospect_date: addProspectionFormState.prospect_date,
            address: addProspectionFormState.address,
            property_type: addProspectionFormState.property_type
        }]);

    if (error) {
        console.error('Erreur lors de l\'ajout de la prospection:', error);
        toast.add({ title: 'Erreur lors de l\'ajout de la prospection', color: 'red' });
    } else {
        console.log('Prospection ajoutée avec succès:', data);
        await fetchProspections();
        isAddProspectionSlideoverOpen.value = false;
        addProspectionFormState.image = null;
        addProspectionFormState.prospect_date = new Date().toISOString().split('T')[0];
        addProspectionFormState.address = null;
        addProspectionFormState.property_type = PropertyType.MAISON;
    }
    loading.value = false;
}

async function onEditSubmit() {
    loading.value = true;
    const { error } = await supabase
        .from('prospections')
        .update({
            image: editProspectionFormState.image,
            notes: editProspectionFormState.notes,
            status: editProspectionFormState.status
        })
        .eq('id', editProspectionFormState.id);

    if (error) {
        console.error('Erreur lors de la modification de la prospection:', error);
        toast.add({ title: 'Erreur lors de la modification de la prospection', color: 'red' });
    } else {
        console.log('Prospection modifiée avec succès');
        await fetchProspections();
        isEditProspectionSlideoverOpen.value = false;
    }
    loading.value = false;
}

const onFormAddressSearch = async (query) => {
    loading.value = true;
    try {
        const searchQuery = await $placekit.search(query, { types: ['street'] });
        return searchQuery.results.map(result => ({ value: result, label: `${result.name}, ${result.zipcode} ${result.city}` }));
    } catch (error) {
        console.error('Error fetching address options:', error);
        return [];
    } finally {
        loading.value = false;
    }
};

function haversineDistance(coords1, coords2) {
    const R = 6371; // Radius of the Earth in km
    const dLat = (coords2.lat - coords1.lat) * Math.PI / 180;
    const dLon = (coords2.lng - coords1.lng) * Math.PI / 180;
    const lat1 = coords1.lat * Math.PI / 180;
    const lat2 = coords2.lat * Math.PI / 180;

    const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    const d = R * c; // Distance in km

    return d;
}

function solveTSP(distMatrix) {
    const n = distMatrix.length;
    const visited = Array(n).fill(false);
    const path = [0]; // Start at the first location

    function nearestNeighbor(current) {
        visited[current] = true;
        if (path.length === n) return;

        let nearest = -1;
        let minDist = Infinity;

        for (let i = 0; i < n; i++) {
            if (!visited[i] && distMatrix[current][i] < minDist) {
                nearest = i;
                minDist = distMatrix[current][i];
            }
        }

        if (nearest !== -1) {
            path.push(nearest);
            nearestNeighbor(nearest);
        }
    }

    nearestNeighbor(0);
    return path;
}
async function deleteProspection(id) {
    loading.value = true;
    const { error } = await supabase
        .from('prospections')
        .delete()
        .eq('id', id);

    if (error) {
        console.error('Erreur lors de la suppression de la prospection:', error);
        toast.add({ title: 'Erreur lors de la suppression de la prospection', color: 'red' });
    } else {
        console.log('Prospection supprimée avec succès');
        await fetchProspections();
    }
    loading.value = false;
}

async function completeProspection(id) {
    loading.value = true;
    const { error } = await supabase
        .from('prospections')
        .update({ terminated_at: new Date().toISOString() })
        .eq('id', id);

    if (error) {
        console.error('Erreur lors de la mise à jour de la prospection:', error);
        toast.add({ title: 'Erreur lors de la mise à jour de la prospection', color: 'red' });
    } else {
        console.log('Prospection mise à jour avec succès');
        await fetchProspections();
    }
    loading.value = false;
}

// Function to normalize file names by replacing spaces, accents, and special characters
function normalizeFileName(fileName) {
    return fileName
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .normalize('NFD') // Normalize the file name
        .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
        .replace(/[^a-zA-Z0-9.-]/g, ''); // Remove special characters
}

// Function to generate a unique file name
function generateUniqueFileName(fileName) {
    const timestamp = Date.now();
    const normalizedFileName = normalizeFileName(fileName);
    const extension = normalizedFileName.split('.').pop();
    const nameWithoutExtension = normalizedFileName.replace(`.${extension}`, '');
    return `${nameWithoutExtension}-${timestamp}.${extension}`;
}

// Upload files to Supabase Storage
async function uploadFile(file) {
    const fileName = generateUniqueFileName(file.name); // Generate unique file name
    const { data, error } = await supabase.storage.from('uploads').upload(`public/${fileName}`, file);
    if (error) {
        console.error('Error uploading file:', error);
        return null;
    }
    return data.fullPath;
}

const handleFileUpload = async (event, form, key, multiple = false) => {
    if (loading.value) return;
    loading.value = true;
    let files = null;

    if (key === 'image') {
        files = imageFile.value.$el.querySelector('input[type="file"]').files
    } else {
        loading.value = false;
        return;
    }

    const urls = [];
    const acceptedImageFormats = ['image/jpeg', 'image/png', 'image/gif'];

    for (const file of files) {
        if (key === 'image' && !acceptedImageFormats.includes(file.type)) {
            console.error(`Invalid file type for images: ${file.type}`);
            continue;
        }

        const path = await uploadFile(file);
        if (path) {
            urls.push(`${supabase.storageUrl}/object/public/${path}`);
        }
    }

    if (multiple) {
        form[key] = form[key].concat(urls);
    } else {
        form[key] = urls[0];
    }
    loading.value = false;
};

watch(userProfile, async (newVal) => {
    if (!newVal?.address) {
        toast.add({ title: 'Veuillez ajouter une adresse à votre profil.', color: 'red' });
    } else {
        await fetchProspections();
    }
})

onMounted(async () => {
    if (!userProfile.value?.address) {
        toast.add({ title: 'Veuillez ajouter une adresse à votre profil.', color: 'red' });
    } else {
        await fetchProspections();
    }
})

</script>