<template>
    <!-- Title -->
    <h1 class="text-2xl font-bold mb-4">Biens</h1>
    <UTabs :items="items" class="w-full" :orientation="tabOrientation">
        <template #a_vendre="{ item }">
            <UCard>
                <template #header>
                    <!-- Search Input -->
                    <UInput v-model="searchQuery" icon="i-heroicons-magnifying-glass-20-solid"
                        placeholder="Rechercher..." class="w-full mb-4" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>


                <!-- Add New Property and Reset Filters Buttons -->
                <div class="mb-4 flex gap-4">
                    <div class="ml-auto flex gap-4">
                        <UButton icon="i-heroicons-plus-20-solid" color="primary" @click="openSlideover('add')">Ajouter
                            une nouvelle
                            propriété</UButton>
                    </div>
                </div>

                <!-- Table -->
                <UTable :columns="columnsAVendre" :rows="filteredProperties(item.properties)" :loading="loading">
                    <template #listing_date-data="{ row }">
                        <span>{{ format(new Date(row.listing_date), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                    <template #images-data="{ row }">
                        <img @click="openSlideover('view', row)"
                            class="mx-auto min-w-36 w-36 xl:min-w-48 xl:w-48 object-fit rounded-md"
                            v-if="row.images && row.images.length" :src="row.images[0]" />
                        <UButton variant="link" v-else @click="openSlideover('view', row)"
                            class="text-sm text-center text-gray-400">Voir le bien</UButton>
                    </template>
                    <template #address-data="{ row }">
                        <UBadge @click="$openGoogleMaps(row.address?.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm">
                            <UIcon name="i-heroicons-map-pin-20-solid mr-1"></UIcon>
                            <span class="truncate">{{ row.address?.label }}</span>
                        </UBadge>
                    </template>
                    <template #price-data="{ row }">
                        <span>{{ $formatPrice(row.price) }}</span>
                    </template>
                    <template #status-data="{ row }">
                        <UBadge :color="getBadgeColor(row.status)" variant="soft">{{ row.status }}</UBadge>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun bien trouvé.</div>
                        </div>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #sous_compromis="{ item }">
            <UCard>
                <template #header>
                    <!-- Search Input -->
                    <UInput v-model="searchQuery" icon="i-heroicons-magnifying-glass-20-solid"
                        placeholder="Rechercher..." class="w-full mb-4" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>


                <!-- Add New Property and Reset Filters Buttons -->
                <div class="mb-4 flex gap-4">
                    <div class="ml-auto flex gap-4">
                        <UButton icon="i-heroicons-plus-20-solid" color="primary" @click="openSlideover('add')">Ajouter
                            une nouvelle
                            propriété</UButton>
                    </div>
                </div>

                <!-- Table -->
                <UTable :columns="columnsSousCompromis" :rows="filteredProperties(item.properties)" :loading="loading">
                    <template #under_agreement_date-data="{ row }">
                        <span>{{ format(new Date(row.under_agreement_date), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                    <template #images-data="{ row }">
                        <img @click="openSlideover('view', row)"
                            class="mx-auto min-w-36 w-36 xl:min-w-48 xl:w-48 object-fit rounded-md"
                            v-if="row.images && row.images.length" :src="row.images[0]" />
                        <UButton variant="link" v-else @click="openSlideover('view', row)"
                            class="text-sm text-center text-gray-400">Voir le bien</UButton>

                    </template>
                    <template #address-data="{ row }">
                        <UBadge @click="$openGoogleMaps(row.address?.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm">
                            <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                            <span class="truncate">{{ row.address?.label }}</span>
                        </UBadge>
                    </template>
                    <template #price-data="{ row }">
                        <span>{{ $formatPrice(row.price) }}</span>
                    </template>
                    <template #status-data="{ row }">
                        <UBadge :color="getBadgeColor(row.status)" variant="soft">{{ row.status }}</UBadge>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun bien trouvé.</div>
                        </div>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #estimation="{ item }">
            <UCard>
                <template #header>
                    <!-- Search Input -->
                    <UInput v-model="searchQuery" icon="i-heroicons-magnifying-glass-20-solid"
                        placeholder="Rechercher..." class="w-full mb-4" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>


                <!-- Add New Property and Reset Filters Buttons -->
                <div class="mb-4 flex gap-4">
                    <div class="ml-auto flex gap-4">
                        <UButton icon="i-heroicons-plus-20-solid" color="primary" @click="openSlideover('add')">Ajouter
                            une nouvelle
                            propriété</UButton>
                    </div>
                </div>

                <!-- Table -->
                <UTable :columns="columnsEstimation" :rows="filteredProperties(item.properties)" :loading="loading">
                    <template #estimation_date-data="{ row }">
                        <span>{{ format(new Date(row.estimation_date), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                    <template #images-data="{ row }">
                        <img @click="openSlideover('view', row)"
                            class="mx-auto min-w-36 w-36 xl:min-w-48 xl:w-48 object-fit rounded-md"
                            v-if="row.images && row.images.length" :src="row.images[0]" />
                        <UButton variant="link" v-else @click="openSlideover('view', row)"
                            class="text-sm text-center text-gray-400">Voir le bien</UButton>

                    </template>
                    <template #address-data="{ row }">
                        <UBadge @click="$openGoogleMaps(row.address?.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm">
                            <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                            <span class="truncate">{{ row.address?.label }}</span>
                        </UBadge>
                    </template>
                    <template #estimated_min_price-data="{ row }">
                        <span>{{ $formatPrice(row.estimated_min_price) }}</span>
                    </template>
                    <template #estimated_max_price-data="{ row }">
                        <span>{{ $formatPrice(row.estimated_max_price) }}</span>
                    </template>
                    <template #status-data="{ row }">
                        <UBadge :color="getBadgeColor(row.status)" variant="soft">{{ row.status }}</UBadge>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun bien trouvé.</div>
                        </div>
                    </template>
                </UTable>
            </UCard>
        </template>

        <template #vendu="{ item }">
            <UCard>
                <template #header>
                    <!-- Search Input -->
                    <UInput v-model="searchQuery" icon="i-heroicons-magnifying-glass-20-solid"
                        placeholder="Rechercher..." class="w-full mb-4" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>


                <!-- Add New Property and Reset Filters Buttons -->
                <div class="mb-4 flex gap-4">
                    <div class="ml-auto flex gap-4">
                        <UButton icon="i-heroicons-plus-20-solid" color="primary" @click="openSlideover('add')">Ajouter
                            une nouvelle
                            propriété</UButton>
                    </div>
                </div>

                <!-- Table -->
                <UTable :columns="columnsVendu" :rows="filteredProperties(item.properties)" :loading="loading">
                    <template #sale_date-data="{ row }">
                        <span>{{ format(new Date(row.sale_date), 'dd/MM/yyyy') }}</span>
                    </template>
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                    <template #images-data="{ row }">
                        <img @click="openSlideover('view', row)"
                            class="mx-auto min-w-36 w-36 xl:min-w-48 xl:w-48 object-fit rounded-md"
                            v-if="row.images && row.images.length" :src="row.images[0]" />
                        <UButton variant="link" v-else @click="openSlideover('view', row)"
                            class="text-sm text-center text-gray-400">Voir le bien</UButton>

                    </template>
                    <template #address-data="{ row }">
                        <UBadge @click="$openGoogleMaps(row.address?.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm">
                            <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                            <span class="truncate">{{ row.address?.label }}</span>
                        </UBadge>
                    </template>
                    <template #price-data="{ row }">
                        <span>{{ $formatPrice(row.price) }}</span>
                    </template>
                    <template #status-data="{ row }">
                        <UBadge :color="getBadgeColor(row.status)" variant="soft">{{ row.status }}</UBadge>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun bien trouvé.</div>
                        </div>
                    </template>
                </UTable>
            </UCard>
        </template>


        <template #non_vendu="{ item }">
            <UCard>
                <template #header>
                    <!-- Search Input -->
                    <UInput v-model="searchQuery" icon="i-heroicons-magnifying-glass-20-solid"
                        placeholder="Rechercher..." class="w-full mb-4" :ui="{ icon: { trailing: { pointer: '' } } }">
                        <template #trailing>
                            <UButton color="primary" variant="link" icon="i-heroicons-adjustments-horizontal-20-solid"
                                :padded="false" @click="isFiltersSlideoverOpen = true" />
                        </template>
                    </UInput>
                </template>


                <!-- Add New Property and Reset Filters Buttons -->
                <div class="mb-4 flex gap-4">
                    <div class="ml-auto flex gap-4">
                        <UButton icon="i-heroicons-plus-20-solid" color="primary" @click="openSlideover('add')">Ajouter
                            une nouvelle
                            propriété</UButton>
                    </div>
                </div>

                <!-- Table -->
                <UTable :columns="columnsNonVendu" :rows="filteredProperties(item.properties)" :loading="loading">
                    <template #actions-data="{ row }">
                        <UDropdown :items="actionItems(row)">
                            <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
                        </UDropdown>
                    </template>
                    <template #images-data="{ row }">
                        <img @click="openSlideover('view', row)"
                            class="mx-auto min-w-36 w-36 xl:min-w-48 xl:w-48 object-fit rounded-md"
                            v-if="row.images && row.images.length" :src="row.images[0]" />
                        <UButton variant="link" v-else @click="openSlideover('view', row)"
                            class="text-sm text-center text-gray-400">Voir le bien</UButton>

                    </template>
                    <template #address-data="{ row }">
                        <UBadge @click="$openGoogleMaps(row.address?.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm">
                            <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                            <span class="truncate">{{ row.address?.label }}</span>
                        </UBadge>
                    </template>
                    <template #price-data="{ row }">
                        <span>{{ $formatPrice(row.price) }}</span>
                    </template>
                    <template #status-data="{ row }">
                        <UBadge :color="getBadgeColor(row.status)" variant="soft">{{ row.status }}</UBadge>
                    </template>
                    <template #empty-state>
                        <div class="text-center py-6 flex items-center justify-center gap-2">
                            <UIcon dynamic class="text-gray-500 text-xl" name="solar:user-cross-bold"></UIcon>
                            <div class="text-gray-500 text-sm">Aucun bien trouvé.</div>
                        </div>
                    </template>
                </UTable>
            </UCard>
        </template>
    </UTabs>



    <!-- Slideover for Add/Edit Property -->
    <USlideover v-model="isSlideoverOpen" :prevent-close="isImageViewerOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">{{ slideoverMode
        === 'add' ? 'Ajouter une propriété' : slideoverMode === 'edit' ? 'Modifier la propriété' :
        'Détails de la propriété' }}
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isSlideoverOpen = false" />
                </div>
            </template>
            <div v-if="slideoverMode === 'view'" class="space-y-4 p-4">
                <div class="space-y-4">
                    <UCarousel arrows v-if="formState.images && formState.images.length" v-slot="{ item }"
                        :items="formState.images" :ui="{ item: 'basis-full' }" class="rounded-lg overflow-hidden">
                        <img :src="item" class="w-full" draggable="false">
                    </UCarousel>
                    <UFormGroup v-if="formState.status === PropertyStatus.ESTIMATION" label="Date d'estimation"
                        name="estimation_date">
                        <UInput disabled v-model="formState.estimation_date" type="date" />
                    </UFormGroup>
                    <UFormGroup v-else-if="formState.status === PropertyStatus.A_VENDRE" label="Date de mise en vente"
                        name="listing_date">
                        <UInput disabled v-model="formState.listing_date" type="date" />
                    </UFormGroup>
                    <UFormGroup v-else-if="formState.status === PropertyStatus.SOUS_COMPROMIS"
                        label="Date de sous compromis" name="under_agreement_date">
                        <UInput disabled v-model="formState.under_agreement_date" type="date" />
                    </UFormGroup>
                    <UFormGroup v-else label="Date de vente" name="sale_date">
                        <UInput disabled v-model="formState.sale_date" type="date" />
                    </UFormGroup>
                    <UFormGroup label="Statut actuel" name="status">
                        <UInput disabled v-model="formState.status" placeholder="Statut" />
                    </UFormGroup>
                    <UFormGroup v-if="formState.status === PropertyStatus.A_VENDRE" label="Prix" name="price">
                        <UInput disabled v-model="formState.price" type="number" />
                    </UFormGroup>
                    <UFormGroup v-if="formState.status === PropertyStatus.ESTIMATION"
                        label="Fourchette d'estimation basse" name="estimated_min_price">
                        <UInput disabled v-model="formState.estimated_min_price" type="number" />
                    </UFormGroup>
                    <UFormGroup v-if="formState.status === PropertyStatus.ESTIMATION"
                        label="Fourchette d'estimation haute" name="estimated_max_price">
                        <UInput disabled v-model="formState.estimated_max_price" type="number" />
                    </UFormGroup>
                    <UFormGroup label="Propriétaire actuel" name="current_owner">
                        <UInput disabled v-model="formState.current_owner" placeholder="Aucun propriétaire" />
                    </UFormGroup>
                    <UFormGroup label="Adresse" name="address">

                        <UBadge v-if="formState.address" @click="$openGoogleMaps(formState.address.value.coordinates)"
                            :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm"
                            class="inline-flex items-center gap-1">
                            <UIcon name="i-heroicons-map-pin-20-solid"></UIcon>
                            <span>{{ formState.address.label }}</span>


                        </UBadge>
                        <UInput v-else disabled v-model="formState.address" placeholder="Aucune adresse" />

                    </UFormGroup>
                    <UFormGroup label="Type de propriété" name="property_type">
                        <UInput disabled v-model="formState.property_type" placeholder="Aucun type de propriété" />
                    </UFormGroup>
                    <UFormGroup label="Nombre de chambres" name="bedrooms">
                        <UInput disabled v-model="formState.bedrooms" type="number" />
                    </UFormGroup>
                    <UFormGroup label="Nombre de pièces" name="rooms">
                        <UInput disabled v-model="formState.rooms" type="number" />
                    </UFormGroup>
                    <UFormGroup label="Surface terrain en m²" name="area_sq_m">
                        <UInput disabled v-model="formState.area_sq_m" type="number" />
                    </UFormGroup>
                    <UFormGroup label="Rapport d'évaluation" name="valuation_report">
                        <div v-if="formState.valuation_report" class="flex items-center">
                            <a :href="formState.valuation_report" target="_blank" class="text-blue-500 underline">Voir
                                le
                                rapport</a>
                        </div>
                        <div v-else class="text-sm text-gray-400">Aucun rapport d'évaluation</div>
                    </UFormGroup>
                    <UFormGroup label="Fiche technique" name="technical_sheet">
                        <div v-if="formState.technical_sheet" class="flex items-center">
                            <a :href="formState.technical_sheet" target="_blank" class="text-blue-500 underline">Voir la
                                fiche</a>
                        </div>
                        <div v-else class="text-sm text-gray-400">Aucune fiche technique</div>
                    </UFormGroup>
                    <UFormGroup label="Documents divers" name="miscellaneous_docs">
                        <div v-if="formState.miscellaneous_docs && formState.miscellaneous_docs.length">
                            <div v-for="(url, index) in formState.miscellaneous_docs" :key="index"
                                class="flex items-center mb-2">
                                <a :href="url" target="_blank" class="text-blue-500 underline">Document {{ index + 1
                                    }}</a>
                            </div>
                        </div>
                        <div v-else class="text-sm text-gray-400">Aucun autre document</div>

                    </UFormGroup>
                    <UFormGroup label="Notes" name="notes">
                        <UTextarea disabled v-model="formState.notes" />
                    </UFormGroup>

                    <UDivider label="Rapprochement"></UDivider>
                    <div v-if="!formState.contacts_properties || !formState.contacts_properties.length"
                        class="text-sm text-gray-400 text-center">
                        Aucun résultat</div>
                    <NuxtLink v-else
                        v-for="contact in formState.contacts_properties.filter(cp => cp.contacts.user_id === user.id)"
                        :to="{
        path: '/',
        query: {
            contactId: contact.contacts.id
        }
    }">
                        <UBadge :ui="{ base: 'cursor-pointer' }" color="primary" variant="soft" size="sm"
                            class="inline-flex items-center gap-1">
                            <UIcon name="i-heroicons-user-20-solid"></UIcon>
                            <span>{{ contact.contacts.first_name + ' ' + contact.contacts.last_name }}</span>
                        </UBadge>
                    </NuxtLink>
                </div>
            </div>
            <UForm v-else :schema="schema" :state="formState" class="space-y-4" @submit="onSubmit">
                <UFormGroup required v-if="formState.status === PropertyStatus.ESTIMATION" label="Date d'estimation"
                    name="estimation_date">
                    <UInput v-model="formState.estimation_date" type="date" />
                </UFormGroup>
                <UFormGroup required v-else-if="formState.status === PropertyStatus.A_VENDRE" label="Date de mise en vente"
                    name="listing_date">
                    <UInput v-model="formState.listing_date" type="date" />
                </UFormGroup>
                <UFormGroup required v-else-if="formState.status === PropertyStatus.SOUS_COMPROMIS"
                    label="Date de sous compromis" name="under_agreement_date">
                    <UInput v-model="formState.under_agreement_date" type="date" />
                </UFormGroup>
                <UFormGroup required v-else label="Date de vente" name="sale_date">
                    <UInput v-model="formState.sale_date" type="date" />
                </UFormGroup>
                <UFormGroup required v-if="slideoverMode === 'edit'" label="Statut actuel" name="status">
                    <USelectMenu :options="propertyStatuses"  v-model="formState.status" placeholder="Statut" />
                </UFormGroup>
                <UFormGroup required v-if="formState.status === PropertyStatus.A_VENDRE" label="Prix" name="price">
                    <UInput v-model="formState.price" type="number" />
                </UFormGroup>
                <UFormGroup required v-if="formState.status === PropertyStatus.ESTIMATION" label="Fourchette d'estimation basse"
                    name="estimated_min_price">
                    <UInput v-model="formState.estimated_min_price" type="number" />
                </UFormGroup>
                <UFormGroup required v-if="formState.status === PropertyStatus.ESTIMATION" label="Fourchette d'estimation haute"
                    name="estimated_max_price">
                    <UInput v-model="formState.estimated_max_price" type="number" />
                </UFormGroup>
                <UFormGroup required label="Propriétaire actuel" name="current_owner">
                    <USelectMenu option-attribute="label" value-attribute="value" v-model="formState.current_owner"
                        :options="contacts" placeholder="Propriétaire actuel" allow-null />
                </UFormGroup>
                <UFormGroup required label="Adresse" name="address">
                    <USelectMenu v-model="formState.address" placeholder="Chercher une adresse" :loading="sectorLoading"
                        :searchable="onFormAddressSearch" />
                </UFormGroup>
                <UFormGroup required label="Type de propriété" name="property_type">
                    <USelectMenu v-model="formState.property_type" :options="propertyTypes" />
                </UFormGroup>
                <UFormGroup required label="Nombre de chambres" name="bedrooms">
                    <UInput v-model="formState.bedrooms" type="number" />
                </UFormGroup>
                <UFormGroup required label="Nombre de pièces" name="rooms">
                    <UInput v-model="formState.rooms" type="number" />
                </UFormGroup>
                <UFormGroup required label="Surface terrain en m²" name="area_sq_m">
                    <UInput v-model="formState.area_sq_m" type="number" />
                </UFormGroup>
                <UFormGroup label="Images" name="images">
                    <div v-if="formState.images.length">
                        <div v-for="(url, index) in formState.images" :key="index" class="mb-2 flex items-center">
                            <UButton color="blue" variant="ghost" @click="openImageViewer(index)">Voir Image {{ index +
        1 }}
                            </UButton>
                            <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
                                @click="removeFile('images', index)" />
                        </div>
                    </div>
                    <UInput ref="fileImages" type="file" accept="image/jpeg, image/png, image/gif" multiple
                        @change="event => handleFileUpload(event, 'images', true)" />
                </UFormGroup>
                <UFormGroup label="Rapport d'évaluation" name="valuation_report">
                    <div v-if="formState.valuation_report" class="flex items-center">
                        <a :href="formState.valuation_report" target="_blank" class="text-blue-500 underline">Voir le
                            rapport</a>
                        <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
                            @click="removeFile('valuation_report')" />
                    </div>
                    <UInput ref="fileValuationReport" type="file"
                        accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        @change="event => handleFileUpload(event, 'valuation_report')" />
                </UFormGroup>
                <UFormGroup label="Fiche technique" name="technical_sheet">
                    <div v-if="formState.technical_sheet" class="flex items-center">
                        <a :href="formState.technical_sheet" target="_blank" class="text-blue-500 underline">Voir la
                            fiche</a>
                        <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
                            @click="removeFile('technical_sheet')" />
                    </div>
                    <UInput ref="fileTechnicalSheet" type="file"
                        accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        @change="event => handleFileUpload(event, 'technical_sheet')" />
                </UFormGroup>
                <UFormGroup label="Documents divers" name="miscellaneous_docs">
                    <div v-if="formState.miscellaneous_docs.length">
                        <div v-for="(url, index) in formState.miscellaneous_docs" :key="index"
                            class="flex items-center mb-2">
                            <a :href="url" target="_blank" class="text-blue-500 underline">Document {{ index + 1 }}</a>
                            <UButton color="red" variant="ghost" icon="i-heroicons-trash-20-solid"
                                @click="removeFile('miscellaneous_docs', index)" />
                        </div>
                    </div>
                    <UInput ref="fileMisc" type="file"
                        accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        multiple @change="event => handleFileUpload(event, 'miscellaneous_docs', true)" />
                </UFormGroup>
                <UFormGroup label="Notes" name="notes">
                    <UTextarea v-model="formState.notes" />
                </UFormGroup>
                <div class="flex justify-between">
                    <UButton type="submit" :loading="loading">
                        {{ slideoverMode === 'add' ? 'Ajouter' : 'Modifier' }}
                    </UButton>
                </div>

            </UForm>

        </UCard>
    </USlideover>

    <USlideover v-model="isFiltersSlideoverOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Filtres
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isFiltersSlideoverOpen = false" />
                </div>
            </template>
            <div class="flex flex-col gap-4 mb-4">
                <UFormGroup label="Prix Min">
                    <UInput v-model="filters.price_min" type="number" placeholder="Prix Min" />
                </UFormGroup>

                <UFormGroup label="Prix Max">
                    <UInput v-model="filters.price_max" type="number" placeholder="Prix Max" />
                </UFormGroup>

                <UFormGroup label="Type de propriété">
                    <USelectMenu multiple v-model="filters.property_type" :options="propertyTypes"
                        placeholder="Type de propriété" />
                </UFormGroup>

            </div>
            <UButton color="gray" @click="resetFilters">Réinitialiser les filtres</UButton>
        </UCard>
    </USlideover>

    <!-- Modal for Delete Confirmation -->
    <UModal v-model="isDeleteModalOpen">
        <UCard :ui="{ ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                        Confirmer la suppression
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isDeleteModalOpen = false" />
                </div>
            </template>
            <div class="p-4">
                <p>Êtes-vous sûr de vouloir supprimer cette propriété ? Cette action est irréversible.</p>
            </div>
            <template #footer>
                <div class="flex justify-end gap-2 p-4">
                    <UButton color="gray" :disabled="loading" @click="isDeleteModalOpen = false">Annuler</UButton>
                    <UButton color="red" :loading="loading" @click="confirmDelete">Supprimer</UButton>
                </div>
            </template>
        </UCard>
    </UModal>

    <UModal v-model="isImageViewerOpen">
        <UCard class="flex flex-col flex-1"
            :ui="{ base: 'overflow-hidden', body: { base: 'flex-1 overflow-auto' }, ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">Visionneuse d'images
                    </h3>
                    <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                        @click="isImageViewerOpen = false" />
                </div>
            </template>
            <div class="flex justify-center items-center p-4">
                <img :src="currentImage" alt="Image" class="max-w-full max-h-full rounded-lg" />
            </div>
        </UCard>
    </UModal>

</template>


<script setup>
definePageMeta({
    layout: 'authenticated'
})
import { format } from 'date-fns'; // Importation de la fonction format de date-fns pour le formatage des dates

import { ref, computed, reactive, onMounted } from 'vue';
import { z } from 'zod';
import { PropertyStatus, PropertyType } from '~/utils/enums';
import useMatching from '~/composables/useMatching';

const route = useRoute();
const router = useRouter();

const isMobile = useMediaQuery('(max-width: 767px)')

const tabOrientation = computed(() => isMobile.value ? 'vertical' : 'horizontal')

const { initializeMatching } = useMatching();

const { $placekit } = useNuxtApp()
const { $formatPrice } = useNuxtApp();
const { $openGoogleMaps } = useNuxtApp();

// Définition des items pour les onglets
const items = computed(() => [
    {
        slot: 'estimation',
        label: 'Estimation',
        properties: properties.value?.filter(property => property.status.includes(PropertyStatus.ESTIMATION)),
    },
    {
        slot: 'a_vendre',
        label: 'A vendre',
        properties: properties.value?.filter(property => property.status.includes(PropertyStatus.A_VENDRE)),
    },
    {
        slot: 'sous_compromis',
        label: 'Sous compromis',
        properties: properties.value?.filter(property => property.status.includes(PropertyStatus.SOUS_COMPROMIS)),
    },

    {
        slot: 'vendu',
        label: 'Vendu',
        properties: properties.value?.filter(property => property.status.includes(PropertyStatus.VENDU)),
    },
    {
        slot: 'non_vendu',
        label: 'Non vendu',
        properties: properties.value?.filter(property => property.status.includes(PropertyStatus.NON_VENDU)),
    }
]);

const user = useSupabaseUser();
const supabase = useSupabaseClient();
const searchQuery = ref('');
const filters = ref({
    price_min: null,
    price_max: null,
    property_type: [],
});

// Définition des colonnes pour chaque type de table
const columnsAVendre = [
    { key: 'images' },
    {
        key: 'listing_date', label: 'Depuis le',
        sortable: true
    },
    {
        key: 'price', label: 'Prix',
        sortable: true
    },
    { key: 'address', label: 'Adresse' },
    { key: 'actions' }
];

const columnsSousCompromis = [
    { key: 'images' },
    {
        key: 'under_agreement_date', label: 'Signé le',
        sortable: true
    },
    { key: 'address', label: 'Adresse' },
    { key: 'actions' }
];

const columnsEstimation = [
    { key: 'images' },
    {
        key: 'estimation_date', label: 'Estimé le',
        sortable: true
    },
    {
        key: 'estimated_min_price', label: 'Fourchette min.',
        sortable: true
    },
    {
        key: 'estimated_max_price', label: 'Fourchette max.',
        sortable: true
    },
    { key: 'address', label: 'Adresse' },
    { key: 'actions' }
];

const columnsVendu = [
    { key: 'images' },
    {
        key: 'sale_date', label: 'Vendu le',
        sortable: true
    },
    { key: 'address', label: 'Adresse' },
    { key: 'actions' }
];

const columnsNonVendu = [
    { key: 'images' },
    { key: 'address', label: 'Adresse' },
    { key: 'actions' }
];


const isImageViewerOpen = ref(false);
const currentImage = ref(null);

const fileImages = ref(null);
const fileValuationReport = ref(null);
const fileTechnicalSheet = ref(null);
const fileMisc = ref(null);

const openImageViewer = (index) => {
    currentImage.value = formState.images[index];
    isImageViewerOpen.value = true;
};

const propertyStatuses = Object.values(PropertyStatus);
const propertyTypes = Object.values(PropertyType);
const sectorLoading = ref(false);

const properties = ref([]);
const loading = ref(false);
const contacts = ref([]); // Ajouter cette ligne
const lastContact = ref(null);
// Fetch properties from Supabase
const fetchProperties = async () => {
    loading.value = true;
    const { data, error } = await supabase.from('properties')
        .select('*, contacts!properties_current_owner_fkey(*), contacts_properties(*, contacts(*))')
        .eq('user_id', user.value?.id);

    if (error) {
        console.error('Error fetching properties:', error);
    } else {
        properties.value = data;
        checkPropertyIdInRoute();
    }
    loading.value = false;
};

// Fetch contacts from Supabase
const fetchContacts = async () => {
    const { data, error } = await supabase.from('contacts')
        .select('id, first_name, last_name')
        .eq('user_id', user.value.id)
        .order('created_at', { ascending: false });
    if (error) {
        console.error('Error fetching contacts:', error);
    } else {
        contacts.value = data.map(contact => ({
            value: contact.id,
            label: `${contact.first_name} ${contact.last_name}`
        }));

        if (contacts.value.length) {
            lastContact.value = contacts.value[0]?.value
            formState.current_owner = contacts.value[0]?.value;
        }
    }
};

onMounted(() => {
    fetchContacts();
    fetchProperties();
});

function applyFilters(property) {
    // Filtrer par type de propriété
    if (filters.value.property_type.length > 0 && !filters.value.property_type.includes(property.property_type)) {
        return false;
    }

    // Filtre par prix
    if (filters.value.price_min !== null || filters.value.price_max !== null) {
        const minPrice = filters.value.price_min ? parseFloat(filters.value.price_min) : -Infinity;
        const maxPrice = filters.value.price_max ? parseFloat(filters.value.price_max) : Infinity;

        if ([PropertyStatus.A_VENDRE, PropertyStatus.SOUS_COMPROMIS, PropertyStatus.VENDU, PropertyStatus.NON_VENDU].includes(property.status)) {
            if (property.price < minPrice || property.price > maxPrice) {
                return false;
            }
        } else if (property.status === PropertyStatus.ESTIMATION) {
            if (property.estimated_min_price < minPrice || property.estimated_max_price > maxPrice) {
                return false;
            }
        }
    }

    return true;
}

function filteredProperties(properties) {
    let filtered = properties.filter(property => applyFilters(property));

    if (searchQuery.value) {
        const searchTerm = searchQuery.value.toLowerCase();
        filtered = filtered.filter(property => {
            // Recherchez dans toutes les valeurs textuelles de la propriété, y compris l'adresse et les notes
            return Object.values(property).some(value => {
                if (typeof value === 'string') {
                    return value.toLowerCase().includes(searchTerm);
                } else if (Array.isArray(value)) {
                    return value.join(' ').toLowerCase().includes(searchTerm);
                } else if (value !== null && typeof value === 'object' && value.label) {
                    // Pour les objets comme adresse
                    return value.label.toLowerCase().includes(searchTerm);
                }
                return false;
            });
        });
    }

    return filtered;
};

const actionItems = (row) => [
    [{
        label: 'Consulter',
        icon: 'i-heroicons-eye-20-solid',
        click: () => openSlideover('view', row)
    }],
    [{
        label: 'Modifier',
        icon: 'i-heroicons-pencil-square-20-solid',
        click: () => openSlideover('edit', row)
    }],
    [{
        label: 'Supprimer',
        icon: 'i-heroicons-trash-20-solid',
        click: () => openDeleteModal(row)
    }]
];

const isSlideoverOpen = ref(false);
const isFiltersSlideoverOpen = ref(false);
const slideoverMode = ref('add');
const formState = reactive({
    status: PropertyStatus.ESTIMATION,
    price: 0,
    estimated_min_price: 0,
    estimated_max_price: 0,
    current_owner: lastContact.value,
    address: null,
    estimation_date: new Date().toISOString().split('T')[0],
    listing_date: new Date().toISOString().split('T')[0],
    under_agreement_date: new Date().toISOString().split('T')[0],
    sale_date: new Date().toISOString().split('T')[0],
    property_type: PropertyType.MAISON,
    bedrooms: null,
    rooms: null,
    area_sq_m: null,
    images: [],
    valuation_report: '',
    technical_sheet: '',
    miscellaneous_docs: [],
    notes: '',
    contacts_properties: []
});

const schema = z.object({
    status: z.string().nonempty('Statut requis'),
    price: z.number().nullable(),
    estimated_min_price: z.number({ message: 'Un prix est requis' }).positive('Un prix est requis'),
    estimated_max_price: z.number({ message: 'Un prix est requis' }).positive('Un prix est requis'),
    current_owner: z.number().int().positive().nullable().optional(), // Permettre null et optionnel
    address: z.any().refine(addr => addr !== null, {
        message: 'Une adresse est requise'
    }),
    estimation_date: z.string().nonempty('Date de mise en vente requise'),
    listing_date: z.string().nonempty('Date de mise en vente requise'),
    under_agreement_date: z.string().nonempty('Date de mise en vente requise'),
    sale_date: z.string().nonempty('Date de mise en vente requise'),
    property_type: z.string().nonempty('Type de propriété requis'),
    bedrooms: z.number({ message: 'Un nombre de chambres est requis' }).positive('Un nombre de chambres est requis'),
    rooms: z.number({ message: 'Un nombre de pièces est requis' }).positive('Un nombre de pièces est requis'),
    area_sq_m: z.number({ message: 'Une surface est requise' }).positive('Une surface est requise'),
    images: z.array(z.string().url()).max(6, 'Pas plus de six images').optional(),
    valuation_report: z.string().optional(),
    technical_sheet: z.string().optional(),
    miscellaneous_docs: z.array(z.string().url()).max(6, 'Pas plus de six documents divers').optional(),
    notes: z.string().optional()
});

const resetFilters = () => {
    searchQuery.value = '';
    filters.value = {
        status: null,
        price_min: null,
        price_max: null,
        property_type: null,
        sale_date: null
    };
};

function openSlideover(mode, property = null) {
    slideoverMode.value = mode;
    if (property) {
        Object.assign(formState, property);
    } else {
        Object.assign(formState, {
            status: PropertyStatus.ESTIMATION,
            price: 0,
            estimated_min_price: 0,
            estimated_max_price: 0,
            current_owner: lastContact.value,
            address: null,
            estimation_date: new Date().toISOString().split('T')[0],
            listing_date: new Date().toISOString().split('T')[0],
            under_agreement_date: new Date().toISOString().split('T')[0],
            sale_date: new Date().toISOString().split('T')[0],
            property_type: PropertyType.MAISON,
            bedrooms: null,
            rooms: null,
            area_sq_m: null,
            images: [],
            valuation_report: '',
            technical_sheet: '',
            miscellaneous_docs: [],
            notes: '',
            contacts_properties: []
        });
    }
    isSlideoverOpen.value = true;
}

// Add or update property
async function onSubmit(event) {
    loading.value = true;
    const data = event.data;
    delete data.contacts;
    delete data.contacts_properties;
    let result;
    if (slideoverMode.value === 'add') {
        result = await supabase.from('properties').insert(data);
    } else {
        result = await supabase.from('properties').update(data).eq('id', formState.id);
    }
    if (result.error) {
        console.error('Error:', result.error);
    } else {
        isSlideoverOpen.value = false;
        await initializeMatching();
        fetchProperties();
    }
}

const isDeleteModalOpen = ref(false);
const propertyToDelete = ref(null);

function openDeleteModal(property) {
    propertyToDelete.value = property;
    isDeleteModalOpen.value = true;
}

async function confirmDelete() {
    loading.value = true;
    if (propertyToDelete.value) {
        const { error } = await supabase.from('properties').delete().eq('id', propertyToDelete.value.id);
        if (error) {
            console.error('Error deleting property:', error);
        } else {
            await initializeMatching();
            await fetchProperties();
            // properties.value = properties.value.filter(property => property.id !== propertyToDelete.value.id);
            propertyToDelete.value = null;
            isDeleteModalOpen.value = false;
        }
    }
}

// Function to normalize file names by replacing spaces, accents, and special characters
function normalizeFileName(fileName) {
    return fileName
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .normalize('NFD') // Normalize the file name
        .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
        .replace(/[^a-zA-Z0-9.-]/g, ''); // Remove special characters
}

// Function to generate a unique file name
function generateUniqueFileName(fileName) {
    const timestamp = Date.now();
    const normalizedFileName = normalizeFileName(fileName);
    const extension = normalizedFileName.split('.').pop();
    const nameWithoutExtension = normalizedFileName.replace(`.${extension}`, '');
    return `${nameWithoutExtension}-${timestamp}.${extension}`;
}

// Upload files to Supabase Storage
async function uploadFile(file) {
    const fileName = generateUniqueFileName(file.name); // Generate unique file name
    const { data, error } = await supabase.storage.from('uploads').upload(`public/${fileName}`, file);
    if (error) {
        console.error('Error uploading file:', error);
        return null;
    }
    return data.fullPath;
}

const handleFileUpload = async (event, key, multiple = false) => {
    if (loading.value) return;
    loading.value = true;
    let files = null;

    if (key === 'images') {
        files = fileImages.value.$el.querySelector('input[type="file"]').files
    } else if (key === 'valuation_report') {
        files = fileValuationReport.value.$el.querySelector('input[type="file"]').files
    } else if (key === 'technical_sheet') {
        files = fileTechnicalSheet.value.$el.querySelector('input[type="file"]').files
    } else if (key === 'miscellaneous_docs') {
        files = fileMisc.value.$el.querySelector('input[type="file"]').files
    } else {
        loading.value = false;
        return;
    }

    const urls = [];
    const acceptedImageFormats = ['image/jpeg', 'image/png', 'image/gif'];
    const acceptedDocumentFormats = ['application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'];

    for (const file of files) {
        if (key === 'images' && !acceptedImageFormats.includes(file.type)) {
            console.error(`Invalid file type for images: ${file.type}`);
            continue;
        } else if (key !== 'images' && !acceptedDocumentFormats.includes(file.type)) {
            console.error(`Invalid file type for documents: ${file.type}`);
            continue;
        }
        const path = await uploadFile(file);
        if (path) {
            urls.push(`${supabase.storageUrl}/object/public/${path}`);
        }
    }

    if (multiple) {
        formState[key] = formState[key].concat(urls);
    } else {
        formState[key] = urls[0];
    }
    loading.value = false;
};

const removeFile = (key, index = null) => {
    if (index !== null) {
        formState[key].splice(index, 1);
    } else {
        formState[key] = null;
    }
};

const onFormAddressSearch = async (query) => {
    sectorLoading.value = true;
    try {
        const searchQuery = await $placekit.search(query, { types: ['street'] });
        return searchQuery.results.map(result => ({ value: result, label: result.name + ', ' + result.zipcode + ' ' + result.city }));
    } catch (error) {
        console.error('Error fetching address options:', error);
        return [];
    } finally {
        sectorLoading.value = false;
    }
};

const getBadgeColor = (status) => {
    switch (status) {
        case 'A vendre':
            return 'green';
        case 'Sous compromis':
            return 'orange';
        case 'Estimation':
            return 'blue';
        case 'Vendu':
            return 'red';
        default:
            return 'gray';
    }
};

const checkPropertyIdInRoute = () => {
    const propertyId = route.query.propertyId;
    if (propertyId) {
        const property = properties.value.find(p => p.id === propertyId);
        openSlideover('view', property);
    }
};


watch(route, () => {
    if (properties.value.length > 0) {
        checkPropertyIdInRoute();
    }
});

</script>
